.admin-page{
  display: flex;
  flex-direction: row;
  flex-wrap : nowrap;
  justify-content : flex-start;
  align-items : stretch;
  min-height: 100vh;
  margin: 0 !important;

  .admin-content{
    width: 100%;
  }
}
.block-checkbox-1 {
  text-align: left;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;

    &:checked + label:after {
      opacity: 1;
    }
  }

  label {
    color: $color-black-3;
    cursor: pointer;
    font-family: $font-lato;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 25px;
    position: relative;

    &:hover, &:focus {
      &:before {
        border-color: $color-blue-4;
      }
    }

    &:before {
      background: $color-white;
      border-radius: 3px;
      border: 1px solid $color-blue-3;
      box-sizing: border-box;
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      left: 0;
      top: 0;
      transition: $transition-speed-1;
    }

    &:after {
      background: url("/static/img/admin/pointer.png");
      content: '';
      height: 11px;
      left: 4px;
      opacity: 0;
      position: absolute;
      top: 2px;
      transition: $transition-speed-1;
      width: 11px;
    }
  }
}

.btn {
  box-shadow: none;
  outline: none;
  text-decoration: none;
  transition: $transition-speed-1;
  border: none;

  &.btn-button {
    background-color: $color-gray-2;
    border: 0;
    border-radius: 3px;
    color: #60686E;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 20px;
    text-align: center;
  }

  &.btn-round{
    border-radius: 30px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    i{
      font-size: 16px;
      line-height: 16px;
      width: 16px;
      height: 16px;
    }
    &.btn-round--middle{
      font-size: 14px;
      line-height: 16px;
      border-radius: 34px;
      padding: 10px 24px;
    }
  }

  &.disabled {
    cursor: default;
    opacity: 0.4;
  }

  &.btn-button--green {
    background-color: $color-green-1;
    color: $color-white;

    &.btn-shadow{
      box-shadow: 0 7px 20px -5px $color-green-1;
    }

    &:hover, &:focus {
      background-color: $color-green-2;
    }
    &:active {
      background-color: $color-green-3;
    }
    &.btn-button--green[disabled="disabled"]{
      background-color: $color-green-1;
      opacity: 0.4;
    }
  }

  &.btn-action{
    color: #C6CFDA;
    &:hover{
      color: $color-black-3;
      cursor: pointer;
    }
  }

  &.btn-button--gray {
    background-color: $color-gray-2;
    color: $color-black-3;

    &.btn-shadow{
      box-shadow: 0 7px 20px -5px $color-black-3;
    }

    &:hover, &:focus {
      background-color: $color-gray-3;
    }
    &:active {
      background-color: $color-gray-4;
    }
    &.btn-button--green[disabled="disabled"]{
      background-color: $color-black-3;
      opacity: 0.4;
    }
  }

  &.btn-link{
    color: $color-blue-4;
    font-family: $font-lato;
    font-size: 14px;
    line-height: 20px;
    padding: 0;

    &.disabled{
      opacity: 0.4;
    }

    &:hover, &:focus, &:active {
      color: $color-blue-1;
      cursor: pointer;
    }
  }

  &.btn-link--red{
    color: $color-error-block;
    font-family: $font-lato;
    font-size: 14px;
    line-height: 20px;
    padding: 0;

    &.disabled, [disabled="disabled"]{
      opacity: 0.4;
    }

    &:hover, &:focus, &:active {
      color: $color-error-hover;
    }
  }
}
.input-row{
  display: block;
  .input-group{
    display: inline-block;
    margin-right: 16px;
  }
}
.input-group {
  text-align: left;

  .label{
    font-weight: normal;
    font-family: $font-lato;
    font-size: 14px;
    line-height: 20px;
  }

  &.error-textarea{
    .ck.ck-editor{
      border: 1px solid $color-error-block;
      border-radius: 3px;
    }
  }

  .input-form {
    background: $color-white;
    border: 1px solid $color-blue-3;
    border-radius: 3px;
    box-sizing: border-box;
    color: $color-black-2;
    font-family: $font-lato;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    padding: 8px 15px;
    transition: $transition-speed-1;
    width: 100%;

    &:focus,
    &:active {
      border: 1px solid $color-blue-4;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color-gray-1;
      font-family: $font-lato;
      font-size: 14px;
      line-height: 20px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $color-gray-1;
      font-family: $font-lato;
      font-size: 14px;
      line-height: 20px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $color-gray-1;
      font-family: $font-lato;
      font-size: 14px;
      line-height: 20px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $color-gray-1;
      font-family: $font-lato;
      font-size: 14px;
      line-height: 20px;
    }
    &.error-input{
      border-color: $color-error-block;
    }
  }

  .icon-input-block{
    display: flex;
    .icon-input{
      background: #F2F5F8;
      border: 1px solid #D7E4F0;
      padding: 8px 12px;
      font-size: 14px;
      float: left;
      height: 38px;
      &.right-icon{
        border-radius: 0 3px 3px 0;
        border-left: none;
      }
      &.left-icon{
        border-radius: 3px 0 0 3px;
        border-right: none;
      }
    }
    .input-form{
      &.right-icon{
        border-radius: 3px 0 0 3px;
      }
      &.left-icon{
        border-radius: 0 3px 3px 0;
      }
    }
  }

  .text-form {
    color: $color-black-1;
    font-family: $font-lato;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 5px;
    .optional{
      font-style: italic;
      color: #C9D0D6;
      font-family: $font-lato;
    }
  }

  .error-text{
    color: $color-error-text;
    font-size: 14px;
    line-height: 18px;
    padding-left: 24px;
    padding-top: 5px;
  }

  &.form-control{
    margin-bottom: 20px;
    position: relative;
    .text-form {
      color: $color-black-4;
    }
    .error-text{
      padding-left: 0;
      position: absolute;
      bottom: -20px;
      font-size: 10px;
      padding-top: 0;
    }
  }

  select {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #D7E4F0;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    background-image: url('/static/img/admin/Vector.svg');
    background-position: right 15% center;
    background-repeat: no-repeat;
    padding: 4px 32px 4px 10px;
    //margin-left: 10px;
    font-family: $font-lato;
    color: $color-black-2;
    font-size: 14px;
    line-height: 20px;
  }
}

.successfully-block{
  position: relative;
  text-align: left;
  .successfully-message{
    background: $color-successfully-block;
    border-radius: 3px;
    padding: 15px;
    svg{
      position: absolute;
      top: 25px;
    }
    .successfully-text{
      padding-left: 30px;
      color: $color-white;
      font-size: 14px;
      line-height: 18px;
      display: inline-block;
    }
  }
}

.admin-header {
  height: 70px;
  background: $color-white;
  box-shadow: 0px 1px 15px rgba(69, 65, 78, 0.1);
  position: fixed;
  width: 100%;
  z-index: 9000;
  &.w-240{
    .menu-items{
      width: calc(100% - 240px);
    }
  }
  &.w-70{
    .menu-items{
      width: calc(100% - 70px);
    }
  }

  .menu-items{
    height: 70px;
    display: flex;
    flex-wrap : wrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;

    .exit {
      font-family: $font-lato;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 14px;
      color: #60676E;
      padding: 6px 8px;
      border: none;
      border-radius: 4px;
    }
  }
}

.admin-main-section {
  background: #F2F5F8;
  padding: 30px;
  height: calc(100% - 70px);
  margin-top: 70px;

  .page-title {
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 24px;
    padding-bottom: 30px;
    color: #111111;
    display: inline-block;
  }

  .admin-main-section-header{
    display: flex;
    flex-direction: row;
    flex-wrap : nowrap;
    justify-content : space-between;
    align-items: baseline;
  }

  .admin-main-block {
    background: $color-white;
    border-radius: 6px;
    padding-bottom: 24px;
    box-shadow: 0 4px 30px rgba(5, 41, 72, 0.07);
    margin-bottom: 30px;

    .admin-main-block-header{
      display: flex;
      flex-direction: row;
      flex-wrap : nowrap;
      justify-content : space-between;
      align-items : center;
      border-bottom: 1px solid #F2F4F5;
      padding-left: 24px;
      padding-right: 24px;

      .left-block, .right-block{
        display: flex;
        flex-direction: row;
        align-items : center;
      }

      .admin-second-title {
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        font-size: 14px;
        color: #C6CFDA;
        padding-left: 30px;
      }

      .admin-main-title {
        font-family: $font-lato;
        font-weight: bold;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #152431;
        padding: 24px 0;
        display: inline-block;
      }

      .admin-search {
        position: relative;
        padding: 0 8px;
        input {
          border: 1px solid #D7E4F0;
          box-sizing: border-box;
          border-radius: 25px;
          padding: 5px 15px;
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          font-size: 13px;
          outline: none;
          width: 250px;

        }
        input::placeholder {
          color: #C9D0D6;
          opacity: 1;
        }

        input::-ms-input-placeholder {
          color: #C9D0D6;
        }

        input::-ms-input-placeholder {
          color: #C9D0D6;
        }
        img {
          cursor: pointer;
          position: absolute;
          right: 18px;
          top: 7px;
          -webkit-transition: -webkit-transform 0.4s ease;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
          width: 19px;
        }
      }
    }
    .admin-main-block-body{
      padding: 24px;
      padding-bottom: 0;
    }
  }
}

.d-i {
  display: inherit;
}
.d-f {
  display: flex;
}
.d-b {
  display: block;
}
.m-b {
  margin-bottom: 15px;
}
.m-r-10 {
  margin-right: 10px;
}

.admin-filter-case {
  display: flex;
  flex-direction: row;
  padding: 25px 24px 24px;
  justify-content: space-between;
  .filter-block {
    display: inherit;
    position: relative;
    .filter-title {
      padding: 6px 40px 6px 0;
      font-size: 18px;
    }
  }
  .filter-block--option{
    position: relative;
    .filter-btn{
      font-size: 14px;
      line-height: 25px;
      display: block;
      background: #E1E7EC;
      border-radius: 2px;
      padding: 6px 10px;
      cursor: pointer;
      color: #60676E;

      i {
        line-height: 12px;
        font-size: 12px;
        color: #60676E;
      }
      &:hover{
        cursor: pointer;
        background: #CDD6DE;
      }
      &:active{
        cursor: pointer;
        background: #BAC4CD;
      }
    }
    .filter-listr{
      position: absolute;
      z-index: 11;
      background: $color-white;
      border-radius: 4px;
      padding: 20px;
      min-width: 200px;
      .filter-item{
        display: block;
        margin-bottom: 6px;
        text-align: left;
        padding: 6px 12px;
        background: #F2F5F8;
        border-radius: 4px;
        font-size: 14px;
        line-height: 18px;
        &:hover{
          cursor: pointer;
          background: #E2E8ED;
        }
        &.selected{
          color: $color-white;
          background: #3A74B7;
        }
      }
      .btn-block{
        margin-top: 18px;
        .btn{
          padding: 10px 20px;
        }
      }
    }
  }

}

.dropdown-bloc{
  position: relative;
  .selected-items{
    display: inline-block;
    font-family: $font-lato;
    font-size: 14px;
    line-height: 18px;
    color: $color-black-2;
    padding-right: 10px;
  }
  .dropdown-btn{
    background: $color-green-1;
    border-radius: 30px;
    cursor: pointer;
    color: $color-white;
    line-height: 14px;
    font-size: 12px;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    i {
      padding-left: 5px;
      font-size: 16px;
    }
    &.dropdown-btn-disabled{
      background: $color-green-4;
    }
    &.dropdown-btn-active{
      background: $color-green-2;
    }
  }
  .dropdown-list{
    position: absolute;
    background: $color-white;
    z-index: 10;
    min-width: 150px;
    right: 0;
    margin-top: 10px;
    border: 1px solid #EDF1F5;
    border-radius: 3px;
    padding: 4px 0;
    box-shadow: 0px 4px 12px rgba(5, 41, 72, 0.1);
    &:after{
      content: '';
      position: absolute;
      right: 10px;
      top: -7px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $color-white;
    }
    &:before{
      content: '';
      position: absolute;
      right: 9px;
      top: -8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #EDF1F5;
    }
    .delete-item{
      margin-top: 6px;
      padding-top: 6px;
      border-top: 1px solid #EDF1F5;
    }
    a{
      display: block;
      width: 100%;
      padding: 8px 15px;
      font-family: $font-lato;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 13px;
      color: #60676E;
      &:hover{
        background: #EDF1F5;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}


.admin-table {
  padding: 0;

  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    .last {
      padding: 15px 0;
      width: 100px;
    }
    td {
      padding: 15px 40px;
      border: 0;
      overflow: hidden;
      word-break: normal;
    }
    th {
      font-weight: normal;
      padding: 15px 40px;
      overflow: hidden;
      word-break: normal;
      border: 0;
      position: sticky;
      top: 0;
      background: #fff;
    }

    tr{
      &:nth-child(odd){
        background: #F7FAFC;
      }
    }
    .table-header-th {
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      vertical-align: middle;
      z-index: 9;
      a{
        color: #111111;
      }
      i {
        color: #C6CFDA;
        font-size: 14px;
        padding-left: 2px;
        &.active{
          color: $color-black-3;
        }
      }
    }

    .table-td-left {
      font-size: 14px;
      text-align: left;
      vertical-align: middle;
      &.item-id{
        font-family: $font-lato;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        .btn-link{
          color: #60676E;
        }
      }
    }
    .table-td-right {
      text-align: right;
      vertical-align: middle;
    }
    .table-td-center {
      text-align: center;
      vertical-align: middle;
    }
    .table-checkbox{
      width: 45px;
      padding: 15px 5px 15px 25px;
    }
  }
}
.tab {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
.radio {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .radio__text:after{
      opacity: 1;
    }
  }

  .radio__text {
    position: relative;
    padding: 10px 0 0 10px;
    cursor: pointer;
    font-family: $font-lato;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #60676E;

    &:before{
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      left: 0;
      top: 0;
      background: $color-white;
      border: 1px solid #D7E4F0;
      box-sizing: border-box;
      border-radius: 3px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background: $color-green-1 url("/static/img/admin/pointer.png") no-repeat 3px 1px;
      opacity: 0;
      transition: .2s;
      border: 1px solid $color-green-1;
      border-radius: 3px;
    }
  }
}

.onoffswitch {
  position: relative;
  width: 46px;
  .onoffswitch-checkbox {
    display: none;

    &:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }

    &:checked + .onoffswitch-label .onoffswitch-switch {
      right: 1px;
    }
  }

  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $color-white;
    border-radius: 12px;
    position: relative;

    .onoffswitch-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;

      &:before, &:after{
        display: block;
        float: left;
        width: 50%;
        height: 22px;
        padding: 0;
        line-height: 22px;
        font-size: 8px;
        color: white;
        font-family: $font-lato;
        font-weight: bold;
        box-sizing: border-box;
      }

      &:before{
        content: "ON";
        padding-left: 6px;
        background-color: $color-green-1;
        color: $color-white;
      }

      &:after {
        content: "OFF";
        padding-right: 4px;
        background-color: #E1E7EC;
        color: #60676E;
        text-align: right;
      }
    }

    .onoffswitch-switch {
      display: block;
      width: 12px;
      margin: 1px;
      background: $color-white;
      position: absolute;
      top: 2px;
      bottom: 2px;
      right: 20px;
      border: 2px solid $color-white;
      border-radius: 12px;
      transition: all 0.3s ease-in 0s;
      box-sizing: content-box;
    }
  }

}

.font-fix {
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
}

.checkbox,
.radio1 {
  display: none;
}
.checkbox-custom,
.radio-custom {
  width: 18px;
  height: 18px;
  border: 1px solid #D7E4F0;
  border-radius: 3px;
  position: relative;
  background: #FFFFFF;
}
.checkbox-custom,
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}
.radio1:checked + .radio-custom{
  border-color: #15CBC4;
}
.checkbox:checked + .checkbox-custom::before,
.radio1:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #15CBC4;
  border-radius: 2px;
}
.radio-custom,
.radio1:checked + .radio-custom::before {
  border-radius: 50%;
}

.page-loader{
  position: fixed;
  z-index: 9999;
  background: rgba(107, 107, 107, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content : center;
}


.vdatetime-input {
  width: 100%;
  text-align: center;
  height: 42px;
  line-height: 20px;
  font-size: 14px;
  font-family: $font-lato;
  color: $color-black-2;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #D7E4F0;
  padding-left: 0;
}
.vdatetime-input::-webkit-input-placeholder {
  color:#C9D0D6;
  text-align: left;
  padding-left: 15px;
}
.vdatetime-input::-moz-placeholder          {
  color:#C9D0D6;
  text-align: left;
  padding-left: 15px;
}
.vdatetime-input:-moz-placeholder           {
  color:#C9D0D6;
  text-align: left;
  padding-left: 15px;
}
.vdatetime-input:-ms-input-placeholder      {
  color:#C9D0D6;
  text-align: left;
  padding-left: 15px;
}

.vdatetime-popup__header {
  background: #15CBC4;
}
.vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #15CBC4;
}
.vdatetime-time-picker__item--selected {
  color: #15CBC4;
}

.vdatetime.filter-btn{
  .vdatetime-input{
    border: none;
    height: auto;
    background: #E1E7EC;
    &::placeholder{
      color: #60676E;
      opacity: 1;
    }
  }
  &:hover{
    .vdatetime-input{
      background: #CDD6DE;
    }
  }
}
