.admin-menu {
  background:  #1C2B38;
  align-items : stretch;
  &.w-70{
    flex-basis: 70px;
    width: 100%;
    .menu-logo {
      width: 70px;
    }
  }

  &.w-240{
    flex-basis: 240px;
    width: 100%;
    min-width: 240px;
    .menu-logo {
      width: 240px;
    }
  }
}

@mixin active-menu-item {
  color: $color-white;
  opacity: 1;
  background: #152431;
  &::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    background: $color-green-1;
  }
}

.menu-logo {
  background: #243443;
  box-shadow: 0 4px 20px rgba(5, 41, 72, 0.06);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 11;
  .header-logo {
    padding: 22px 22px 14px;
  }
  .btn-menu {
    padding: 26px 26px 18px;
    cursor: pointer;
  }
}

.menu-body {
  padding-top: 70px;
  .menu-title {
    font-weight: 600;
    line-height: 19px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.2;
    margin: 30px 25px 0;
  }
  nav {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    font-family: $font-lato;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 15px 25px;
    position: relative;

    &:hover {
      color: #fff;
      opacity: 1;
      background: #152431;
      &::after{
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        left: 0;
        top: 0;
        background: $color-green-1;
      }
    }

    img {
      padding-right: 13px;
      vertical-align: middle;
    }
  }
}

.user-active {
  .active-user {
    @include active-menu-item;
  }
}
.product-active {
  .active-prod {
    @include active-menu-item;
  }
}
.category-active {
  .active-cat {
    @include active-menu-item;
  }
}
.order-active {
  .active-order {
    @include active-menu-item;
  }
}
.coupons-active {
  .active-coupons {
    @include active-menu-item;
  }
}
.sub-active {
  .active-subscriptions {
    @include active-menu-item;
  }
}
.reviews-active {
  .active-reviews {
    @include active-menu-item;
  }
}

.hide {
    max-width: 70px;
  .menu-logo{.header-logo {
    display: none;
  }
  }
  .menu-title {
    opacity: 0;
  }

    .menu-item {
   .hide-item {
     display: none;
      }
      img {
        padding-right: 0;
        width: 20px;
        height: 20px;
      }
    }
 }
