.order-page {
  .order-status{
    line-height: 18px;
    font-size: 14px;
    color: $color-white;
    padding: 3px 6px;
    &.delivery-in-progress{
      background: #FFC700;
    }
    &.processing{
      background: #FFC700;
    }
    &.cancelled{
      background: #FE0341;
    }
    &.shipped{
      background: #15D06B;
    }
    &.pending-payment{
      background: #60676E;
    }
    &.paid{
      background: #10A49E;
    }
    &.products-paid{
      background: #32B5EC;
    }
  }

  .dropdown-btn{
    &[data-status="shipped"]{
      background: #FFC700;
    }
    &[data-status="cancelled"]{
      background: #FE0341;
    }
    &[data-status="delivered"]{
      background: #15D06B;
    }
    &[data-status="pending-payment"]{
      background: #60676E;
    }
    &[data-status="paid"]{
      background: #10A49E;
    }
  }

  .order-info-block{
    display: flex;
    flex-direction: row;
    flex-wrap : nowrap;
    justify-content : center;
    align-items : stretch;
    align-content: flex-start;
    margin: 0 -15px 30px -15px;

    .order-info-item {
      width: 100%;
      padding: 15px;
    }

    .admin-main-block{
      height: 100%;
    }
    .admin-main-block-body{
      padding: 24px;
      //display: flex;
      //flex-direction: column;
      table{
        width: 100%;

        .table-title{
          font-family: $font-lato;
          font-size: 14px;
          line-height: 18px;
          color: $color-black-3;
          padding-bottom: 10px;
          &.total-cost{
            padding-top: 34px;
          }
        }
        .table-info{
          font-family: $font-lato;
          font-size: 14px;
          line-height: 18px;
          color: $color-black-4;

          &.user-name{
            font-family: $font-lato;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
          }
          &.cost{
            text-align: right;
            &.total-cost{
              font-family: $font-lato;
              font-weight: 600;
              padding-top: 28px;
              font-size: 20px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }

  .order-subscription-products-block{
    margin-top: 30px;
    table{
      width: 100%;
      tr:nth-child(2n-1){
        background: #F7FAFC;
      }
      td{
        vertical-align: middle;
      }
      .product-info{
        display: flex;
        flex-direction: row;
        flex-wrap : nowrap;
        justify-content : flex-start;
        align-items : stretch;
        padding: 15px 24px ;
        &div:nth-child(1){
          flex-basis: 50px;
        }
        .product-image{
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 3px;
          border: 1px solid #D7E4F0;
          display: flex;
          flex-wrap : wrap;
          img{
            width: 100%;
          }
        }
        .product-title{
          font-family: $font-lato;
          font-size: 16px;
          line-height: 18px;
          padding-top: 5px;
          padding-left: 16px;
        }
        .product-id{
          font-family: $font-lato;
          font-size: 14px;
          line-height: 18px;
          padding-top: 5px;
          padding-left: 16px;
        }

      }

      .product-prie{
        width: 150px;
        text-align: right;
        .old-price{
          font-family: $font-lato;
          font-size: 11px;
          line-height: 18px;
          color: #C6CFDA;
          text-decoration: line-through;
          padding-right: 6px;
        }
        .price{
          font-family: $font-lato;
          font-size: 14px;
          line-height: 18px;
          color: $color-black-3;
        }
      }
      .count{
        min-width: 150px;
        text-align: center;
        font-family: $font-lato;
        font-size: 14px;
        line-height: 18px;
        color: $color-black-3;
      }
      .total-cost{
        padding: 24px;
        text-align: right;
        width: 150px;
        .price{
          font-family: $font-lato;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: $color-black-4;
        }
      }
    }
  }

  .order-products-block,order-subscription-products-block{
    table{
      width: 100%;
      tr:nth-child(2n-1){
        background: #F7FAFC;
      }
      td{
        vertical-align: middle;
      }
      .product-info{
        display: flex;
        flex-direction: row;
        flex-wrap : nowrap;
        justify-content : flex-start;
        align-items : stretch;
        padding: 15px 24px ;
        &div:nth-child(1){
          flex-basis: 50px;
        }
        .product-image{
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 3px;
          border: 1px solid #D7E4F0;
          display: flex;
          flex-wrap : wrap;
          img{
            width: 100%;
          }
        }
        .product-title{
          font-family: $font-lato;
          font-size: 16px;
          line-height: 18px;
          padding-top: 5px;
          padding-left: 16px;
        }
        .product-id{
          font-family: $font-lato;
          font-size: 14px;
          line-height: 18px;
          padding-top: 5px;
          padding-left: 16px;
        }

      }

      .product-prie{
        width: 150px;
        text-align: right;
        .old-price{
          font-family: $font-lato;
          font-size: 11px;
          line-height: 18px;
          color: #C6CFDA;
          text-decoration: line-through;
          padding-right: 6px;
        }
        .price{
          font-family: $font-lato;
          font-size: 14px;
          line-height: 18px;
          color: $color-black-3;
        }
      }
      .count{
        min-width: 150px;
        text-align: center;
        font-family: $font-lato;
        font-size: 14px;
        line-height: 18px;
        color: $color-black-3;
      }
      .total-cost{
        padding: 24px;
        text-align: right;
        width: 150px;
        .price{
          font-family: $font-lato;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: $color-black-4;
        }
      }
    }
  }

  &.order-page--info{
    .admin-main-block{
      margin-bottom: 0;
    }
  }

}
