.popup-overlay {
  width: 100%;
  min-height: 100%;
  z-index: 9999;
  background-color: rgba(23, 35, 46, 0.4);
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    background: $color-white;
    padding: 0;
    min-width: 400px;
    min-height: 100%;
    border-radius: 4px;

    .popup-header {
      display: flex;
      flex-direction: row;
      flex-wrap : nowrap;
      justify-content : space-between;
      align-items : center;
      border-bottom: 1px solid #F2F4F5;
      padding: 0 20px;
      .popup-header--title{
        padding: 20px 0;
        font-family: $font-lato;
        font-weight: bold;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #152431;
        display: inline-block;
      }
      .close{
        &:hover{
          cursor: pointer;
        }
      }
    }

    .popup-body {
      padding: 20px;

      .drop-text {
        font-weight: normal;
        line-height: 18px;
        font-size: 14px;
        color: #60676E;
      }
    }

    .popup-bottom {
      border-top: 1px solid #F2F4F5;
      display: flex;
      justify-content: flex-end;
      padding: 14px 20px;
      margin: 10px 0;
      .btn {
        min-width: 90px;
        margin-left: 8px;
        font-size: 14px;
      }
    }
  }

  #popup-dropzone {
    border: 2px dashed #D7E4F0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px
  }
  .drop-form {
    border: 2px dashed #D7E4F0;
    border-radius: 3px;
    margin-top: 5px;
    width: 100%;
  }
  .dropbox {
    background: #FAFBFC;
    color: #222222;
    padding: 10px 10px;
    min-height: 120px; /* minimum height */
    position: relative;
    cursor: pointer;
    .input-file {
      opacity: 0; /* invisible but it's there! */
      width: 100%;
      height: 120px;
      position: absolute;
      cursor: pointer;
    }
    .drop-text {
      text-align: center;
      padding: 20px 0;
      .drop-title-one {
        font-weight: 600;
        line-height: 20px;
        font-size: 16px;
        color: #222222;
        padding: 4px;
      }
      .drop-title-two {
        font-weight: normal;
        line-height: 16px;
        font-size: 12px;
        color: #60676E;
      }
    }
    &:hover{
      background: lightblue; /* when mouse over to the drop zone, change color */
    }
  }
}



