.product {
  .admin-double-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -10px;
    margin-left: -10px;

    .prod-left {
      flex-basis: calc(70% - 20px);
      margin-right: 10px;
      margin-left: 10px;
      overflow: hidden;
      @media screen and (max-width: 1490px){
        flex-basis: calc(65% - 20px);
      }
      @media screen and (max-width: 1320px){
        flex-basis: calc(60% - 20px);
      }
      @media screen and (max-width: 1185px){
        flex-basis: calc(55% - 20px);
      }
    }
    .prod-right {
      flex-basis: calc(30% - 20px);
      margin-right: 10px;
      margin-left: 10px;
      @media screen and (max-width: 1490px){
        flex-basis: calc(35% - 20px);
      }
      @media screen and (max-width: 1320px){
        flex-basis: calc(40% - 20px);
      }
      @media screen and (max-width: 1185px){
        flex-basis: calc(45% - 20px);
      }
    }
  }
  .admin-main-block {
    .btn.m-l{
      margin-left: 8px;
    }
  }

  .admin-product-section {
    padding-bottom: 25px;
    .section-title {
      font-family: $font-lato;
      font-size: 18px;
      line-height: 22px;
      color: $color-black-4;
      margin-bottom: 15px;
      .optional {
        font-style: italic;
        color: #C9D0D6;
        font-family: $font-lato;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .multiselect__tag {
      background: #E1E7EC;
      border-radius: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #60676E;
    }
    .multiselect__tags {
      border: 1px solid #D7E4F0;
    }
    .multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
      background: #fff;
    }
    .multiselect__tag-icon {
      display: block;
      width: 12px;
      margin: 1px;
      background: #fff;
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: 3px;
      border: 2px solid #fff;
      border-radius: 12px;
      -webkit-transition: all 0.3s ease-in 0s;
      transition: all 0.3s ease-in 0s;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }
    .multiselect__tag-icon:after {
      content: "\D7";
      color: #afb3b7;
      font-size: 14px;
      position: absolute;
      top: -4px;
      right: 1px;
      left: 1px;
    }
    .multiselect__option--selected.multiselect__option--highlight {
      background: $color-green-1;
    }
    .multiselect__option--selected.multiselect__option--highlight:after {
      background: $color-green-1;
    }
    .multiselect__option--highlight {
      background: $color-green-3;
    }
    .multiselect__option--highlight:after {
      background: $color-green-3;
    }

    .date-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: nowrap;
    }

    .small-block {
      display: block;
      padding-right: 15px;
      min-width: 130px;
      &.date-fix {
        display: flex;
        padding: 0;
      }
      p {
        background: #F2F5F8;
        border: 1px solid #D7E4F0;
        box-sizing: border-box;
        border-radius: 3px 0px 0px 3px;
        border-right: none;
        padding: 8px 12px;
      }
      .input-cost, input-sku {
        height: 42px;
        background: #FFFFFF;
        border: 1px solid #D7E4F0;
        box-sizing: border-box;
        padding: 7px 15px;
        border-radius: 0 3px 3px 0;
        outline: none;
        font-family: $font-lato;
        font-size: 14px;
        line-height: 20px;
        color: $color-black-2;
        &::placeholder {
          color: $color-gray-1;
        }
      }
      .input-cost {
        width: 98px;
      }
    }

    .ck.ck-editor {
      width: 100%;
    }
    .ck.ck-editor__main > .ck-editor__editable {
      min-height: 200px;
    }

    .radio + .radio {
      margin-left: 0;
    }
    .radio .radio__text {
      padding: 10px 0 0 25px;
    }
    .radio .radio__text:before, .radio .radio__text:after {
      top: 10px;
    }
  }

  .product-enable {
    display: flex;
    flex-wrap : nowrap;
    justify-content : space-between;
    .product-enable--title{
      margin-right: 10px;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 14px;
      color: #60676E;
      padding-top: 4px;
    }
  }

  .input-group{
    .countdowne {
      width: 150px;
    }
    .product-volume > .input-form{
      flex-basis: 105px;
    }
  }

  .product-prie{
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    .old-price{
      font-family: $font-lato;
      color: #C6CFDA;
      text-decoration: line-through;
      padding-right: 6px;
    }
    .price{
      font-family: $font-lato;
      color: $color-black-3;
    }
  }

  .table-td-right.last{
    width: 17%;
    padding: 15px 40px;
  }
}
