.filter-reviews {
    .filter-title {
        font-size: 18px;
        margin-right: 25px;
    }

    ul.wrapper-filters {
        display: inline-block;

        li.filter {
            display: inline-block;
            margin-right: 2px;
            cursor: pointer;

            &:first-child > button{
                border-radius: 3px 0px 0px 3px;
            }
            &:last-child > button{
                border-radius: 0px 3px 3px 0px;
            }

            button {
                border: none;
                font-size: 14px;
                color: #60676E;
                background: #F2F5F8;
                padding: 6px 10px;

                span {
                    font-weight: bold;
                }
            }

            .filter-active{
                background: #3A74B7;
                color: #fff;
            }
        }
    }
}

.admin-reviews {
    .reviews-list {

        .review {
            padding: 16px 24px;
            border-top: 1px solid #F2F5F8;
    
            .review-container {
                display: flex;
                justify-content: space-between;
                
                div {
                    flex-basis: 200px;
                }
        
                .review-block {
                    flex-grow: 1;
        
                    .title-review {
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 8px;
                    }
                    .description-review {
                        font-size: 14px;
                        color: #60676E;
                        line-height: 18px;
                    }
                    .answer {
                        margin: 10px;
                        padding: 10px;
                        // border-left: 2px solid #3A74B7;
                        color: #455C6F;
                        background: #F1F1F5;
                    }
                }
                .review-rating-block {
                    p {
                        font-size: 14px;
                        color: #60676E;
                    }
        
                    .vue-star-rating-rating-text {
                        display: none;
                    }
                }
                .review-info-block {
                    font-size: 14px;
                    p {
                        font-weight: bold;
                        color: #60676E;
                    }
                    a {
                        color: #0CA0CF;
                    }
                    .user-email {
                        display: block;
                        margin-bottom: 16px;
                    }
                }
                .review-status-date {
                    .status-review {
                        display: inline-block;
                        padding: 4px 8px;
                        color: #fff;
                        font-weight: 600;
                        font-size: 12px;
    
                        &.published {
                            background: #15D06B;
                        }
                        &.unapproved {
                            background: #FFC700;
                        }
                        &.rejected {
                            background: #FE0341;
                        }
                    }
    
                    .date {
                        margin-top: 16px;
                    }
                }
            }
    
            .review-actions {
                margin-top: 16px;
    
                button {
                    padding: 8px 12px;
                    border: none;
                    background: #E1E7EC;
                    border-radius: 3px;
                    margin-right: 6px;
                    font-size: 12px;
                    color:#60676E;
                }
            }
        }
    }
    .popup-overlay {
        top: 0;
        left: 0;

        .textarea-review-answer {
            width: 100%;
            height: 104px;
            padding: 15px;
            border: 1px solid #CBD8E3;
            border-radius: 4px;
            font-size: 14px;
            resize: none;
        }        
    }
}