.search-filter{
  display: flex;
  width: 390px;

  .search-category{
    flex-basis: 140px;
    width: 100%;
    position: relative;
    font-family: $font-lato;
    font-size: 14px;
    line-height: 20px;
    &:hover{
      cursor: pointer;
    }

    .selected-category{
      background: #F2F5F8;
      border: 1px solid $color-blue-3;
      padding: 5px 15px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      display: flex;
      justify-content : space-between;
      align-items : center;
      .icon{
        color: $color-gray-1;
      }
    }

    .list-category{
      position: absolute;
      display: none;
      right: 0;
      border: 1px solid $color-blue-3;
      border-radius: 3px;
      width: 140px;
      z-index: 10;
      background: $color-white;
      box-shadow: 2px 2px 30px rgba(201, 208,214, 0.5);
      &>div{
        padding: 0 15px;
        font-size: 14px;
        line-height: 20px;
        &:hover{
          cursor: pointer;
          background: $color-gray-2;
        }
      }
    }

    &.active{
      .selected-category{
        border-color: $color-blue-4;
        .icon{
          color: $color-black-2;
        }
      }
      .list-category{
        display: block;
      }
    }
  }
  .search-input{
    position: relative;
    flex-basis: 250px;
    input{
      width: 100%;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      padding: 5px 25px 5px 15px;
      font-size: 14px;
      line-height: 20px;
      border: 1px solid $color-blue-3;
      font-family: $font-lato;
      &:focus{
        border-color: $color-blue-4;
        box-shadow: none;
        outline: none;
      }
    }
    img{
      position: absolute;
      right: 11px;
      top: 8px;
    }
  }
}
