<template>
  <div class="admin-page"> <!-- service -->
    <div class="page-loader" v-if="isLoader">
      <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
    </div>
    <admin-menu class="service-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>
    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <h1 class="page-title">Edit article. ID: {{blog.id}}</h1>
        <div class="admin-double-column">
          <div class="prod-left">
            <div class="admin-main-block general-info">
              <div class="admin-main-block-header">
                <h3 class="admin-main-title">General Information</h3>
              </div>
              <div class="admin-main-block-body">
                <div class="admin-service-section" v-if="isProcess">
                  <alert-process text="Post update..."></alert-process>
                </div>
                <div class="admin-service-section" v-if="isBlogUpdate">
                  <alert-successfully
                    :text="successfullyText"
                    aTitle="Go to the article list"
                    aHref="/admin/blogs"
                  ></alert-successfully>
                </div>
                <div class="admin-service-section" v-if="isErrors">
                  <alert-error v-for="(error,key) in errors" :key="key" :error-text="error"></alert-error>
                </div>
                <div class="admin-service-section">
                  <custom-input
                    v-model="blog.name"
                    :errorInput="blog.nameError"
                    :onChange="onChangeName"
                    label="Post title"
                    type="text"
                  ></custom-input>
                </div>
                <!-- <div class="admin-service-section">
                  <custom-input v-model="blog.description"
                                :errorInput="blog.descriptionError"
                                :onChange='onChangeDescrition'
                                label="Description"
                                type="text"></custom-input>
                </div>-->
                <div class="admin-service-section">
                  <custom-input
                    v-model="blog.meta_title"
                    :errorInput="blog.metaTitleError"
                    :onChange="onChangeName"
                    label="Meta title"
                    type="text"
                  ></custom-input>
                </div>
                <div class="admin-service-section">
                  <custom-input
                    v-model="blog.meta_description"
                    :errorInput="blog.metaDescriptionError"
                    :onChange="onChangeName"
                    label="Meta description"
                    type="text"
                  ></custom-input>
                </div>
                <div class="admin-service-section">
                  <custom-input
                    v-model="blog.meta_keywords"
                    :errorInput="blog.metaKeywords"
                    :onChange="onChangeName"
                    label="Meta keywords"
                    type="text"
                  ></custom-input>
                </div>
                <div class="admin-service-section">
                  <upload-image
                    label="Article image"
                    :errorInput="blog.mediaError"
                    :onChange="changeArticleMedia"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    :src="(blog.media != null) ? corsDisabled(url+blog.media) : ''"
                    name="image"
                  ></upload-image>
                </div>

                <div class="admin-service-section">
                  <div
                    class="input-group form-control"
                    id="high-level"
                    :class="{'error-textarea': !blog.article}"
                  >
                    <p class="text-form">Article text</p>
                    <no-ssr>
                        <ckeditor
                            class="input-form"
                            type="classic"
                            :editor="editor"
                            tag-name="textarea"
                            @input="changeArticle"
                            :config="editorConfig"
                            v-model="blog.article"
                        />
                    </no-ssr>
                    <p v-if="blog.articleError" class="error-text">This field is required.</p>
                  </div>
                </div>

                <div class="admin-service-section">
                  <p class="section-title">Article URL</p>
                  <nuxt-link :to="'/blog/'+blog.article_url">{{'/blog/'+blog.article_url}}</nuxt-link>
                </div>
                <div class="admin-main-block-body">
                  <div class="admin-service-section">
                    <div class="service-enable m-b">
                      <p class="service-enable--title">Published</p>
                      <custom-checkbox
                        attr-id="published"
                        v-model="blog.published"
                        :onChange="onPublished"
                      >blog.published</custom-checkbox>
                    </div>
                  </div>
                </div>
                <div class="d-f">
                  <nuxt-link
                    to="/admin/blog"
                    type="button"
                    class="btn btn-round btn-round--middle btn-button--gray"
                    style="margin-right: 15px"
                  >Cancel</nuxt-link>
                  <button
                    type="button"
                    class="btn btn-round btn-round--middle btn-button--green m-l"
                    @click="updateBlog"
                    :disabled="!isChangeBlog"
                  >Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { apiURL } from "@/helpers/config";
import corsDisabled from "@/helpers/corsDisabled";

import {
  PlusCircleIcon,
  ClockIcon,
  CopyIcon,
  Trash2Icon,
  CalendarIcon,
  DollarSignIcon
} from "vue-feather-icons";
import AdminMenu from "@/components/admin/general/AdminMenu";
import AdminHeader from "@/components/admin/general/AdminHeader";
//   import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

import CustomCheckbox from "@/components/admin/components/custom-checkbox";
import Checkbox from "@/components/admin/components/checkbox";
import CustomInput from "@/components/admin/components/input";
import UploadImage from "@/components/admin/components/upload_image";
import DeleteModal from "@/components/admin/components/modals/delete.vue";
import AlertError from "@/components/admin/AlertError";
import AlertProcess from "@/components/admin/components/alert_process.vue";
import AlertSuccessfully from "@/components/admin/components/alert_successfully.vue";

export default {
  name: "AdminEditBlog",
  components: {
    AlertSuccessfully,
    AlertProcess,
    AlertError,
    UploadImage,
    AdminHeader,
    AdminMenu,
    ClockIcon,
    PlusCircleIcon,
    CalendarIcon,
    CopyIcon,
    Trash2Icon,
    DollarSignIcon,
    CustomCheckbox,
    Checkbox,
    CustomInput
  },
  data() {
    return {
      token: null,
      url: apiURL,
      isProcess: false,
      isBlogUpdate: false,
      isSave: false,
      isErrors: false,
      successfullyText: "",
      isLoader: false,
      blog: {
        id: "",
        article_url: "",
        name: "",
        description: "",
        descriptionError: false,
        media: "",
        nameError: false,
        mediaError: false,
        article: "",
        published: false,
        articleError: false
      },

      isChangeBlog: false,
      errors: [],

      blogImageError: false,
      blogImage: null,
      blogImageUpdate: null,

      editor: null,
      editorConfig: {},

      blogPropertyFinish: true,
      additionalMediaFinish: true,
      nutritionInfoImageFinish: true,
      videoOverviewFinish: true,

      blogTypeFinish: true,
      blogImageFinish: true
    };
  },
  watch: {
    published(newVal, oldVal) {
      this.blogPublished = newVal ? newVal : false;
    }
  },
  computed: {
    slug() {
      this.blog.article_url = this.sanitizeTitle(this.blog.name);
      return this.blog.article_url;
    }
  },
  methods: {
    sanitizeTitle(title) {
      let article_url = "";
      // Change to lower case
      let titleLower = title.toLowerCase();
      // Letter "e"
      article_url = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      article_url = article_url.replace(
        /a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi,
        "a"
      );
      // Letter "o"
      article_url = article_url.replace(
        /o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi,
        "o"
      );
      // Letter "u"
      article_url = article_url.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      article_url = article_url.replace(/đ/gi, "d");
      // Trim the last whitespace
      article_url = article_url.replace(/\s*$/g, "");
      // Change whitespace to "-"
      article_url = article_url.replace(/\s+/g, "-");
      return article_url;
    },
    corsDisabled(url) {
        corsDisabled(url)
    },
    getBlog() {
      axios({
        method: "get",
        url: corsDisabled(apiURL + "/api/admin/blog/" + this.$route.params.id),
        headers: {
          Authorization: "Bearer " + this.token
        }
      })
        .then(response => {
          let blog = response.data;
          this.blog.id = blog.id;
          this.blog.article_url = blog.article_url;
          this.blog.description = blog.description;
          this.blog.name = blog.name;
          this.blog.meta_title = blog.meta_title;
          this.blog.meta_description = blog.meta_description;
          this.blog.meta_keywords = blog.meta_keywords;

          this.blog.article = blog.article;
          this.blog.published = blog.published;
          this.blog.media = blog.media;
        })
        .catch(err => {
          this.$router.push("/admin/login");
        });
    },
    updateBlog() {
      this.showLoader();
      this.validateBlog();
      this.blog.article_url = this.sanitizeTitle(this.blog.name);
      if (this.blogImage != null) {
        this.blog.media = this.blogImage.url;
      }
      if (this.errors.length != 0) {
        this.isProcess = false;
        this.isErrors = true;
        return;
      } else {
        this.isProcess = false;
        this.successfullyText = "The article has been successfully updated";
      }
      axios({
        method: "put",
        url: corsDisabled(apiURL + "/api/admin/blog/" + this.blog.id),
        headers: {
          Authorization: "Bearer " + this.token
        },
        data: {
          name: this.blog.name,
          description: this.blog.description,
          article: this.blog.article,
          media: this.blog.media,
          article_url: this.blog.article_url,
          meta_title: this.blog.meta_title,
          meta_description: this.blog.meta_description,
          meta_keywords: this.blog.meta_keywords,
          published: this.blog.published
        }
      })
        .then(response => {
          if (this.blogImage) {
            this.blogImageFinish = false;
          }
          let blogId = response.data.id;
          this.checkSaveBlog(blogId);
          this.hideLoader();
        })
        .catch(err => {
          //   document.location.replace('/admin/login');
        });
    },
    validateBlog() {
      let errorFlag = false;
      this.errors = [];
      if (!this.blog.name) {
        this.blog.nameError = true;
        errorFlag = true;
      }
      if (!this.blog.article) {
        this.blog.detailedOverviewError = true;
        errorFlag = true;
      }
      if (!this.blog.media) {
        errorFlag = true;
        this.blog.mediaError = true;
      }
      if (errorFlag) {
        this.errors.push(
          "Some fields are not filled correctly. Article cannot be updated."
        );
        this.hideLoader();
        this.isBlogUpdate = false;
      }
    },
    checkSaveBlog(id) {
        this.$router.push("/admin/blog/" + id + "?isSave=true")
    },
    showLoader() {
      this.isLoader = true;
    },
    hideLoader() {
      this.isLoader = false;
    },
    onChange() {
      this.isChangeBlog = true;
    },
    changeArticleMedia(data) {
      this.blogImage = data;
      this.isChangeBlog = true;
    },
    onChangeDescription() {
      this.isChangeBlog = true;
    },
    onChangeName() {
      this.isChangeBlog = true;
    },
    onPublished() {
      this.isChangeBlog = true;
    },
    changeArticle() {
      this.isChangeBlog = true;
    }
  },
  mounted() {
    this.isBlogUpdate = this.$route.query ? this.$route.query.isSave : false;
    if (this.isBlogUpdate) {
      this.successfullyText = "Article has been successfully updated";
    }
    this.token = this.$cookie.get("user_token");
    this.getBlog();
  }
};
</script>
