<template>
  <div class="admin-page"> <!-- service -->
    <div class="page-loader" v-if="isLoader">
      <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
    </div>
    <admin-menu class="service-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content" v-if="pageLoad">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <h1 class="page-title">Add a new article</h1>
        <div class="admin-double-column">
          <div class="prod-left">
            <div class="admin-main-block general-info">
              <div class="admin-main-block-header">
                <h3 class="admin-main-title">General Information</h3>
              </div>
              <div class="admin-main-block-body">
                <div class="admin-service-section" v-if="isProcess">
                  <alert-process text="Blog update..."/>
                </div>

                <div class="admin-service-section" v-if="isBlogUpdate">
                  <alert-successfully
                    :text="successfullyText"
                    aTitle="Go to the article list"
                    aHref="/admin/blogs"
                  />
                </div>

                <div class="admin-service-section" v-if="isErrors">
                  <alert-error v-for="(error,key) in errors" :key="key" :error-text="error"/>
                </div>

                <div class="admin-service-section">
                  <custom-input
                    v-model="blog.name"
                    :errorInput="blog.nameError"
                    :onChange="onChangeName"
                    label="Article name"
                    type="text"
                  ></custom-input>
                </div>
                <div class="admin-service-section">
                  <!-- <custom-input
                    v-model="blog.description"
                    :errorInput="blog.descriptionError"
                    :onChange="onChangeDescrition"
                    label="Description"
                    type="text"
                  ></custom-input> -->
                </div>
                <div class="admin-service-section">
                  <custom-input
                    v-model="blog.meta_title"
                    :errorInput="blog.metaTitleError"
                    :onChange="onChangeName"
                    label="Article meta title"
                    type="text"
                  ></custom-input>
                </div>

                <div class="admin-service-section">
                  <custom-input
                    v-model="blog.meta_description"
                    :errorInput="blog.metaDescriptionError"
                    :onChange="onChangeName"
                    label="Article meta description"
                    type="text"
                  ></custom-input>
                </div>

                <div class="admin-service-section">
                  <custom-input
                    v-model="blog.meta_keywords"
                    :errorInput="blog.metaKeywords"
                    :onChange="onChangeName"
                    label="Article meta keywords"
                    type="text"
                  ></custom-input>
                </div>

                <div class="admin-service-section">
                  <upload-image
                    label="Article image"
                    :errorInput="blog.mediaError"
                    :onChange="changeArticleMedia"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    name="image"
                  ></upload-image>
                </div>

                <div class="admin-service-section">
                  <div
                    class="input-group form-control"
                    id="high-level"
                    :class="{'error-textarea' : blog.articleError}"
                  >
                    <no-ssr>
                      <ckeditor
                        class="input-form"
                        type="classic"
                        :editor="editor"
                        tag-name="textarea"
                        @input="changeArticle"
                        :config="editorConfig"
                        v-model="blog.article"
                      ></ckeditor>
                    </no-ssr>
                    <p v-if="blog.articleError" class="error-text">This field is required.</p>
                  </div>
                </div>

                <div class="d-f">
                  <nuxt-link
                    to="/admin/blog"
                    type="button"
                    class="btn btn-round btn-round--middle btn-button--gray"
                    style="margin-right: 15px"
                  >Cancel</nuxt-link>
                  <button
                    type="button"
                    class="btn btn-round btn-round--middle btn-button--green m-l"
                    @click="AddBlog"
                    :disabled="!isChangeBlog"
                  >Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { apiURL } from "@/helpers/config";
import corsDisabled from "@/helpers/corsDisabled";

import AdminMenu from "@/components/admin/general/AdminMenu";
import AdminHeader from "@/components/admin/general/AdminHeader";
// import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

import CustomCheckbox from "@/components/admin/components/custom-checkbox";
import Checkbox from "@/components/admin/components/checkbox";
import CustomInput from "@/components/admin/components/input";
import UploadImage from "@/components/admin/components/upload_image";
import DeleteModal from "@/components/admin/components/modals/delete.vue";
import AlertError from "@/components/admin/AlertError";
import AlertProcess from "@/components/admin/components/alert_process.vue";
import AlertSuccessfully from "@/components/admin/components/alert_successfully.vue";

export default {
  name: "AdminAddBlog",
  components: {
    AdminHeader,
    AdminMenu,
    CustomCheckbox,
    Checkbox,
    CustomInput,
    UploadImage,
    DeleteModal,
    AlertSuccessfully,
    AlertProcess,
    AlertError
  },

  data() {
    return {
      token: null,
      url: apiURL,
      isProcess: false,
      isBlogUpdate: false,
      isSave: false,
      isErrors: false,
      successfullyText: "",
      isModalDeleteVisible: false,
      modalDeleteConfig: null,
      isLoader: false,
      blog: {
        id: "",
        article_url: "",
        name: "",
        description: "",
        meta_title: "",
        meta_description: "",
        meta_keywords: "",
        media: "",
        nameError: false,
        descriptionError: false,
        metaTitleError: false,
        metaDescriptionError: false,
        metaKeywords: false,
        mediaError: false,
        article: "",
        published: false,
        articleError: false
      },

      isChangeBlog: false,
      errors: [],

      blogImageError: false,
      blogImage: null,

      editor: null,
      editorConfig: {},

      blogPropertyFinish: true,
      additionalMediaFinish: true,
      nutritionInfoImageFinish: true,
      videoOverviewFinish: true,

      blogTypeFinish: true,
      blogImageFinish: true,

      pageLoad: false
    };
  },
  computed: {
    article_url() {
      this.blog.article_url = this.sanitizeTitle(this.blog.name);
      return this.blog.article_url;
    }
  },
  methods: {
    sanitizeTitle(title) {
      let article_url = "";
      // Change to lower case
      let titleLower = title.toLowerCase();
      // Letter "e"
      article_url = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      article_url = article_url.replace(
        /a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi,
        "a"
      );
      // Letter "o"
      article_url = article_url.replace(
        /o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi,
        "o"
      );
      // Letter "u"
      article_url = article_url.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      article_url = article_url.replace(/đ/gi, "d");
      // Trim the last whitespace
      article_url = article_url.replace(/\s*$/g, "");
      // Change whitespace to "-"
      article_url = article_url.replace(/\s+/g, "-");
      return article_url;
    },
    AddBlog() {
      this.isProcess = true;
      this.blog.article_url = this.sanitizeTitle(this.blog.name);
      this.blog.media = this.blogImage.url;
      this.validateBlog();
      if (this.errors.length != 0) {
        this.isProcess = false;
        this.isErrors = true;
        return;
      } else {
        this.isProcess = false;
        this.successfullyText = "The article has been successfully updated";
      }
      axios({
        method: "post",
        url: corsDisabled(apiURL + "/api/admin/blog"),
        headers: {
          Authorization: "Bearer " + this.token
        },
        data: {
          name: this.blog.name,
          description: this.blog.description,
          article: this.blog.article,
          media: this.blog.media,
          article_url: this.blog.article_url,
          meta_title: this.blog.meta_title,
          meta_description: this.blog.meta_description,
          meta_keywords: this.blog.meta_keywords
        }
      })
        .then(response => {
          let blogId = response.data.id;
          this.checkSaveBlog(blogId);
        })
        .catch(err => {
          console.log(err);
          this.$router.push("/admin/login")
        });
    },
    checkSaveBlog(id) {
      this.$router.push("/admin/blog/" + id + "?isSave=true")
    },
    validateBlog() {
      let errorFlag = false;
      this.errors = [];
      if (!this.blog.name) {
        this.blog.nameError = true;
        errorFlag = true;
      }
      if (!this.blog.meta_title) {
        this.blog.metaTitleError = true;
        errorFlag = true;
      }
      if (!this.blog.description) {
        this.blog.descriptionError = true;
        errorFlag = true;
      }
      if (!this.blog.meta_description) {
        this.blog.metaDescriptionError = true;
        errorFlag = true;
      }
      if (!this.blog.meta_keywords) {
        this.blog.metaKeywords = true;
        errorFlag = true;
      }
      if (errorFlag) {
        this.errors.push(
          "Some fields are not filled correctly. Post can not be updated."
        );
      }
    },
    showLoader() {
      this.isLoader = true;
    },
    hideLoader() {
      this.isLoader = false;
    },
    changeArticleMedia(data) {
      this.blogImage = data;
      this.isBlogUpdate = false;
      this.isChangeBlog = true;
    },
    onChange() {
      this.isBlogUpdate = false;
      this.isChangeBlog = true;
    },
    onChangeName() {
      this.isBlogUpdate = false;
      this.isChangeBlog = true;
    },
    onChangeDescription() {
      this.isBlogUpdate = false;
      this.isChangeBlog = true;
    },
    onPublished() {
      this.isBlogUpdate = false;
      this.isChangeBlog = true;
    },
    changeArticle() {
      this.isBlogUpdate = false;
      this.isChangeBlog = true;
    },
    onDelete() {
      this.isModalDeleteVisible = true;
    }
  },
  mounted() {
    this.isBlogUpdate = this.$route.query ? this.$route.query.isSave : false;
    if (this.isBlogUpdate) {
      this.successfullyText = "New article has been successfully updated";
    }

    // this.editor = ClassicEditor
    this.token = this.$cookie.get("user_token")
    this.pageLoad = true
  }
};
</script>