<template>
  <div class="admin-page"> <!-- service -->
    <admin-menu class="service-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section" >

        <h1 class="page-title">Blogs</h1>

        <div class="admin-main-block" v-if="pageLoaded">
          <div class="admin-main-block-header">
            <div class="left-block">
              <h3 class="admin-main-title">Article List</h3>
            </div>
            <div class="right-block">
              <nuxt-link to="/admin/blog/add" class="btn btn-round btn-button--green m-l">
                <plus-icon class="font-fix"></plus-icon>
                <span>Add article</span>
              </nuxt-link>
            </div>
          </div>
          <div class="admin-table">
            <table>
              <thead>
                <tr>
                  <th class="table-header-th">
                    <a @click="sortById">Article ID
                      <i class="fa"
                         :class="{'fa-sort': sort != 'id',
                         'active fa-sort-down': sort == 'id' && idSort=='ASC',
                         'active fa-sort-up': sort == 'id' && idSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">
                    <a @click="sortByName">Article title
                      <i class="fa"
                         :class="{'fa-sort': sort != 'name',
                         'active fa-sort-down': sort == 'name' && nameSort=='ASC',
                         'active fa-sort-up': sort == 'name' && nameSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">Article URL</th>
                  <th class="table-header-th">Published</th>
                  <th class="table-header-th table-td-right last">Actions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(blog,i) in blogList" :key="i">
                  <td class="table-td-left item-id">{{ blog.id }}</td>
                  <td class="table-td-left"> {{ blog.name }}</td>
                  <td class="table-td-left">
                    <nuxt-link :to="'/blog/'+blog.article_url" target="_blank">Link</nuxt-link>
                  </td>
                  <td class="table-td-left">{{blog.published}}</td>
                  <td class="table-td-right last">
                    <nuxt-link :to="'/admin/blog/' + blog.id" class="btn btn-action m-r-10">
                      <edit-icon class="font-fix"></edit-icon>
                    </nuxt-link>
                    <a class="btn btn-action" @click="onDelete(blog.name, blog.id)">
                      <trash-2-icon class="font-fix"></trash-2-icon>
                    </a>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <delete-modal 
        v-show="isModalDeleteVisible"
        :modalConfig="modalDeleteConfig"
        :onSubmit="onDeleteBlog"
        @close="isModalDeleteVisible = false; 
        modalDeleteConfig=null"
    />
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '@/helpers/config';
  import corsDisabled from "@/helpers/corsDisabled";

  import {EditIcon, Trash2Icon, ChevronDownIcon, GridIcon, PlusIcon} from 'vue-feather-icons';
  import AdminMenu from "@/components/admin/general/AdminMenu";
  import AdminHeader from "@/components/admin/general/AdminHeader";
  import Search from "@/components/admin/general/Search";
  import Pagination from "@/components/admin/general/Pagination";
  import FilterCategory from "@/components/admin/components/filter-category.vue";
  import DeleteModal from "@/components/admin/components/modals/delete.vue";

  export default {
    title: "blog",
    components: {
      EditIcon, Trash2Icon, ChevronDownIcon, GridIcon, PlusIcon,
      AdminHeader,
      AdminMenu, 
      Search, 
      Pagination,
      DeleteModal,
      FilterCategory
    },
    data: () => ({
        apiURL: apiURL,
        activeShow: false,
        activeBtn: false,
        selected: [],
        itemsText: '0 item selected:',
        totalRecords: 0,
        blogList: [],
        page: 1,
        limit: 10,
        sort: 'id',
        order: 'ASC',
        idSort: 'ASC',
        nameSort: false,
        priceSort: false,
        isModalDeleteVisible: false,
        modalDeleteConfig: null,
        isModalChooseCategoriesVisible: false,
        filterByCategory: '',
        criteria: '',
        filter: 'all',
        pageLoaded: false
    }),
    computed: {
      selectAll: {
        get() {
          return this.blogList ? this.selected.length == this.blogList.length : false;
        },
        set(value) {
          let selected = [];

          if (value) {
            this.blogList.forEach(function (blogList) {
              selected.push(blogList.id);
            });
          }

          this.selected = selected;
          this.itemsText = !selected.length ? '0 item selected:'
            : ((selected.length == 1) ? '1 item selected:' : selected.length + ' items selected:') ;
          this.activeBtn = this.selected.length ? true : false;
        }
      }
    },
    methods: {
      onDelete(title, id){
        this.modalDeleteConfig = {
          title: 'Delete Article',
        };
        if (id) {
          this.modalDeleteConfig.id = id;
          this.modalDeleteConfig.article = 'The "'+title+'" article will be deleted. Are you sure?';
        } else if (this.selected.length > 0) {
          this.modalDeleteConfig.id = this.selected;
          this.modalDeleteConfig.article = 'The '+this.selected.length+' articles will be deleted. Are you sure?';
        }
        this.isModalDeleteVisible = true;
      },
      onDeleteBlog(data) {
        let url, body = {};
        if (data.res.length && data.res.length > 0) {
          axios({
            method: 'delete',
            url: corsDisabled(apiURL + '/api/admin/blog/selected'),
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
            data: {delete: data.res}
          })
            .then(response => {
                console.log(response);
              this.isModalDeleteVisible = false;
              this.changeTable();
              this.itemsText =  '0 item selected:';
              this.selected = [];
              this.activeShow = false;
              this.activeBtn = false;
            })
            .catch(error => {
              console.log(error);
            });
        } else {
          axios({
            method: 'delete',
            url: corsDisabled(apiURL + '/api/admin/blog/' + data.res),
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
          })
            .then(response => {
                console.log(response);
              this.isModalDeleteVisible = false;
              this.changeTable();
            })
            .catch(error => {
              console.log(error);
            });
        }
      },
      clickCheckbox() {
        this.activeBtn = this.selected.length ? true : false;
        this.itemsText = !this.selected.length ? '0 item selected:'
          : ((this.selected.length == 1) ? '1 item selected:' : this.selected.length + ' items selected:') ;
      },
      clickActive() {
        if (this.activeBtn) {
          this.activeShow = !this.activeShow;
        }
      },
      sortById() {
        this.sort = 'id';
        this.idSort =  this.idSort == 'ASC' ? 'DESC' : 'ASC';
        this.order = this.idSort;
        this.nameSort = false;
        this.priceSort = false;
        this.changeTable();
      },
      sortByName() {
        this.sort = 'name';
        this.nameSort = this.nameSort == 'ASC' ? 'DESC' : 'ASC';
        this.order = this.nameSort;
        this.idSort = false;
        this.priceSort = false;
        this.changeTable();
      },
      onChangeSearch(data){
        this.filter = data.filter;
        this.criteria = data.criteria;
        this.page = 1;
        this.changeTable();
      },
      changeTable() {
        axios({
          method: 'get',
          url: corsDisabled(`${apiURL}/api/admin/blogs`),
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.blogList = response.data;
            this.totalRecords = response.data.count;
            console.log(response);

            this.pageLoaded = true
          })
          .catch(error => {
              // console.log(error);
              this.$router.push('/admin/login')
            // document.location.replace('/admin/login');
          });
      }
    },
    mounted() {
      this.changeTable();
    },
  }

</script>