<template>
  <div>
    <MainHeader class="header-white"/>
    <main class="contact">
      <section class="contact__wrapper">
          <div class="border-block thanks-page">
              <div class="check">
                <!-- <check-icon class="check--icon"></check-icon> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="check--icon feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
              </div>
              <p class="title">Thank you</p>
              <p>Thanks for your submission. We will contact you soon.
                  <nuxt-link to="/" class="btn btn-ok">Go to home page.</nuxt-link>
              </p>
          </div>
      </section>
    </main>
    <AppFooter/>
  </div>
</template>
<script>
    import MainHeader from '@/components/general/Header';
    import AppFooter from '@/components/general/Footer';
    
    //
    // import CheckIcon from "vue-feather-icons/icons/CheckIcon";

    export default {
        name: 'ContactThanks',
        components: {
            MainHeader,
            // CheckIcon,
            AppFooter
        },
        head: {
            title: 'Contact Us - Schedule An Appointment | Maryland & Virginia | NextHealth.org',
            meta: [
                { vmid: 'description', name: 'description', content: 'Schedule a personalized preventative health care examination with us. Take control of your future health. With two locations , one in Maryland, and the other in Virginia.' },
                { vmid: 'name', name: 'robots', content: 'index, nofollow' },
            ],
        }
    }
</script>

