<template>
  <div class="popup-overlay">
    <div class="popup">
      <div class="popup-header">
        <h3 class="popup-header--title">New category</h3>
        <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
      </div>

      <div class="popup-body">

      </div>

      <div class="popup-bottom">
        <a href="#" class="btn btn-button btn-round" @click="close">Cancel</a>
        <a href="#" class="btn btn-button btn-round btn-button--green" :class="{'disabled': !isChange}">Save</a>
      </div>
    </div>
  </div>
</template>

<script>
  import {EditIcon, XIcon, Trash2Icon} from 'vue-feather-icons';

  export default {
    name: 'default-modal',
    components: {
      XIcon, EditIcon, Trash2Icon,
    },
    data() {
      return {
        isChange: false,
      }
    },
    computed: {
    },
    methods: {
      close: function(){
        this.$emit('close');
      },
    },
  }
</script>

