<template>
  <div class="successfully-block">
    <check-icon></check-icon>
    <p class="successfully-text">
      <span><b>{{ text }}</b></span>
      <a :href="aHref" class="btn btn-round btn-successfully">{{ aTitle }}</a>
    </p>
  </div>
</template>

<script>
  import {CheckIcon} from 'vue-feather-icons';

  export default {
    name: 'alert-successfully',
    components: {CheckIcon},
    props: ['text', 'aHref', 'aTitle']
  }
</script>

<style lang="scss">
  .successfully-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #15D06B;
    border-radius: 3px;
    text-align: left;
    padding: 12px 15px;
    position: relative;
    margin-bottom: 15px;
    svg{
      // position: absolute;
      color: #fff;
      width: 24px;
      height: 24px;
      // top: 15px;
    }
    .successfully-text{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      color: #fff;
      font-size: 14px;
      line-height: 18px;
      padding-left: 30px;
      .btn-successfully{
        /* right: 0;
        top: -9px;
        position: absolute; */
        border: 1px solid #fff!important;
        color: #fff;
        &:hover, &:active, &:focus{
          color: #15D06B;
          background: #fff;
        }
      }
    }
  }
</style>
