<template>
  <div class="process-block">
    <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
    <p class="process-text">{{ text }}</p>
  </div>
</template>

<script>
  import {AlertTriangleIcon} from 'vue-feather-icons';

  export default {
    name: 'alert-process',
    components: {AlertTriangleIcon},
    props: ['text'],
    data() {
      return {
      }
    },
  }
</script>

<style lang="scss">
  .process-block {
    background: #FFC700;
    border-radius: 3px;
    text-align: left;
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
    i{
      color: #fff;
    }
    .process-text{
      display: inline-block;
      color: #fff;
      font-size: 14px;
      line-height: 18px;
      padding-left: 15px;

    }
  }
</style>
