<template>
  <div class="input-group form-control">
    <label class="radio">
      <input type="checkbox" v-model="inputVal" :value="checkboxValue" @change="changeCheckbox"/>
      <div class="radio__text">{{ radioText }}</div>
    </label>
    <p v-if="productPropertyError" class="error-text">This field is required.</p>
  </div>
</template>

<script>

  export default {
    name: 'checkbox',
    props: ['radioText', 'value', 'checkboxValue', 'onChange'],
    data() {
      return {
        inputVal: this.value
      }
    },
    watch: {
      inputVal(val) {
        this.$emit('input', val);
      }
    },
    computed: {
    },
    methods: {
      changeCheckbox: function(){
        this.onChange({
          value: this.inputVal,
          id: this.checkboxValue
        })
      }
    },

  }
</script>
