<template>
  <div class="onoffswitch">
    <input v-model="inputVal"
           @change="onChangeCeckbox"
           type="checkbox"
           name="onoffswitch"
           class="onoffswitch-checkbox"
           :id="attrId"/>
    <label class="onoffswitch-label" :for="attrId">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</template>

<script>

  export default {
    name: 'custom-checkbox',
    props: ['attrId', 'value', 'onChange'],
    data() {
      return {
        inputVal: this.value
      }
    },
    watch: {
      value(val){
        this.inputVal = val;
      },
      inputVal(val) {
        this.$emit('input', val);
      }
    },
    computed: {
    },
    methods: {
      onChangeCeckbox(){
        this.onChange({
          value: this.inputVal
        })
      }
    },

  }
</script>
