<template>
  <div class="filter-block">
    <p class="filter-title">Filters</p>
    <div class="filter-block--option">
      <p @click="isDisplayFilterList=!isDisplayFilterList" class="filter-btn">{{ selectText }} <i class="fa fa-angle-down"></i></p>
      <div v-show="isDisplayFilterList" class="filter-listr">
        <p v-for="(filter,key) in filterList"
           class="filter-item"
           :class="{'selected': filter.selected}"
           @click="onClickFilterItem(key)">{{filter.name}}</p>
        <div class="btn-block">
          <button type="button" class="btn btn-button btn-button--green" @click="onApply">Apply</button>
          <button type="button" class="btn btn-button btn-button--gray" @click="onClear">Clear</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'filter-status',
    props: ['onSelect', 'statusList'],
    data() {
      return {
        isDisplayFilterList: false,
        selectText: 'All status',
        filterList: [],
        selected: [],
      }
    },
    computed: {
    },
    methods: {
      onClickFilterItem: function(index){
        let element = this.filterList[index];
        if(this.selected.indexOf(element.name) != -1){
          this.selected.splice(this.selected.indexOf(element.name), 1);
          this.filterList[index].selected=false;
        }else{
          this.selected.push(element.name);
          this.filterList[index].selected=true;
        }
      },
      onClear: function(){
        this.selectText = 'All status';
        this.selected = [];
        this.filterList.forEach(item => {
          item.selected = false;
        });
        this.isDisplayFilterList = false;
        this.onSelect({
          filter: this.selected
        });
      },
      onApply: function(){
        this.selectText = 'In '+this.selected.length+' status';
        this.isDisplayFilterList = false;
        this.onSelect({
          filter: this.selected
        });
      }
    },
    mounted() {
      this.statusList.forEach(item => {
        this.filterList.push({name: item, selected: false})
      })
    },

  }
</script>
