<template>
  <div class="filter-block">
    <p class="filter-title">Filters</p>
    <div class="filter-block--option filter-coupons m-r-10">
      <Datetime placeholder="Date of creation(after)"
                v-model="startDateAfterModel"
                type="date"
                class="filter-btn"
                format="yyyy-MM-dd"
      />
    </div>
    <div class="filter-block--option filter-coupons m-r-10">
      <Datetime placeholder="Date of creation(before)"
                v-model="startDateBeforeModel"
                type="date"
                class="filter-btn"
                format="yyyy-MM-dd"
      />
    </div>
    <div class="filter-block--option filter-coupons m-r-10">
      <Datetime placeholder="Expiration date(after)"
                v-model="expirationDateAfterModel"
                type="date"
                class="filter-btn"
                format="yyyy-MM-dd"
      />
    </div>
     <div class="filter-block--option filter-coupons m-r-10">
      <Datetime placeholder="Expiration date(before)"
                v-model="expirationDateBeforeModel"
                type="date"
                class="filter-btn"
                format="yyyy-MM-dd"
      />
    </div>
    <div class="filter-block--option filter-coupons">
      <p @click="isDisplayFilterList=!isDisplayFilterList" class="filter-btn">{{ selectText }} <i class="fa fa-angle-down"></i></p>
      <div v-show="isDisplayFilterList" class="filter-listr">
        <p v-for="(filter,key) in filterList"
           :key="key"
           class="filter-item"
           :class="{'selected': filter.selected}"
           @click="onClickFilterItem(key)">{{filter.name}}</p>
        <div class="btn-block">
          <button type="button" class="btn btn-button btn-button--green" @click="onApply">Apply</button>
          <button type="button" class="btn btn-button btn-button--gray" @click="onClear">Clear</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {Datetime} from 'vue-datetime';

  export default {
    name: 'filter-coupon-date-status',
    props: ['onChangeFilter', 'statusList'],
    components:{
      Datetime,
    },
    data() {
      return {
        isDisplayFilterList: false,
        selectText: 'All status',
        filterList: [],
        selected: [],
        startDate: '',
        startDateAfterModel: '',
        startDateBeforeModel: '',
        expirationDateAfterModel: '',
        expirationDateBeforeModel: '',
        startDateAfter: '',
        startDateBefore: '',
        expirationDateAfter: '',
        expirationDateBefore: ''
      }
    },
    watch:{
      startDateAfterModel: function (newVal) {
        this.startDateAfter = newVal.substring(0, newVal.indexOf('T'));
        this.onChangeFilter({
          filter: this.selected,
          afterCreate: this.startDateAfter,
          beforeCreate: this.startDateBefore,
        });
      },
      startDateBeforeModel: function (newVal) {
        this.startDateBefore = newVal.substring(0, newVal.indexOf('T'));
        this.onChangeFilter({
          filter: this.selected,
          afterCreate: this.startDateAfter,
          beforeCreate: this.startDateBefore,
        });
      },
      expirationDateAfterModel: function (newVal) {
        this.expirationDateAfter = newVal.substring(0, newVal.indexOf('T'));
        this.onChangeFilter({
          filter: this.selected,
          afterExpiration: this.expirationDateAfter,
          beforeExpiration: this.expirationDateBefore,
        });
      },
      expirationDateBeforeModel: function (newVal) {
        this.expirationDateBefore = newVal.substring(0, newVal.indexOf('T'));
        this.onChangeFilter({
          filter: this.selected,
          afterExpiration: this.expirationDateAfter,
          beforeExpiration: this.expirationDateBefore,
        });
      }
    },
    computed: {
    },
    methods: {
      onClickFilterItem: function(index){
        let element = this.filterList[index];
        if(this.selected.indexOf(element.name) != -1){
          this.selected.splice(this.selected.indexOf(element.name), 1);
          this.filterList[index].selected=false;
        }else{
          this.selected.push(element.name);
          this.filterList[index].selected=true;
        }
      },
      onClear: function(){
        this.selectText = 'All status';
        this.selected = [];
        this.filterList.forEach(item => {
          item.selected = false;
        });
        this.isDisplayFilterList = false;
        this.onChangeFilter({
          filter: this.selected,
          after: this.startDate,
          before: this.expirationDate,
        });
      },
      onApply: function(){
        this.selectText = 'In '+this.selected.length+' status';
        this.isDisplayFilterList = false;
        this.onChangeFilter({
          filter: this.selected,
          afterCreate: this.startDateAfter,
          beforeCreate: this.startDateBefore,
          afterExpiration: this.expirationDateAfter,
          beforeExpiration: this.expirationDateBefore
        });
      }
    },
    mounted() {
      this.statusList.forEach(item => {
        this.filterList.push({name: item, selected: false})
      })
    },

  }
</script>
<style scoped>
  .filter-block--option.filter-coupons {
    width: 182px;
  }
</style>