<template>
  <div class="filter-block">
    <p class="filter-title">Filters</p>
    <div class="filter-block--option m-r-10">
      <Datetime placeholder="Date of creation"
                v-model="startDateModel"
                type="date"
                class="filter-btn"
                format="yyyy-MM-dd"
      />
    </div>
    <div class="filter-block--option m-r-10">
      <Datetime placeholder="Expiration date"
                v-model="expirationDateModel"
                type="date"
                class="filter-btn"
                format="yyyy-MM-dd"
      />
    </div>
    <div class="filter-block--option">
      <p @click="isDisplayFilterList=!isDisplayFilterList" class="filter-btn">{{ selectText }} <i class="fa fa-angle-down"></i></p>
      <div v-show="isDisplayFilterList" class="filter-listr">
        <p v-for="(filter,key) in filterList"
           :key="key"
           class="filter-item"
           :class="{'selected': filter.selected}"
           @click="onClickFilterItem(key)">{{filter.name}}</p>
        <div class="btn-block">
          <button type="button" class="btn btn-button btn-button--green" @click="onApply">Apply</button>
          <button type="button" class="btn btn-button btn-button--gray" @click="onClear">Clear</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {Datetime} from 'vue-datetime';

  export default {
    name: 'filter-date-status',
    props: ['onChangeFilter', 'statusList'],
    components:{
      Datetime,
    },
    data() {
      return {
        isDisplayFilterList: false,
        selectText: 'All status',
        filterList: [],
        selected: [],
        startDateModel: '',
        expirationDateModel: '',
        startDate: '',
        expirationDate: ''
      }
    },
    watch:{
      startDateModel: function (newVal) {
        this.startDate = newVal.substring(0, newVal.indexOf('T'));
        this.onChangeFilter({
          filter: this.selected,
          after: this.startDate,
          before: this.expirationDate,
        });
      },
      expirationDateModel: function (newVal) {
        this.expirationDate = newVal.substring(0, newVal.indexOf('T'));
        this.onChangeFilter({
          filter: this.selected,
          after: this.startDate,
          before: this.expirationDate,
        });
      }
    },
    computed: {
    },
    methods: {
      onClickFilterItem: function(index){
        let element = this.filterList[index];
        if(this.selected.indexOf(element.name) != -1){
          this.selected.splice(this.selected.indexOf(element.name), 1);
          this.filterList[index].selected=false;
        }else{
          this.selected.push(element.name);
          this.filterList[index].selected=true;
        }
      },
      onClear: function(){
        this.selectText = 'All status';
        this.selected = [];
        this.filterList.forEach(item => {
          item.selected = false;
        });
        this.isDisplayFilterList = false;
        this.onChangeFilter({
          filter: this.selected,
          after: this.startDate,
          before: this.expirationDate,
        });
      },
      onApply: function(){
        this.selectText = 'In '+this.selected.length+' status';
        this.isDisplayFilterList = false;
        this.onChangeFilter({
          filter: this.selected,
          after: this.startDate,
          before: this.expirationDate,
        });
      }
    },
    mounted() {
      this.statusList.forEach(item => {
        this.filterList.push({name: item, selected: false})
      })
    },

  }
</script>
