<template>
  <div class="input-group form-control">
    <p v-if="label" class="text-form">{{ label }}
      <span v-if="optional" class="optional"> - {{ optional }}</span>
    </p>
    <div class="icon-input-block">
      <span class="icon-input left-icon">$</span>
      <input class="input-form left-icon" type="number"
             :value="value" @input="updateSelf($event.target.value)"
             :placeholder="placeholder"
             :class="{'error-input' : errorBlock}"
             step="0.01"
             min="0"
             @keyup="onKeyup"
             @change="changeInput"
      />
    </div>
    <p v-if="errorBlock" class="error-text">This field is required.</p>
  </div>
</template>

<script>

  export default {
    name: 'input-price',
    props: ['label', 'value', 'placeholder', 'optional', 'errorInput', 'onChange'],
    data() {
      return {
        errorBlock: false,
      }
    },
    watch:{
      errorInput: function (newVal, oldVal) {
        this.errorBlock = newVal;
      }
    },
    computed: {
    },
    methods: {
      updateSelf (name) {
        this.$emit('input', name)
      },
      onKeyup: function(){
        if (this.errorBlock) {
          this.errorBlock = false;
        }
        this.onChange({
          value: this.value,
        });
      },
      changeInput: function() {
        this.onChange({
          value: this.value,
        })
      }
    },

  }
</script>
