<template>
  <div class="upload-image input-group form-control">
    <p class="text-form">{{ label }}
      <span v-if="optional" class="optional"> - {{ optional }}</span>
    </p>
    <div :class="{'error-input':errorBlock}">
      <div class='uploaded-image' v-if="imageSrc">
        <div class="image">
          <img :src="imageSrc" />
          <button @click="removeImage" class="remove-image">
            <i class="fa fa-times-circle"></i>
          </button>
        </div>
      </div>
      <div v-if="!imageSrc" class="upload-btn-wrapper">
        <button><img src="/img/admin/testimage.svg" alt=""></button>
        <input type="file" :name="name" @change="uploadImage"/>
      </div>
    </div>
    <p v-if="errorBlock" class="error-text">This field is required.</p>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '@/helpers/config';
  import corsDisabled from "@/helpers/corsDisabled";

  export default {
    name: 'upload-image',
    props:['label', 'optional', 'name', 'src', 'onChange', 'errorInput'],
    data() {
      return {
        imageSrc: this.src,
        errorBlock: false,
      }
    },
    computed: {
    },
    watch: {
      src: function(newVal, oldVal) {
        this.imageSrc = newVal;
      },
      errorInput: function (newVal, oldVal) {
        this.errorBlock = newVal;
      }
    },
    methods: {
      uploadImage: function(event) {
        if (this.errorBlock) {
          this.errorBlock = false;
        }
        let input = event.srcElement;
        if (input.files && input.files[0]) {
          this.imageSrc = URL.createObjectURL(input.files[0]);
          this.postMedia(input.files[0]);
        }
      },
      removeImage() {
        this.imageSrc = '';
        this.onChange({'media_id': null});
      },

      postMedia(data) {
        this.$emit('startUpload');
        axios.post( 
          corsDisabled(apiURL + '/api/admin/media'),
          data,
          {
            headers: {
              'Authorization': 'Bearer ' + this.$cookie.get('user_token'),
            }
          }).then(response => {
          let data = response.data;
          console.log('postMedia',data)
          this.onChange({
            'media_id': data.id,
            'url': data.filename
          });
          this.$emit('finishUpload');
        }).catch(error => {
          this.imageSrc = '';
          this.errorBlock = true;
          this.$emit('finishUpload');
        })
      }
    },

  }
</script>
<style lang="scss">
  .upload-image{
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      button{
        border: none;
        color: gray;
        background-color: white;
        padding: 0;
        font-size: 20px;
        &:hover, &:active, &:focus{
          cursor: pointer;
        }
      }
      input[type=file]{
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    .uploaded-image{
      .image{
        display: flex;
        width: 100px;
        height: 100px;
        border: 1px solid #D7E4F0;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        &:hover .remove-image{
          display: block;
          cursor: pointer;
        }
      }
      .remove-image{
        display: none;
        width: 100px;
        height: 100px;
        position: absolute;
        background: transparent;
        top: 0;
        border: none;
        i{
          color: #15CBC4;
          opacity: 0.85;
          font-size: 34px;
        }
      }
    }
    .error-input{
      .upload-btn-wrapper > button >img{
        border: 1px solid #E73D4A;
      }
    }
  }
</style>
