<template>
  <div class="embed-responsive embed-responsive-16by9 media_border-radius" >
    <img v-if="imageURL" :src="imageURL" alt="" class="embed-responsive-item">
    <video v-else-if="videoURL" controls muted loop playsinline autoplay="autoplay" class="embed-responsive-item">
      <source :src="videoURL" type="video/mp4">
    </video>
  </div>
  
</template>

<script>
export default {
  props: {
    imageURL: {
      type: String,
      default: ''
    },
    videoURL: {
      type: String,
      default: ''
    },
    borderRadius: {
      type: Boolean,
      default: false
    }
  }
}
</script>
