<template>
  <div class="executive-physical__package-img swiper-video">
    <div class="iframe-wrapper">
      <iframe
        ref="videoSlide"
        :src="videoUrl + '?title=0&byline=0&portrait=0&controls=0'"
        frameborder="0"
        allow="autoplay"
        allowfullscreen
      ></iframe>
      <div class="btn-video-play-wrapper" @click="playVideo()">
        <div class="btn-video-play" v-show="!videoOn">
          <svg xmlns="http://www.w3.org/2000/svg" width="81" height="81" viewBox="0 0 81 81">
            <g>
              <g>
                <g>
                  <path
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-miterlimit="50"
                    stroke-width="3"
                    d="M37.213 2.324c-19.629 1.808-35 18.318-35 38.418 0 21.308 17.275 38.582 38.582 38.582 21.31 0 38.583-17.274 38.583-38.582 0-12.695-6.135-23.952-15.6-30.98"
                  />
                </g>
              </g>
              <g>
                <g>
                  <path
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-miterlimit="50"
                    stroke-width="3"
                    d="M32.53 56.953v0l-.483.278a.97.97 0 0 1-1.454-.839V25.256a.97.97 0 0 1 1.454-.838L59.01 39.985a.97.97 0 0 1 0 1.679l-18.707 10.8v0"
                  />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <!-- <img src="/img/executive-physical/platinum.jpg">-->
  </div>
</template>

<script>
export default {
    props: {
        videoUrl: {
            type: String,
            default: ''
        }
    },
  data: () => ({
    videoOn: false,
  }),
  methods: {
    playVideo() {
      var iframe = this.$refs.videoSlide;
      var player = new Vimeo.Player(iframe);
      if (this.videoOn) {
        player.pause();
        this.videoOn = false;
      } else {
        player.play();
        this.videoOn = true;
      }
    },
  },
};
</script>

<style>
</style>