<template>
  <div class="testimonials-only-video__wrapper color-white">
    <!-- <no-ssr> -->
    <h2 class="landing-section__title testimonials-concierge__title">Testimonials</h2>
    <no-ssr>
      <swiper :options="swiperOption">
        <swiper-slide
          class="executive-physical__package animated"
          v-for="(item, i) in items"
          :key="i"
        >
          <div>
              <v-slide-video :videoUrl="item.videoUrl" />
            <!-- <div class="executive-physical__package-img swiper-video">
              <div class="iframe-wrapper">
                <iframe
                  ref="videoSlide"
                  :id="'videoSlide' + i"
                  :src="item.videoUrl + '?title=0&byline=0&portrait=0&controls=0'"
                  frameborder="0"
                  allow="fullscreen"
                  allowfullscreen
                ></iframe>
                <div class="btn-video-play-wrapper" @click="playVideo(i)">
                  <div class="btn-video-play" v-show="!videoOn">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="81"
                      height="81"
                      viewBox="0 0 81 81"
                    >
                      <g>
                        <g>
                          <g>
                            <path
                              fill="none"
                              stroke="#fff"
                              stroke-linecap="round"
                              stroke-miterlimit="50"
                              stroke-width="3"
                              d="M37.213 2.324c-19.629 1.808-35 18.318-35 38.418 0 21.308 17.275 38.582 38.582 38.582 21.31 0 38.583-17.274 38.583-38.582 0-12.695-6.135-23.952-15.6-30.98"
                            />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path
                              fill="none"
                              stroke="#fff"
                              stroke-linecap="round"
                              stroke-miterlimit="50"
                              stroke-width="3"
                              d="M32.53 56.953v0l-.483.278a.97.97 0 0 1-1.454-.839V25.256a.97.97 0 0 1 1.454-.838L59.01 39.985a.97.97 0 0 1 0 1.679l-18.707 10.8v0"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <script src="https://player.vimeo.com/api/player.js"></script>
            </div> -->

            <div class="executive-physical__package-content">
              <h4 class="executive-physical__package-title">{{item.title}}</h4>
              <p class="executive-physical__package-info">{{item.info}}</p>
              <!--<a class="executive-physical__package-link hide-mobile" @click.prevent="$emit('openPlatinum')" href="#" data-package="platinum">Learn More</a>
              <a class="executive-physical__package-link show-mobile" @click.prevent="$emit('openPlatinumMobile')" href="#" data-package="platinum">Learn More</a>-->
            </div>
          </div>
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
        <div class="swiper-button-next swiper-button-white" slot="button-next"></div>

        <div
          id
          class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
          slot="pagination"
        ></div>
      </swiper>
    </no-ssr>
    <!-- </no-ssr> -->
  </div>
</template>

<script>
import VSlideVideo from "./SlideVideo"
export default {
    components: {
        VSlideVideo
    },
  data: () => ({
    // videoOn: false,
    swiperOption: {
      slidesPerView: 3,
      spaceBetween: -100,
      slidesPerGroup: 1,
      initialSlide: 1,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      shortSwipes: false,
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      breakpoints: {
        667: {
          slidesPerView: 1,
          spaceBetween: -20,
          initialSlide: 3,
          loop: true,
          pagination: {
            el: "#swiper-pagination-packages",
            clickable: true,
          },
        },
        900: {
          slidesPerView: 3,
          spaceBetween: -90,
        },
      },
    },
    items: [
      {
        title: "",
        info: "",
        videoUrl: "https://player.vimeo.com/video/437879331",
      },
      {
        title: "",
        info: "",
        videoUrl: "https://player.vimeo.com/video/437896105",
      },
      {
        title: "",
        info: "",
        videoUrl: "https://player.vimeo.com/video/437877491",
      },
    ],
  }),
  mounted() {
    setTimeout(() => {
      this.showSlider = true;
    }, 3000);
  },
//   methods: {
//     playVideo(i) {
//       debugger;
//       var iframe = this.$refs.videoSlide[0];
//       var player = new Vimeo.Player(iframe);
//       if (this.videoOn) {
//         player.pause();
//         this.videoOn = false;
//       } else {
//         player.play();
//         this.videoOn = true;
//       }
//     },
//   },
};
</script>
