<template>
<div>
    <div class="tabs-categories-wrapper" v-show="header">
        <no-ssr>
        <swiper v-if="!mobile" :options="tabsSwiperOption" ref="tabsSwiper" @slideChange="tabsSlideChange" class="tabs-categories">
            <swiper-slide  v-for="(tab, i) in slides" :key="i">
                <div class="tabs-categories__item" :class="{active: activeTab === i}" @click="sliderTo(i)">
                    <span>{{tab.title}}</span>
                </div>
            </swiper-slide>
        </swiper>
        

        <div v-else class="tabs-categories">
            <div class="tabs-categories__item" :class="{active: activeTab === i}" v-for="(tab, i) in slides" :key="i" @click="sliderTo(i)">
                <span>{{tab.title}}</span>
            </div>
        </div>
        </no-ssr>
    </div>
    <div class="tabs-contents-wrapper">
        <div class="executive-physical__packages-wrapper">
            <no-ssr>
            <swiper :options="videosSwiperOption" ref="videosSwiper" @slideChange="videosSlideChange">
                <swiper-slide class="executive-physical__package  animated" v-for="(slide, i) in slides" :key="i">
                    <div class="">
                        <div class="landing-section__media-wrapper embed-responsive embed-responsive-16by9">
                            <!-- autoplay="autoplay" playsinline -->
                            <!-- <video muted loop controls class="landing-section__media embed-responsive-item"> 
                                <source :src="slide.videoUrl" type="video/mp4">
                            </video> -->
                            

                            <iframe
                                class="landing-section__media embed-responsive-item" 
                                :src="slide.videoUrl + '?title=0&byline=0&portrait=0'"
                                frameborder="0"
                                allow="autoplay; fullscreen"
                                allowfullscreen>
                            </iframe>
                            
                        </div>
                        <div class="tabs-contents__description">
                            <p v-html="slide.text"></p>
                        </div>
                    </div>
                </swiper-slide>

                <!-- Optional controls -->
                <div class="swiper-button-prev swiper-button-white" slot="button-prev" v-show="slides.length > 1"></div>
                <div class="swiper-button-next swiper-button-white" slot="button-next" v-show="slides.length > 1"></div>
                <!-- <div class="swiper-scrollbar"   slot="scrollbar"></div> -->
            </swiper>
            </no-ssr>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        slides: {
            type: Array,
            default: () => []
        },
        header: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        tabsSwiperOption: {
            slidesPerView: 5,
            slidesPerGroup: 1,
            initialSlide: 3,
            // loop: true,
            loop: false,
            grabCursor: true,
            centeredSlides: true,
            shortSwipes: false,
            breakpoints: {
                560: {
                    slidesPerView: 1
                },
                900: {
                    slidesPerView: 3
                },
                1200: {
                    slidesPerView: 4
                },
                1600: {
                    slidesPerView: 5
                }
            }
        },
        videosSwiperOption: {
            slidesPerView: 3,
            spaceBetween: -150,
            slidesPerGroup: 1,
            initialSlide: 3,
            // loop: true,
            loop: false,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            shortSwipes: false,
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows : true,
            },
            breakpoints: {
                560: {
                    spaceBetween: 15,
                    slidesPerView: 1,
                },
                768: {
                    spaceBetween: 35,
                    slidesPerView: 1
                },
                991: {
                    spaceBetween: -20,
                    slidesPerView: 1
                }
            }
        },
        activeTab: 3,
        mobile: false
    }),
    methods: {
        tabsSlideChange() {
            this.activeTab = this.tabsSwiper.activeIndex;
            this.videosSwiper.slideTo(this.activeTab);
        },
        videosSlideChange() {
            this.activeTab = this.videosSwiper.activeIndex;
            if(!this.mobile) {
                this.tabsSwiper.slideTo(this.activeTab);
            }
        },
        sliderTo(i) {
            this.activeTab = i
            if(!this.mobile) {
                this.tabsSwiper.slideTo(this.activeTab);
            }
            this.videosSwiper.slideTo(this.activeTab);
        }
    },
    computed: {
      tabsSwiper() {
        console.log('this.$refs.tabsSwiper', this.$refs.tabsSwiper)
        return this.$refs.tabsSwiper && this.$refs.tabsSwiper.swiper
      },
      videosSwiper() {
        console.log('this.$refs.videosSwiper', this.$refs.videosSwiper)
        return this.$refs.videosSwiper.swiper
      }
    },
    mounted() {
        if (window.innerWidth <= 560) {
            this.mobile = true
        }
        window.addEventListener("resize", () => {
            if (window.innerWidth <= 560) {
                this.mobile = true
            } else {
                this.mobile = false
            }
        });
    }
}
</script>
