<template>
  
</template>

<script>
export default {
    mounted() {
        if(this.$cookie.get('user_token')) {
            this.$router.push('/admin/blog')
        } else {
            this.$router.push('/admin/login')
        }
        
    }
}
</script>

<style>

</style>