<template>
  <div class="admin-login login-page">
    <div class="block-login">
      <div class="top-block">
        <nuxt-link class="logo" to="/">
          <img src="/img/admin/logo.svg"/>
        </nuxt-link>
      </div>

      <section class="form-login">
        <h2>Login to admin account</h2>
        <sign-in></sign-in>
      </section>

      <p class="copy-right">2019 © NextHealth</p>
    </div>
  </div>
</template>

<script>
  import SignIn from "@/components/admin/SignInForm.vue";

  export default {
    components: {
      SignIn
    },
    name: 'Admin-Login',
  }
</script>
