<template>
    <section class="vitamins-wrapper faqs-wrapper">
        <h2 class="vitamins-title">{{title}}</h2>
        <collapse :selected="false"
                  v-for="(item, i) in faqsList"
                  :key="i"
                  class="collapse-container">
            <div slot="collapse-header">
                <h3>{{item.title}}</h3>
            </div>
            <div slot="collapse-body">
                <p>{{item.text}}</p>
            </div>
        </collapse>
    </section>
</template>
<script>
import Collapse from 'vue-collapse'
export default {
    name: 'Faqs',
    data(){
        return {
            title: "FAQs",
            faqsList: [
                {
                    title: "How does the IV therapy work?",
                    text: "IV Vitamin Therapy works by administration of vitamins and nutrients directly into the bloodstream, bypassing the digestive system. This provides increased cell absorption and 100% bioavailability of vitamins via IV infusion. Booster shots are administered via intramuscular (IM) injection so there is no GI metabolism, which also allows for increased absorption. With oral supplements, you only get about 20% absorption after filtering through your digestive system, which clearly pales in comparison to IV vitamins."
                },
                {
                    title: "How long does it take?",
                    text: "IV Vitamin Therapy works by administration of vitamins and nutrients directly into the bloodstream, bypassing the digestive system. This provides increased cell absorption and 100% bioavailability of vitamins via IV infusion. Booster shots are administered via intramuscular (IM) injection so there is no GI metabolism, which also allows for increased absorption. With oral supplements, you only get about 20% absorption after filtering through your digestive system, which clearly pales in comparison to IV vitamins."

                },
                {
                    title: "How long does it take?",
                    text: "IV Vitamin Therapy works by administration of vitamins and nutrients directly into the bloodstream, bypassing the digestive system. This provides increased cell absorption and 100% bioavailability of vitamins via IV infusion. Booster shots are administered via intramuscular (IM) injection so there is no GI metabolism, which also allows for increased absorption. With oral supplements, you only get about 20% absorption after filtering through your digestive system, which clearly pales in comparison to IV vitamins."

                },
                {
                    title: "How long does it take?",
                    text: "IV Vitamin Therapy works by administration of vitamins and nutrients directly into the bloodstream, bypassing the digestive system. This provides increased cell absorption and 100% bioavailability of vitamins via IV infusion. Booster shots are administered via intramuscular (IM) injection so there is no GI metabolism, which also allows for increased absorption. With oral supplements, you only get about 20% absorption after filtering through your digestive system, which clearly pales in comparison to IV vitamins."
                }
            ]
        }
    },
    components: {
        Collapse
    }
}
</script>