<template>
  <section class="section home__main vitamins-main">
    <div class="video-block desktop">
      <video autoplay="true" loop="true" muted="true" preload="true" playsinline :src="videoDesktop"  ></video> <!-- style="width: 100%" -->
    </div>
    <div class="video-block mobile">
      <video autoplay="true" loop="true" muted="true" preload="true" playsinline :src="videoMobile" style="width: 100%"></video>
    </div>

    <div class="Home__info Vitamins__info animated slideInLeft" style="z-index: 5">
      <h1 class="title-section vitamin-title-section vitamin-title">{{title}}</h1>
      <p class="vitamin-text">
        {{descr}}
      </p>
      <a @click="$emit('modal')" class="home__button vitamin-button">{{buttonText}}</a>
    </div>
  </section>
</template>
<script>
export default {
  name: "general-block",
  props: {
    title: {
      type: String,
      default: 'IV Vitamin Therapy'
    },
    descr: {
      type: String,
      default: 'Medical Grade IVs'
    },
    buttonText: {
      type: String,
      default: 'Book Now'
    },
    videoDesktop: {
      type: String,
      default: '/video/IV_Vitamina_Therapy_2_1_1.mp4'
    },
    videoMobile: {
      type: String,
      default: '/video/IV_Vitamin_Therapy_Tablet_1_1.mp4'
    }
  }
};
</script>
<style lang="scss" scoped>

.vitamins-main {
  background: none;
  background-image: none;

  .home__text {
    font-size: 5rem;
  }
}
</style>
