<template>
  <section class="vitamins-wrapper works-wrapper" :class="{centered: center}">
    <h2 class="vitamins-title">How it Works</h2>
    <div class="items-wrap">
      <div class="info-block-wrapper">
        <div v-for="(item, index) in items"
            :key="index"
            class="vitamins-info-block">
            <img :src="item.img">
            <p>{{item.text}}</p> <!-- class="not-user-select" -->
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'HowItWorks',
  props: {
    center: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    items: [
      {
        img: "/img/vitamins/blood-frame.png",
        text: "Choose your IV"
      },
      {
        img: "/img/vitamins/time-frame.png",
        text: "Schedule Appointment"
      },
      {
        img: "/img/vitamins/done-frame.png",
        text: "Arrive & Thrive!"
      }
    ]
  })
};
</script>
