<template>
    <section class="vitamins-wrapper iv-menu-wrapper" :class="{centered: center}">
        <h2 class="vitamins-title">{{title}}</h2>
        <div class="wrapper-blocks">
            <div v-for="(item, i) in items" :key="i" @click="setSelectedIndex(i)" class="block-menu">
                <div class="image-block">
                    <img :src="item.image">
                </div>
                <div class="content-block" :class="{'active': i === selectedIndex}">
                    <h3>{{item.title}}</h3>
                    <div v-show="i === selectedIndex">
                        <p>{{item.text}}</p>
                        <a @click="$emit('modal')" class="home__button vitamin-button">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    name: 'IvMenu',
    props: {
        title: {
            type: String,
            default: ''
        },
        items: {
            type: Array,
            default: () => []
        },
        center: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        selectedIndex: null
    }),
    methods: {
        setSelectedIndex(index) {
            if (this.selectedIndex === index) {
                this.selectedIndex = null
            }
            else {
                this.selectedIndex = index
            }
        }
    }
}
</script>
