<template>
    <section class="vitamins-wrapper vitamin-testimonials">
        <h2 class="vitamins-title" style="text-align: center">{{title}}</h2>
        <div class="video-block embed-responsive embed-responsive-16by9" style="max-width: 700px; margin: 0 auto 40px">
            <iframe ref="video" v-if="video.length"
                :src="video"
                frameborder="0"
                allow="autoplay; fullscreen"
                width="720"
                height="405"
                allowfullscreen
                class="Video embed-responsive-item"
            ></iframe> 
        </div>
        <div class="reviews-container" v-if="hasReviews">
            <swiper :options="swiperOption" class="desctop">
                <swiper-slide v-for="(review, index) in reviews"
                              :key="index">
                    <div class="cp-slider__item">
                        <div class="cp-slider__item-wrapper-img">
                            <img class="cp-slider__item-img" :src="review.image"/>
                        </div>
                        <p class="cp-slider__item-text">{{review.text}}</p>
                        <p class="cp-slider__item-author">{{review.author}}</p>
                    </div>
                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
            </swiper>

            <swiper :options="swiperOption2" class="personal-services__slider show-mobile">
                <swiper-slide v-for="(review, index) in reviews"
                              :key="index">
                    <div class="cp-slider__item">
                        <div class="cp-slider__item-wrapper-img">
                            <img class="cp-slider__item-img" :src="review.image"/>
                        </div>
                        <p class="cp-slider__item-text">{{review.text}}</p>
                        <p class="cp-slider__item-author">{{review.author}}</p>
                    </div>
                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
    </section>
</template>
<script>
export default {
    name: 'Testimonials',
    data() {
        return {
            title: 'Testimonials',
            swiperOption: {
                slidesPerView: 3,
                spaceBetween: 30,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                }
            },
            swiperOption2: {
                slidesPerView: 1,
                spaceBetween: 30,
                slidesPerGroup: 1,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                }
            },
            reviews: [{
                image: "/img/vitamins/person1.jpg",
                text: "I absolutely love getting my IVs done at Next Health. The staff is welcoming and always greets me with a hot cup of coffee and healthy organic snacks. The IV process is painless and relaxing. I always feel energized and alert after my IVs. I also get great sleep as well and wake up feeling rested. I do these IVs once a week, and I can't imagine going a week without it. I love it so much that I have my whole family doing it as well!",
                author: "Gary V."
            },
            {
                image: "/img/vitamins/person2.jpg",
                text: "IV Vitamin Therapy at Next Health is the BEST! I get my IV cocktail customized to my needs. Many places have pre-mixed cocktails, but Dr. Habib always makes my IV based on my needs. I love the Glutathione pushes that I get in addition to the IVs, it keeps my skin looking younger. Overall, I feel more energized and focused after my IVs. I also noticed my sleep had improved as well.",
                author: "Rob D."
            },
            {
                image: "/img/vitamins/person3.jpg",
                text: "If you want more energy, more sleep and feel younger then Next Health IV Vitamin Therapy is what you need. I have been getting my Vitamin IVs from Dr. Habib for the last 5 years, and I can't go a week without it. Next Health uses high-quality ingredients for their IVs, and they customize it based on your needs. There was one time where I had a sinus infection, and I recovered within 1 day after doing the IV. It is almost magical what you can achieve with Next Health's IV Vitamin Therapy.",
                author: "Michelle K."
            }]
        }
    },
    props: {
        hasReviews: {
            type: Boolean,
            default: true
        },
        video: {
            type: String,
            default: 'https://player.vimeo.com/video/330781443?title=0&byline=0&portrait=0&autoplay=0'
        },
        
    }
}
</script>
