<template>
    <section class="vitamins-wrapper">
        <div class="vitamins-info-wrapper">
            <h2 class="vitamins-title">{{title}}</h2>
            <p class="vitamins-info-text">Next Health’s Vitamin IV therapy (also called IV Drips) is the most effective way to replenish fluids, vitamins, minerals, and electrolytes in your body.
                Its superior advantage is that nutrients are made immediately available for the cells that need it most. It delivers essential nutrients right at the cellular level for maximum absorption — all while you relax and let it flow into your body. IV Infusions are safe and painless.
            </p>
            <div class="info-block-wrapper">
                <div v-for="(infoBlock, index) in infoBlocks"
                    :key="index"
                    class="vitamins-info-block">
                    <img :src="infoBlock.image">
                    <p>{{infoBlock.text}}</p>
                </div>
            </div>
            <div class="video-container video-block embed-responsive embed-responsive-16by9">
                <video poster="/img/vitamins/video_placeholder_2.jpg" src="/video/Jeff IV Vitamin Testimonial.mp4" controls class="Video embed-responsive-item" />
            </div>
        </div>
    </section>
</template>
<script>
export default {
    name: 'VitaminsInfo',
    data() {
        return {
            title: "What is IV Therapy",
            infoBlocks: [{
                image: "/img/vitamins/icons/IV Vitamin Therapy.png",
                text: "IV Vitamin Therapy"
            },
            {
                image: "/img/vitamins/icons/Chelation Therapy.png",
                text: "Chelation Therapy"
            },
            {
                image: "/img/vitamins/icons/Cancer Care.png",
                text: "Cancer Care"
            }]
        }
    }
}
</script>
<style scoped>

</style>
