<template>
    <div class="admin-header">
      <div class="menu-items">
          <button class="exit" @click="onLogOut">
            <log-out-icon class="font-fix"></log-out-icon> LogOut
          </button>
      </div>
    </div>
</template>

<script>
  import {LogOutIcon} from "vue-feather-icons";

  export default {
    name: "AdminHeader",
    components: {
      LogOutIcon
    },
    methods:{
      onLogOut(){
        if (this.$cookie.get('user_token')) {
          this.$cookie.delete('user_token');
        }
        this.$router.push('/admin/login')
      }
    }
  }
</script>

