.btn-primary {
    display: block;
    position: relative;
    width: 30rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.77778;
    color: #fff;
    text-align: center;
    background-color: #50bbb7;
    border-radius: 24px 24px 26px;
    -webkit-transition-property: color;
    transition-property: color;
    &:before {
        content: "";
        display: block;
        width: 26rem;
        height: 3.5rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 7px 17px rgba(80,187,183,0.8);
    }
    &:hover {
        color: #fff;
    }
}

.btn-primary-small {
    display: inline-block;
    position: relative;
    width: auto;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    background-color: #50bbb7;
    border-radius: 24px 24px 26px;
    transition-property: color;
    padding: 10px 22px;
    min-width: 270px;
    &:hover {
        color: #fff;
        background-color: darken($color: #50bbb7, $amount: 10);
    }
}