.h1-title, .h2-title, .text-primary {
    font-family: Montserrat, sans-serif;
}
.h1-title {
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.09722;
}
.h2-title {
    color: #455c6f;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.3125;
}
.text-primary {
    font-size: 17px;
    line-height: 1.5;
    color: #455c6f;
}

.full-page {
    // min-height: 65vh;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-jc_sb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-col-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.col-half {
    flex: 0 0 50%;
}
.title-mb {
  margin-bottom: 70px;
}

.video-block {
    display: flex;
    align-items: center;
    // border-radius: 25px;
    // box-shadow: 0 10px 30px rgba(51,51,51,0.2);
    overflow: hidden;
    /* iframe, video, .Video {
        // height: 540px;
        // height: 330px;
        // height: 100%;
        width: 100%;
        border-radius: 25px;
        box-shadow: 0 10px 30px rgba(51,51,51,0.2);
        overflow: hidden;
    } */
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
  }
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.bold {
  font-weight: 700;
}

@media(max-width: 1440px) {
    .h2-title {
        font-size: 4rem;
    }
    /* .title-mb {
      margin-bottom: 5vh;
    } */
}
@media(max-width: 560px) {
    .h1-title {
        font-size: 4rem;
    }
    .h2-title {
        font-size: 3.2rem;
    }
    .title-mb {
        margin-bottom: 30px;
    }
    /* .video-block {
      iframe, video {
        height: auto;
      }
    } */
}
