.landing-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: #1A242C;
    position: relative;
    overflow: hidden;
    & > * {
        text-align: center;
        color: #fff;
    }
    .h1-title {
        margin-bottom: 35px;
        position: relative;
    }
    .btn-primary {
        margin-top: 46px;
    }

    &__description {
        font-family: Montserrat, sans-serif;
        font-size: 2.4rem;
        line-height: 1;
        position: relative;
    }
    .Video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // height: 100%;
        z-index: 0;
        // transform: translateY(-30%);
    }

    @media screen and (min-width: 993px) {
        height: 1024px;
        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 20px;
            position: absolute;
            bottom: 32px;
            left: 50%;
            margin-left: -7px;
            background: no-repeat center;
            background-image: url(/img/icons/mouse.svg);
        }
    }
}
