<template>
    <button class="btn-login btn-button btn-bold btn-blue"><i class="fa fa-facebook-f"></i> {{ title }}</button>
</template>

<script>
  export default {
    name: "facebook-button",
    props: ['isSignUp'],
    data(){
      return {
        title: this.isSignUp ? 'Sign In with Facebook' : 'Facebook',
      }
    }
  }
</script>

<style scoped>

</style>
