<template>
    <button class="btn-login btn-button btn-bold btn-red"><i class="fa fa-google"></i> {{ title }}</button>

</template>

<script>
  export default {
    name: "google-button",
    props: ['isSignUp'],
    data(){
      return {
        title: this.isSignUp ? 'Sign In with Google' : 'Google',
      }
    }
  }
</script>

<style scoped>

</style>
