<template>
  <section class="section landing-section landing-section__bg-darkblue">
    <div class="section-container" :class="{'container': container}">
      <h2 v-if="title" class="landing-section__title">{{title}}</h2>
      <div class="section-accordion__items-wrapper">
        <ul class="section-accordion__items">
          <li 
            v-for="(item, i) in items" :key="i" 
            class="section-accordion__item" 
            :class="{'active': selectedItemIndex === i}"
            @click="selectItem(i)"
          >
            <div class="section-accordion__item-title">
                {{item.title}}
            </div>
            <div v-show="selectedItemIndex === i" class="section-accordion__item-content" v-html="item.content" />
          </li>
        </ul>
      </div>
      <a v-if="buttonText && !buttonLink" href="/" class="btn-primary-small" @click.prevent="$emit('btnClick')">{{buttonText}}</a>
      <a v-if="buttonText && buttonLink" :href="buttonLink" class="btn-primary-small">{{buttonText}}</a>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Accordion',
  props: {
    title: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    },
    buttonText: {
      type: String,
      default: ''
    },
    buttonLink: {
      type: String,
      default: ''
    },
    container: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    selectedItemIndex: null
  }),
  methods: {
    selectItem(i) {
      this.selectedItemIndex = this.selectedItemIndex === i ? null : i
    }
  }
}
</script>
