<template>
  <section class="section landing-section" :class="[{'landing-section__bg-image': bgImage}, {'landing-section__bg-darkblue': !bgImage}]">
    <div class="landing-section__row" :class="[{'container container-big': container}, {'reverse': reverse}, {'landing-section__blocks': image || video}]">
      <div class="animated slideInLeft">
        <!-- <img v-if="mobile" class="about__img about__img--mobile" src="/img/about/img_bg_1_mobile.jpg"/>
        <img v-if="tabled" class="about__img about__img--tablet" src="/img/about/img_bg_1_tablet.jpg"/> -->
        <h1 v-if="firstSection" class="landing-section__title big" v-html="title"></h1>
        <h2 v-else class="landing-section__title mb" v-html="title"></h2>
        <div class="landing-section__text" :class="{'half-block': halfBlock}" v-html="description"></div>
        <a v-if="buttonText && !buttonLink" href="/" class="btn-primary-small" @click.prevent="$emit('btnClick')">{{buttonText}}</a>
        <a v-if="buttonText && buttonLink" :href="buttonLink" class="btn-primary-small">{{buttonText}}</a>
      </div>

      <MediaBlock v-if="image || video" :imageURL="image" :videoURL="video" borderRadius />
    </div>
  </section>
</template>

<script>
import MediaBlock from "@/components/share/blocks/Media"
export default {
  components: {
    MediaBlock
  },
  props: {
    firstSection: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    buttonText: {
      type: String,
      default: ''
    },
    buttonLink: {
      type: String,
      default: ''
    },
    bgImage: {
      type: Boolean,
      default: false
    },
    halfBlock: {
      type: Boolean,
      default: false
    },
    container: {
      type: Boolean,
      default: false
    },
    reverse: {
      type: Boolean,
      default: false
    },
    image: {
      type: String,
      default: ''
    },
    video: {
      type: String,
      default: ''
    }
  }
}
</script>
