<template>
<section class="section section__benefits executive-physical__packages">
<div class="benefits__block">
        <div class="benefits__block_title">
            <h2 class="landing-section__title">What are the Benefits of Chelations?</h2>
            <p class="benefits_title-text"> Based on the TACT1 Trial</p>
        </div>
    <div class="benefits__blocks_statistics">
        <div class="statistics_flex" v-for="(item, i) in items" :key="i">
            <div class="statistics_title">
            <span>{{item.procent}}</span> 
            <img src="../../../static/svg/arrow.svg">
            </div>
            <div class="statistics_item">
                <span class="statistics_item-title">{{item.title}}</span>
                <p class="statistics_item-text">{{item.text}}</p>
            </div>
        </div>
    </div>
    <!-- <div class="benefits_discription">
        <p>Based on The National Heart, Lung & Blood Institute sponsored the “Trial to Assess Chelation Therapy (TACT).” This was a placebo- controlled, double-blind study with a sample size of 1,708 participants, older than 50, with a history of heart attack.</p>
        <p style="margin-top:10px;">A new study (TACT 2) is underway.</p>
    </div> -->
</div>
</section>
</template>

<script>
export default {
    data: () => ({
        items: [
            {
                procent: '41%',
                title: 'Reduction In Cardiovascular Event',
                text: 'Patients with diabetes had a 41% overall reduction in the risk of any cardiovascular event. They found that chelation + high dose vitamins & minerals produced the greatest reduction in cardiovascular events.'
            },
            {
                procent: '40%',
                title: 'Reduction In Heart Disease',
                text: 'The study showed a 40% reduction in the risk of death from heart disease, nonfatal stroke or nonfatal heart attacks.'
            },
            {
                procent: '52%',
                title: 'Reduction In Recurrent Heart Attacks',
                text: 'There was a 52% reduction in recurrent heart attacks.'
            },
            {
                procent: '43%',
                title: 'Reduction In Death',
                text: 'Those in the study showed a 43% reduction in death from any cause.'
            }
        ]
    })
}
</script>