<template>
  <section class="section landing-section landing-section__bg-darkblue">
    <div class="slideInLeft landing-section__row" :class="{reverse: reverse}"> <!-- animated -->
      <div class="landing-section__column">
        <div class="landing-section__column-inner">
          <h1 v-if="firstSection" class="landing-section__title">{{title}}</h1>
          <h2 v-else class="landing-section__title">{{title}}</h2>
          <!-- <div class="landing-section__content-block">
            <span v-if="titleList" class="landing-section__title-list">{{titleList}}</span>
            <ul v-if="list.length" class="landing-section__list">
              <li v-for="(item, index) in list" :key="index" class="landing-section__list-item">
                {{item}}
              </li>
            </ul>
            <div class="landing-section__description" v-html="description">

            </div>
            <a v-if="hasButton" href="/" class="btn-primary-small" @click.prevent="$emit('btnClick')">{{buttonText}}</a>
          </div> -->
        </div>
      </div>
      <div class="landing-section__column">
        <div class="landing-section__media-wrapper">
          <iframe class="landing-section__media" v-if="video" :src="video"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen>
          </iframe>
          <img class="landing-section__media" v-if="image" :src="image" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    firstSection: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    },
    video: {
      type: String,
      default: ''
    },
    titleList: {
      type: String,
      default: ''
    },
    list: {
      type: Array,
      default: () => []
    },
    buttonText: {
      type: String,
      default: ''
    },
    reverse: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    hasButton() {
      return this.buttonText
    }
  }
}
</script>

