<template>
  <section class="section landing-section landing-section__bg-darkblue" :class="[{'alternative': alternative}, {'alternative-reverse': alternative && reverse}]">
    <div class="slideInLeft landing-section__row" :class="[{reverse: reverse}, {'container container-big': container}]"> <!-- animated -->
      <div class="landing-section__column">
        <div class="landing-section__column-inner">
          <h1 v-if="firstSection" class="landing-section__title">{{title}}</h1>
          <h2 v-else class="landing-section__title">{{title}}</h2>
          <div class="landing-section__content-block">
            <span v-if="titleList" class="landing-section__title-list">{{titleList}}</span>
            <ul v-if="list.length" class="landing-section__list">
              <li v-for="(item, index) in list" :key="index" class="landing-section__list-item">
                {{item}}
              </li>
            </ul>
            <div class="landing-section__description" v-html="description"></div>
            <a v-if="hasButton" href="/" class="btn-primary-small" @click.prevent="$emit('btnClick')">{{buttonText}}</a>
          </div>
        </div>
      </div>
      <div class="landing-section__column">
        <div class="landing-section__media-wrapper embed-responsive embed-responsive-16by9">
          <div class="iframe-wrapper">
            <iframe ref="video" class="landing-section__media embed-responsive-item" v-if="video.length" :src="video"
              controls="false"
              frameborder="0"
              allow="autoplay; fullscreen"
              allowfullscreen>
            </iframe>
            <div v-if="video.length" class="btn-video-play-wrapper" @click="playVideo">
              <div class="btn-video-play" v-show="!videoOn">
                <svg xmlns="http://www.w3.org/2000/svg" width="81" height="81" viewBox="0 0 81 81"><g><g><g><path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="50" stroke-width="3" d="M37.213 2.324c-19.629 1.808-35 18.318-35 38.418 0 21.308 17.275 38.582 38.582 38.582 21.31 0 38.583-17.274 38.583-38.582 0-12.695-6.135-23.952-15.6-30.98"/></g></g><g><g><path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="50" stroke-width="3" d="M32.53 56.953v0l-.483.278a.97.97 0 0 1-1.454-.839V25.256a.97.97 0 0 1 1.454-.838L59.01 39.985a.97.97 0 0 1 0 1.679l-18.707 10.8v0"/></g></g></g></svg>
              </div>
            </div>
          </div><script src="https://player.vimeo.com/api/player.js"></script>
          
          <video v-if="videoLocal.length" muted loop playsinline autoplay="autoplay" class="landing-section__media embed-responsive-item">
            <source :src="videoLocal" type="video/mp4">
          </video>
          <img class="landing-section__media embed-responsive-item" v-if="image.length" :src="image" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
   data: () => ({
     videoOn : false
   }),
  props: {
    showPlayBtn: {
      type: Boolean,
      default: true
    },
    firstSection: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    },
    video: {
      type: String,
      default: ''
    },
    videoLocal: {
      type: String,
      default: ''
    },
    titleList: {
      type: String,
      default: ''
    },
    list: {
      type: Array,
      default: () => []
    },
    buttonText: {
      type: String,
      default: ''
    },
    reverse: {
      type: Boolean,
      default: false
    },
    alternative: {
      type: Boolean,
      default: false
    },
    container: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    hasButton() {
      return this.buttonText
    }
  },
  methods: {
    playVideo() {
      var iframe = this.$refs.video;
      var player = new Vimeo.Player(iframe);
      if(this.videoOn) {
        player.pause();
        this.videoOn = false
      }
      else {
        player.play();
        this.videoOn = true
      }
    }
}

}
</script>

