<template>
  <section
    class="section landing-section features-section"
    :class="[{'landing-section__bg-image': bgImage}, {'landing-section__bg-darkblue': !bgImage}, {centered: center}]"
  >
    <div :class="[{'container container-big': container}]">
        <div class="title-block">
          <h1 v-if="firstSection" class="landing-section__title big" v-html="title"></h1>
          <h2 v-else class="landing-section__title mb" v-html="title"></h2>
        </div>
        <div class="features-section__list-wrapper">
          <ul class="features-section__list">
            <li class="features-section__list-item" v-for="(item, index) in items" :key="index">
              <div class="features-section__item-image">
                  <img :src="item.image" alt="">
              </div>
              <span class="features-section__item-title">
                  {{item.title}}
              </span>
              <div class="features-section__item-text" v-html="item.text">                      
              </div>
            </li>
          </ul>
        </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    firstSection: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ""
    },
    items: {
        type: Array,
        default: ""
    },
    description: {
      type: String,
      default: ""
    },
    buttonText: {
      type: String,
      default: ""
    },
    buttonLink: {
      type: String,
      default: ""
    },
    bgImage: {
      type: Boolean,
      default: false
    },
    halfBlock: {
      type: Boolean,
      default: false
    },
    container: {
      type: Boolean,
      default: false
    },
    reverse: {
      type: Boolean,
      default: false
    },
    image: {
      type: String,
      default: ""
    },
    video: {
      type: String,
      default: ""
    },
    center: {
      type: Boolean,
      default: false
    }
  }
};
</script>
