<template>
  <section class="section personal-services section-services landing-section">
    <div class="section-container section__info section__info__mobile">
      <h2 v-if="title" class="landing-section__title" v-html="title"></h2>
      <no-ssr>
      <swiper v-if="slidesItems.length" :options="swiperOption" class="personal-services__slider" ref="swiper">
        <swiper-slide v-for="(slide, i) in slidesItems" :key="i" class="personal-services__slider-item-wrapper">
          <div v-for="(item, j) in slide" :key="j" class="sl__item">
            <span class="sl__item-title">{{item.title}}</span>
            <p class="sl__item-text">{{item.description}}</p>
            <ul class="list-circle" v-if="item.list">
              <li v-for="(row, i) in item.list" :key="i"><span>{{row}}</span></li>
            </ul>
          </div>
        </swiper-slide>
        <div :id="`swiper-pagination${index}`" class="swiper-pagination" slot="pagination" v-if="slidesItems.length > 1"></div>
      </swiper>
      </no-ssr>
      <div class="flex-center section-services__button">
        <a v-if="buttonText && !buttonLink" href="/" class="btn-primary-small" @click.prevent="$emit('btnClick')">{{buttonText}}</a>
        <a v-if="buttonText && buttonLink" :href="buttonLink" class="btn-primary-small">{{buttonText}}</a>
      </div>
    </div>
  </section>
</template>

<script>
import {mapState} from "vuex"
export default {
  name: 'Services',
  props: {
    title: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    },
    buttonText: {
      type: String,
      default: ''
    },
    buttonLink: {
      type: String,
      default: ''
    },
    index: {
      type: Number,
      default: 1
    },
    itemsInSlideForResponsive: {
      type: Object,
      default: () => ({
        desktop: 12,
        tabled: 8,
        mobile: 4
      })
    }
  },
  data: () => ({
    swiperOption: {
      slidesPerView: 1,
      spaceBetween: 30,
      slidesPerGroup: 1,
      // loop: true,
      // loopFillGroupWithBlank: true,
      pagination: {
        el: null,
        clickable: true
      }
    }
  }),
  computed: {
    ...mapState({
      windowWidth: state => state.windowWidth
    }),
    itemsInSlide() {
      if (this.windowWidth >= 1600) {
        return this.itemsInSlideForResponsive.desktop
      } 
      if (this.windowWidth >= 991) {
        return this.itemsInSlideForResponsive.tabled
      }
      if (this.windowWidth >= 320) {
        return this.itemsInSlideForResponsive.mobile
      } 
    },
    slidesItems() {
      const slidesLength = Math.ceil(this.items.length/this.itemsInSlide)
      const slides = []
      for (let i = 0; i < slidesLength; i++) {
        const itemsSlide = this.items.splice(0, this.itemsInSlide)
        slides.push(itemsSlide)
      }
      return slides
    }
  },
  created() {
    this.swiperOption.pagination.el = `#swiper-pagination${this.index}`
  }
}
</script>

