<template>
  <section class="section section-includes landing-section__bg-darkblue">
    <div class="section-container">
      <h2 v-if="title" class="landing-section__title">{{title}}</h2>
      <div class="section-includes__items-wrapper">
          <ul class="section-includes__items">
              <li v-for="(item, i) in items" :key="i" class="section-includes__item">
                  <div class="section-includes__item-row">
                      <div class="section-includes__item-image">
                          <img :src="item.image" :alt="item.title">
                      </div>
                      <div class="section-includes__item-content">
                          <span class="section-includes__item-title">{{item.title}}</span>
                          <p class="section-includes__item-description">{{item.description}}</p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
    name: 'includes',
    props: {
      title: {
        type: String,
        default: ''
      },
      items: {
        type: Array,
        default: () => []
      },
      buttonText: {
        type: String,
        default: ''
      }
    },
}
</script>
