<template>
  <section class="section section-timeline landing-section__bg-image">
    <div class="section-container">
      <h2 v-if="title" class="landing-section__title">{{title}}</h2>
      <div class="section-timeline__items-wrapper">
        <ul class="section-timeline__items">
          <li v-for="(item, i) in convertItems" :key="i" class="section-timeline__item">
            <div v-if="item != '-'" class="section-timeline__item-content">
              <div class="section-timeline__item-image">
                <img :src="item.image" alt="">
              </div>
              <span class="section-timeline__item-title">{{item.title}}</span>
            </div>
            <div v-else class="section-timeline__item-line"></div>
          </li>
        </ul>
      </div>
      <div class="flex-center section-timeline__button">
        <a v-if="buttonText && !buttonLink" href="/" class="btn-primary-small" @click.prevent="$emit('btnClick')">{{buttonText}}</a>
        <a v-if="buttonText && buttonLink" :href="buttonLink" class="btn-primary-small">{{buttonText}}</a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'timeline',
  props: {
    title: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    },
    buttonText: {
      type: String,
      default: ''
    },
    buttonLink: {
      type: String,
      default: ''
    }
  },
  computed: {
    convertItems() {
      const items = []
      this.items.forEach((item, i) => {
          if (i != 0) items.push('-')
          items.push(item)
      })
      return items
    }
  }
}
</script>
