.autoimmune-disease {

  &__section {
    padding-left: 50px;
    padding-right: 50px;
    color: $white;
    @media screen and (max-width: 1024px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__inner {
    padding: 240px 0;
    @media screen and (max-width: 1024px) {
      padding: 80px 0;
    }
  }

  &__title {
    font-size: 68px;
    font-weight: 700;
    line-height: 80px;
    @media screen and (max-width: 1024px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
    padding: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: $white;
    border-width: 0;
    border-radius: 48px;
    background-color: #50BBB7;
  }

  //main-banner
  /* .autoimmune-main {
    display: flex;
    align-items: center;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/img/autoimmune-disease/main-banner.jpg');

    @media screen and (max-width: 1024px) {
      height: auto;
    }

    &__wrapper-text {
      @media screen and (max-width: 1024px) {
        margin-top: 45px;
        padding: 80px 0;
      }
    }

    &__title {
      max-width: 755px;
      margin: 0;
      font-size: 100px;
      line-height: 110px;
      font-weight: 700;
      text-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
      color: #ffffff;

      @media screen and (max-width: 1366px) {
        max-width: 580px;
        font-size: 70px;
        line-height: 80px;
      }
      @media screen and (max-width: 1024px) {
        max-width: 300px;
        font-size: 36px;
        line-height: 44px;
      }
    }

    &__button {
      margin-top: 60px;
      @media screen and (max-width: 480px) {
        margin: 0 auto;
        margin-top: 40px;
      }
    }
  } */

  //About
  /* .about-us {
    background-color: #455C6F;

    &__container-text {
      margin-top: 60px;
      @media screen and (max-width: 1024px) {
        margin-top: 30px;
      }
    }

    &__text {
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;

      &:not(:first-child) {
        margin-top: 30px;
        @media screen and (max-width: 1024px) {
          margin-top: 15px;
        }
      }

      @media screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  } */

  //treatment
  /* .treatment {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/img/autoimmune-disease/main-banner.jpg');

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(341px, 1fr));
      grid-gap: 15px 60px;
      margin-top: 80px;
      @media screen and (max-width: 1024px) {
        margin-top: 30px;
      }
      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }

    &__item-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }

    &__item-description {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
    }

    &__button {
      margin: 80px auto 0;
    }
  } */

  //how-treats
  .how-treats {
    background-color: #334352;

    &__inner{
      padding-bottom: 0;
      /* @media screen and (min-width: 1025px) {
        padding-bottom: 150px;
      } */
    }

    &__desctiption {
      margin-top: 30px;
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
      @media screen and (max-width: 1024px) {
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__service {
      &:not(:first-of-type){
        margin: 0;
        margin-top: 100px;
        @media screen and (max-width: 1024px) {
          margin-top: 50px;
        }
      }

      @media screen and (max-width: 1024px) {
        min-height: 400px;
      }

      &--odd {
        .service__title {
          @media screen and (max-width: 2880px) and (min-width: 1024px) {
            margin-bottom: 60px;
            padding: 0;
            font-size: 64px;
            font-weight: 700;
            line-height: 50px;
          }
          @media screen and (max-width: 1024px) and (min-width: 769px) {
            padding: 0;
            margin-bottom: 60px;
          }
        }

        .service__text {
          @media screen and (max-width: 2880px) and (min-width: 1024px) {
            padding: 60px 190px 80px 80px;
            text-align: left;
          }

          @media screen and (min-width: 1024px) {
            width: 60%;
          }

          @media screen and (min-width: 1024px) and (max-width: 1280px) {
            padding: 60px 140px 80px 80px;
          }

          @media screen and (min-width: 1280px) {
            width: 50%;
          }

          @media screen and (min-width: 1600px) {
            width: 42%;
            margin-left: 220px;
          }

          p {
            @media screen and (max-width: 2880px) and (min-width: 1024px) {
              max-height: 330px;
              font-size: 22px;
              line-height: 28px;
            }
          }
        }

        .service__video {
          @media screen and (max-width: 2880px) and (min-width: 1600px) {
            margin-top: 40px;
          }
          @media screen and (max-width: 1024px) {
            top: 40px;
          }
          @media screen and (max-width: 768px) {
            top: 0;
          }
        }

        .service__img {
          @media screen and (max-width: 2880px) and (min-width: 1600px) {
            height: 482px;
          }
        }
      }

      &--even {
        .service__text {
          @media screen and (max-width: 2880px) and (min-width: 1024px) {
            width: 55%;
            padding: 60px 80px 80px 190px;
          }
          @media screen and (min-width: 1024px) and (max-width: 1280px) {
            padding: 60px 80px 80px 140px;
          }

          @media screen and (max-width: 1440px) {
            margin-left: calc(45% - 25px);
          }

          @media screen and (max-width: 1024px) {
            margin-left: calc(41% - 25px);
          }

          @media screen and (max-width: 768px) {
            margin-left: 0;
          }
        }

        .service__title {
          @media screen and (max-width: 2880px) and (min-width: 1024px) {
            margin-left: calc(50% - 120px);
            padding: 0;
            padding-left: 190px;
          }

          @media screen and (max-width: 1440px) {
            margin-left: calc(45% - 25px);
          }

          @media screen and (max-width: 1280px) {
            margin-left: calc(45% - 61px);
            padding-left: 170px;
          }
          @media screen and (max-width: 1024px) and (min-width: 769px) {
            margin-left: calc(40% - 30px);
            padding: 0;
            padding-left: 80px;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
            margin-left: 0;
            padding-left: 60px;
          }
          @media screen and (max-width: 468px) {
            padding-left: 15px;
          }
        }
      }


      .service__title {
        @media screen and (max-width: 2880px) and (min-width: 1024px) {
          margin-bottom: 60px;
          font-size: 64px;
          font-weight: 700;
          line-height: 60px;
        }
        @media screen and (max-width: 1024px) and (min-width: 769px) {
          margin-bottom: 60px;
        }
      }

      .service__text {
        @media screen and (max-width: 2880px) and (min-width: 1024px) {
          text-align: left;
        }

        p {
          @media screen and (max-width: 2880px) and (min-width: 1024px) {
            max-height: 330px;
            font-size: 22px;
            line-height: 28px;
          }
          @media screen and (max-width: 768px) {
            max-height: 192px;
          }
        }
      }

      .service__video {
        @media screen and (max-width: 2880px) and (min-width: 1600px) {
          margin-top: 40px;
        }
        @media screen and (max-width: 1024px) {
          top: 40px;
        }
        @media screen and (max-width: 768px) {
          top: 0;
        }
      }

      .service__img {
        @media screen and (max-width: 2880px) and (min-width: 1600px) {
          height: 482px;
        }
      }

      &--spacial {
        padding-top: 1px;
        @media screen and (max-width: 480px) {
          padding-top: 30px;
        }
        .service__title {
          margin-top: 200px;
          @media screen and (max-width: 1600px) {
            margin-top: 100px;
          }
          @media screen and (max-width: 1280px) {
            margin-top: 0;
          }
          @media screen and (max-width: 1024px) and (min-width: 769px) {
            margin-top: 100px;
          }
        }
      }
    }
  }

  //practice-3D
  /* .practice-3D {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/img/autoimmune-disease/main-banner.jpg');

    &__container-text {
      max-width: 50%;
      width: 100%;
      margin-top: 60px;
      @media screen and (max-width: 1024px) {
        max-width: 100%;
        margin-top: 30px;
      }
    }

    &__text {
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;

      &:not(:first-child) {
        margin-top: 30px;
        @media screen and (max-width: 1024px) {
          margin-top: 15px;
        }
      }

      @media screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__button {
      margin-top: 60px;
      @media screen and (max-width: 480px) {
        margin: 0 auto;
        margin-top: 40px;
      }
    }
  } */

  //treating-diabetes
  .treating-diabetes {
    background-color: #455C6F;

    &__inner {
      padding-bottom: 70px;
    }

    &__text {
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;

      &:not(:first-of-type) {
        margin-top: 30px;
        @media screen and (max-width: 1024px) {
          margin-top: 15px;
        }
      }

      &:first-of-type {
        margin-top: 60px;
        @media screen and (max-width: 1024px) {
          margin-top: 30px;
        }
      }

      @media screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, minmax(280px, 1fr));
      grid-gap: 35px 85px;
      margin-top: 80px;
      @media screen and (max-width: 1400px) {
        grid-gap: 35px 45px;
      }
      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 40px;
      }
    }

    &__item {
      position: relative;
      padding-top: 120px;
      @media screen and (max-width: 1024px) {
        text-align: center;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 95px;
        height: 95px;
        border: 2px solid #6EF1F9;
        border-radius: 50%;
        @media screen and (max-width: 1024px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &__item-title {
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__item-text {
      margin-top: 10px;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__description {
      margin-top: 80px;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      @media screen and (max-width: 1024px) {
        margin-top: 40px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__attention {
      margin-top: 100px;
      @media screen and (max-width: 1024px) {
        margin-top: 50px;
      }
    }
  }
}

/* .header-landing {
  .header {
    padding-left: 50px;
    padding-right: 50px;
    @media screen and (max-width: 1024px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
} */

.attention {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 65px 80px;
  border-radius: 10px;
  box-shadow: 0 6px 30px #00000034;
  background-color: #27343C;
  @media screen and (max-width: 768px) {
    padding: 40px 40px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 11px;
    border-radius: 0 0 10px 10px;
    background-color: #4FBBB7;
  }

  &__description {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

}

