.blog-post-container {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  padding: 2px 0;
  width: 60%;
}

.blog-post__title {
  color: #fff;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7.9rem;
  padding-bottom: 48px;
  padding-top: 50px;
  text-align: center;
  @media(max-width: 1440px) {
    font-size: 4rem;
    padding-bottom: 10px;
  }
}

.blog-post__image {
  margin-bottom: 30px;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.blog-post__text-block {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
}

.blog__ss {
  background-image: url("/img/home/services-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  flex-direction: unset !important;
  align-items: start !important;
  min-height: 65vh;
  position: relative;
  .preloader {
    position: absolute;
    top: 120px;
    background: rgba(0,0,0,0);
    height: 40vh;
  }
}

.blog__container {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  width: 90%;
}

.sections {
  display: block;
  width: 100%;
  padding-bottom: 1px;
}

//.section-block {
//  margin: 100px 0;
//  position: relative;
//
//  font-size: 0;
//
//  &:not(:first-child){
//    margin-top: 40px;
//  }
//
//  &:nth-child(even) {
//    h4 {
//      margin-left: calc(50% - 120px);
//      text-align: left;
//      width: calc(50% + 120px);
//    }
//
//    .block-with-text {
//      margin-left: calc(50% - 120px);
//      padding: 48px 120px 64px 240px;
//    }
//
//    .service__video {
//      left: 0;
//      right: auto;
//
//      img {
//        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
//      }
//
//      .service__button {
//        padding-left: 0;
//        padding-right: 120px;
//      }
//    }
//
//  }
//
//  h4 {
//    color: $color-white;
//    font-size: 5rem;
//    font-style: normal;
//    font-weight: bold;
//    line-height: 5.5rem;
//    padding-bottom: 48px;
//    padding-top: 50px;
//    position: relative;
//    width: calc(50% + 120px);
//    z-index: 2;
//  }
//
//  .block-with-text {
//    background: rgba(255, 255, 255, 0.1);
//    margin-left: 120px;
//    padding: 48px 240px 64px 120px;
//    width: 50%;
//
//    .service__button {
//      display: none;
//    }
//  }
//
//  p {
//    color: #F2F3F8;
//    line-height: 29px;
//    font-size: 18px;
//    font-weight: 400;
//  }
//
//  .service__video {
//    position: absolute;
//    right: 0;
//    top: 0;
//    width: 50%;
//    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
//
//    img {
//      width: 100%;
//
//    }
//
//    .service__button {
//      padding-top: 48px;
//      text-align: center;
//    }
//  }
//
//  .service__button {
//    padding-left: 120px;
//
//    .blog__button {
//      display: inline-block;
//    }
//  }
//}

.blog__service {
  h3 {
    font-weight: bold;
    line-height: 4.7rem;
    font-size: 4.8rem;
    text-align: center;
    color: #FFFFFF;
    padding-top: 120px;
  }
}

@media screen and (max-width: 1440px) {
  .section-block {
    margin: 100px 0 200px;
    position: relative;
    font-size: 0;

    &:nth-child(even) {
      p {
        margin-left: 0;
      }

      .block-with-text {
        margin-left: calc(50% - 25px);
        padding: 40px 80px 55px 150px;
      }

      .left__side {
        padding-top: 400px;
      }
    }

    h4 {
      font-size: 4rem;
      padding-bottom: 20px;
    }

    .block-with-text {
      padding: 40px 150px 55px 80px;
    }

    p {
      font-size: 15px;
    }

    .service__video {
      img {
        margin: 5rem;
      }
    }

    .right__side {
      padding-top: 400px;
    }

  }
}

@media screen and (max-width: 1299px) {
  .section-block {
    margin: 100px 0;
  }
}

@media screen and (max-width: 1024px) {
  .section-block .block-with-text {
    margin-left: 85px;
    padding: 60px 70px 60px 30px;
  }
  .section-block:nth-child(even) .block-with-text {
    margin-left: calc(50% - 10px);
    padding: 50px 20px 64px 86px;
  }
  .section-block .service__video img {
    margin: 4rem;
  }
}


@media screen and (max-width: 900px) {
  .section-block {
    margin: 64px 0;
    padding-bottom: 92px;
    padding-left: 32px;
    position: relative;

    &:nth-child(even) {
      padding-left: 0;
      width: 100%;

      &:before {
        left: 32px;
        right: 0;
      }

      h4 {
        margin-left: 64px;
        width: calc(100% - 64px);
      }

      .block-with-text {
        padding: 0 16px 0 62px;
        margin: 0;
      }

      .service__video {
        width: calc(100% - 32px);

        .service__button {
          padding-left: 32px;
          padding-right: 0;

        }
      }
    }

    &:before {
      background: rgba(255, 255, 255, 0.1);
      bottom: 0;
      content: '';
      position: absolute;
      left: 0;
      right: 32px;
      top: 0;
    }

    h4 {
      font-size: 36px;
      line-height: 39px;
      margin: 0;
      padding-bottom: 24px;
      padding-right: 48px;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    .service__video {
      margin-bottom: 24px;
      position: static;
      width: 100%;

      img {
        padding: 0;
        position: relative;
        z-index: 1;
        margin: 0;
      }
    }

    .block-with-text {
      background-color: transparent;
      width: 100%;
      padding: 0 48px 0 0;
      position: relative;
      margin: 0;
      z-index: 1;

      p {
        background-color: transparent;
        font-size: 13px;
        line-height: 21px;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }

    .service__button {
      bottom: 24px;
      left: 27px;
      padding: 0;
      position: absolute;

      .blog__button {
        font-size: 16px;
        width: 207px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-block {
    margin: 64px 0;
    padding-bottom: 92px;
    padding-left: 32px;
    position: relative;

    &:nth-child(even) {
      padding-left: 0;
      width: 100%;

      &:before {
        left: 32px;
        right: 0;
      }

      h4 {
        margin-left: 64px;
        width: calc(100% - 64px);
      }

      .block-with-text {
        padding: 0 16px 0 62px;
        margin: 0;
      }

      .service__video {
        width: calc(100% - 32px);

        .service__button {
          padding-left: 32px;
          padding-right: 0;
        }
      }
    }

    &:before {
      background: rgba(255, 255, 255, 0.1);
      bottom: 0;
      content: '';
      position: absolute;
      left: 0;
      right: 32px;
      top: 0;
    }

    h4 {
      font-size: 36px;
      line-height: 39px;
      margin: 0;
      padding-bottom: 24px;
      padding-right: 48px;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    .service__video {
      margin-bottom: 24px;
      position: static;
      width: 100%;

      img {
        padding: 0;
        position: relative;
        z-index: 1;
        margin: 0;
      }
    }

    .block-with-text {
      background-color: transparent;
      width: 100%;
      padding: 0 48px 0 0;
      position: relative;
      margin: 0;
      z-index: 1;

      p {
        background-color: transparent;
        font-size: 13px;
        line-height: 21px;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }

    .service__button {
      bottom: 24px;
      left: 27px;
      padding: 0;
      position: absolute;

      .blog__button {
        font-size: 16px;
        width: 207px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .section-block {
    margin: 64px 0;
    padding-bottom: 92px;
    padding-left: 0;
    position: relative;

    &:nth-child(even) {
      padding-left: 0;
      width: 100%;

      &:before {
        left: 0;
        right: 0;
      }

      h4 {
        text-align: center;
        margin-left: 0;
        width: 100%;
      }

      .block-with-text {
        padding: 0 15px 0 15px;
        margin: 0;
      }

      .service__video {
        width: 100%;
        // width: calc(100% - 32px);

        .service__button {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &:before {
      background: rgba(255, 255, 255, 0.1);
      bottom: 0;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }

    h4 {
      text-align: center;
      font-size: 36px;
      line-height: 39px;
      margin: 0;
      padding-bottom: 24px;
      padding-right: 0;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    .service__video {
      margin-bottom: 24px;
      position: static;
      width: 100%;

      img {
        padding: 0;
        position: relative;
        z-index: 1;
        margin: 0;
      }
    }

    .block-with-text {
      background-color: transparent;
      width: 100%;
      padding: 0 15px 0 15px;
      position: relative;
      margin: 0;
      z-index: 1;

      p {
        background-color: transparent;
        font-size: 13px;
        line-height: 21px;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }

    .service__button {
      bottom: 24px;
      left: 0;
      padding: 0;
      position: absolute;
      width: 100%;

      .blog__button {
        font-size: 16px;
        width: 207px;
      }
    }
  }
}

.blog__button {
  display: inline-block;
  width: 300px;
  height: 48px;
  background: #50BBB7;
  border-radius: 48px;
  border-width: 0;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  color: $color-white;
}

.blog__button:hover {
  color: $color-white;
  background: #2C9793;
}

.blog__button:active {
  color: $color-white;
  background: #1E8380;
}


/*------- новые стили -------*/
.service {
  min-height: 490px;
  margin: 100px 0;
  position: relative;
  font-size: 0;
  @media screen and (max-width: 768px) {
    position: relative;
    margin: 64px 0;
    padding-bottom: 50px;
    padding-left: 32px;
  }
  @media screen and (max-width: 468px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &:before{
    position: absolute;
    content: "";
    left: 0;
    right: 32px;
    top: 0;
    bottom: 0;
    display: none;
    background: hsla(0,0%,100%,.1);
    pointer-events: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
    @media screen and (max-width: 468px) {
      width: 100%;
    }
  }

  &:not(:last-of-type){
    margin-bottom: 0;
  }

  &__title {
    color: #fff;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem;
    padding-bottom: 48px;
    padding-top: 50px;
    position: relative;
    width: calc(50% + 120px);
    z-index: 2;
    @media screen and (max-width: 1440px) {
      padding-bottom: 20px;
      font-size: 36px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 32px;
      line-height: 40px;
    }
    @media screen and (max-width: 768px) {
      position: relative;
      z-index: 1;
      width: 100%;
      margin: 0;
      padding-bottom: 24px;
      padding-right: 48px;
      font-size: 30px;
      line-height: 39px;
    }
    @media screen and (max-width: 468px) {
      padding: 0 15px;
      text-align: center;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__video {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    @media screen and (max-width: 1280px) {
      width: 45%;
    }
    @media screen and (max-width: 768px) {
      position: static;
      width: 100%;
      margin-bottom: 24px;
    }
    @media screen and (max-width: 468px) {
      margin-top: 20px;
    }
  }

  &__img {
    width: 100%;
    height: 405px;
    object-fit: cover;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .25);
    @media screen and (max-width: 1280px) {
      height: 305px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    &--desc{
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &--mob{
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        margin: 0;
        margin-top: 20px;
      }
      @media screen and (max-width: 468px) {
        width: calc(100% - 20px);
        margin: 20px auto 0;
      }
    }
  }

  &__text {
    width: 50%;
    margin-left: 120px;
    padding: 48px 240px 64px 120px;
    background: hsla(0, 0%, 100%, .1);
    text-align: justify;
    @media screen and (max-width: 1440px) {
      padding: 40px 150px 55px 80px;
    }

    @media screen and (max-width: 1280px) {
      width: 60%;
      margin-left: 40px;
      padding: 40px 100px 55px 40px;
    }
    @media screen and (max-width: 768px) {
      position: relative;
      z-index: 1;
      width: 100%;
      margin: 0;
      padding: 0;
      padding-right: 60px;
      background-color: transparent;
    }
    @media screen and (max-width: 468px) {
      padding: 0 15px;
    }

    p {
      max-height: 195px;
      overflow: hidden;
      color: #f2f3f8;
      line-height: 29px;
      font-size: 18px;
      font-weight: 400;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 21px;
        background-color: transparent;
      }
    }
  }
}

.service.even {
  @media screen and (max-width: 768px) {
    padding-right: 32px;
    padding-left: 0;
  }
  @media screen and (max-width: 468px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &:before{
    left: 32px;
    right: 0;
    @media screen and (max-width: 468px) {
      left: 0;
    }
  }
  &:not(:last-of-type){
    margin-bottom: 0;
  }
  .service__title {
    margin-left: calc(50% - 120px);
    text-align: left;
    width: calc(50% + 120px);
    @media screen and (max-width: 768px) {
      width: calc(100% - 64px);;
      margin-left: 64px;
    }
    @media screen and (max-width: 468px) {
      width: 100%;
      margin-left: 0;
      padding: 0 15px;
      text-align: center;
    }
  }

  .service__text {
    margin-left: calc(50% - 120px);
    padding: 48px 120px 64px 240px;
    @media screen and (max-width: 1440px) {
      margin-left: calc(50% - 25px);
      padding: 40px 80px 55px 150px;
    }
    @media screen and (max-width: 1280px) {
      width: 60%;
      margin-left: calc(45% - 40px);
      padding: 40px 40px 55px 80px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0;
      padding: 0 0 0 60px;
    }
    @media screen and (max-width: 468px) {
      padding: 0 15px;
    }
  }

  .service__video {
    left: 0;
    right: auto;
  }
  .service__button {
    margin-left: 60px;
    @media screen and (max-width: 468px) {
      margin-left: auto;
    }
  }
}
