// @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

$font-montserrat: 'Montserrat', sans-serif;
$font-open: 'Open Sans', sans-serif;


@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.eot');
  src: local('/fonts/Lato Regular'), local('Lato-Regular'),
  url('/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato-Regular.woff') format('woff'),
  url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Italic.eot');
  src: local('/fonts/Lato Italic'), local('Lato-Italic'),
  url('/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato-Italic.woff') format('woff'),
  url('/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Semibold.eot');
  src: local('/fonts/Lato Semibold'), local('Lato-Semibold'),
  url('/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato-Semibold.woff') format('woff'),
  url('/fonts/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
  url('/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato-Bold.woff') format('woff'),
  url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$font-lato: "Lato", Lato, Arial, sans-serif;