.footer {
	background-color: $color-blue-3 !important;
	display: table;
	font-size: 0;
	padding: 32px;
	text-align: left;
	width: 100%;
	// height: auto !important;

	.footer__section {
		display: table-cell;
		padding-right: 110px;
		vertical-align: top;
	}
	/* &.page {
		.copyrigth {
			position: static;
			margin-top: 20px;
		}
	} */

	p {
		color: $color-white;
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		opacity: 0.5;
	}
	h3 {
		color: $color-white;
		font-size: 16px;
		font-weight: bold;
		line-height: 28px;
		margin-bottom: 20px;
		opacity: 0.5;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 20px;

			a {
				box-shadow: none;
				color: $color-white;
				font-size: 13px;
				font-weight: 500;
				line-height: 19px;
				opacity: 0.5;
				outline: none;
				text-decoration: none;
				text-transform: uppercase;
				@include transition;
				white-space: nowrap;

				&:hover, &:focus, &:active {
					opacity: 1;
				}
			}
		}
	}
}

.footer__block-search {
	overflow: hidden;
	position: relative;

	img {
		cursor: pointer;
		opacity: 0.5;
		position: absolute;
		right: 14px;
		top: 14px;
		@include transition;
		width: 19px;

		&:hover, &:focus, &:active {
			opacity: 1;
		}
	}

	input {
		background: transparent;
		border: 1px solid $color-white-3;
		border-radius: 50px;
		box-sizing: border-box;
		color: $color-white;
		font-size: 16px;
		padding: 14px 40px 14px 20px;
		@include transition;
		width: 100%;

		&:focus, &:active {
			border-color: $color-white;
		}
	}
}

.footer__hashtag {
	a {
		color: $color-white-4;
		display: inline-block;
		font-size: 16px;
		line-height: 19px;
		margin: 0 15px 15px 0;

		&:hover, &:focus, &:active {
			color: $color-white;
		}
	}
}

.footer__logo {
	box-shadow: none;
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 20px;
	outline: none;
}

.footer__section-1 {
	position: relative;
	width: 20%;
  @media (max-width: 1300px){
    width: 100%;
  }

	p {
		a {
			color: $color-white;
			text-decoration: underline;
		}
	}

	.copyrigth {
		color: $color-white;
		display: block;
		font-size: 11px;
		bottom: 0;
		left: 0;
		line-height: 17px;
		opacity: 0.5;
		position: absolute;
		right: 134px;
		text-align: left;
	}
}
.footer__section-2 {
	width: 13%;
  @media (max-width: 1300px){
    width: 100%;
  }
}
.footer__section-3 {
	width: 32%;
	@media (max-width: 1300px){
		width: 100%;
	}
	.footer-address {
		margin-top: 32px;

		.addresses {
			display: flex;
			flex-direction: row;

			& > div {
				flex:1 1 auto;
			}
		}
	}
}
.footer__section-4 {
	width: 18.5%;
  @media (max-width: 1300px){
    width: 100%;
  }
}
.footer__section-5 {
	padding-right: 0;
	width: 16.5%;
  @media (max-width: 1300px){
    width: 100%;
  }

		.copyrigth-down{
			display: none;
		}
}

.footer__soc {
	padding-bottom: 5px;
	max-width: 150px;

	a {
		background-color: $color-white-4;
		border-radius: 100%;
		display: inline-block;
		height: 32px;
		line-height: 32px;
		margin: 0 15px 15px 0;
		text-align: center;
		@include transition;
		vertical-align: top;
		width: 32px;

		&:hover, &:focus, &:active {
			background-color: $color-white;
			box-shadow: $box-shadow-1;
		}

		.fa {
			color: $color-blue-4;
			display: inline-block;
			font-size: 16px;
			line-height: 1;
			vertical-align: middle;
		}

    &:last-child {
      margin-right: 0;
    }
	}
}
