.header__home {
  top: 40px;
  padding: 0;
}

.top__home {
  background-color: #354755;
  height: 40px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding: 13px 30px;

}

.home__number a {
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
}

.home__social {
  display: flex;
  p {
    font-size: 14px;
    padding-left: 48px;
    cursor: pointer;
  }
  p:hover {
    color: #62c3cb;
  }
  li {
    float: left;
    padding: 0 16px;

  }
  .fa {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 14px;

  }
}

.home__main, .main-banner {
  background-image: url("/img/home/intro-background.jpg");
  height: auto;
}

.Home__info {
  width: 100%;
  padding: 23rem 24rem;

  @media screen and (max-width: 1440px) {
    padding: 10rem 0;
  }

  @media screen and (max-width: 767px) {
    padding: 267px 24px;
  }

  @media screen and (max-height: 500px) {
    padding: 130px 24px;
  }

  .home__title {
    font-size: 12rem;
    line-height: 11.7rem;
    text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 767px) {
      font-size: 48px;
      line-height: 47px;
    }
  }

  .home__text {
    font-size: 3.6rem;
    color: #ffffff;
    line-height: 4.4rem;
    padding-top: 64px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
      padding-top: 32px;
    }
  }
  .home__button {
    margin-top: 120px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.home__button {
  display: inline-block;
  width: 300px;
  //height: 48px;
  background: #50BBB7;
  border-radius: 48px;
  border-width: 0px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  color: $color-white;
}

.home__subscribe {
  min-height: 172px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row !important;
  justify-content: space-around !important;
  padding: 0 240px;
  padding-top: 30px !important;
  padding-bottom: 30px !important;

  @media(max-width: 560px) {
    &.section {
      height: auto;
      // padding: 40px 45px !important;
    }
  }

  .home__block {
    flex-direction: row;
    display: flex;
    align-items: center;
    .padding-20 {
      padding: 0 20px;
    }
    &.successfully{
      p {
        width: 100%;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
      }
    }
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    line-height: 4.4rem;
    font-size: 4.8rem;
    color: #455C6F;
  }
  p {
    font-weight: 500;
    line-height: normal;
    font-size: 1.8rem;
    color: #455C6F;
    width: 70%;
  }
  .error-text{
    font-size: 18px;
    color: #F3626B;
    line-height: 22px;
  }
  input {
    border: none;
    border-bottom: 2px solid;
    border-color: #455C6F;
    padding-top: 15px;
    padding-bottom: 8px;
    width: 285px;
    margin: 5px 0 10px;
    box-sizing: content-box;
    outline: none;
    font-size: 1.8rem;
    &.error{
      border-color: #F3626B;
    }
  }
  input::-webkit-input-placeholder {
    color: #455C6F;
    font-weight: 600;
  }
  input::-moz-placeholder {
    color: #455C6F;
    font-weight: 600;
  }
  button {
    border: 2px solid #455C6F;
    box-sizing: border-box;
    border-radius: 48px;
    background-color: #ffffff;
    width: 24rem;
    height: 4.4rem;
    font-weight: 600;
    line-height: normal;
    font-size: 1.8rem;
    text-align: center;
    color: #455C6F;

  }
  button:hover {
    background: #455C6F;
    border: 2px solid #455C6F;
    color: $color-white;
  }

  button:active {
    background: #2D3F4E;
    border: 2px solid #2D3F4E;
    color: $color-white;
  }
}

.home__ss {

  background-image: url("/img/home/services-background.jpg");
  height: auto;
  flex-direction: unset !important;
  align-items: start !important;

}

.home__container {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.sections {
  display: block;
  width: 100%;
  padding-bottom: 1px;
}

.section-block {
  margin: 100px 0;
  position: relative;
  font-size: 0;

  &:nth-child(even) {
    h4 {
      margin-left: calc(50% - 120px);
      text-align: left;
      width: calc(50% + 120px);
    }

    .block-with-text {
      margin-left: calc(50% - 120px);
      padding: 48px 120px 64px 240px;
    }

    .service__video {
      left: 0;
      right: auto;

      video {
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
      }

      .service__button {
        padding-left: 0;
        padding-right: 120px;
      }
    }

  }

  h4 {
    color: $color-white;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 7.9rem;
    padding-bottom: 48px;
    padding-top: 50px;
    position: relative;
    width: calc(50% + 120px);
    z-index: 2;
  }

  .block-with-text {
    background: rgba(255, 255, 255, 0.1);
    margin-left: 120px;
    padding: 48px 240px 64px 120px;
    width: 50%;

    .service__button {
      display: none;
    }
  }

  p {
    color: #F2F3F8;
    line-height: 29px;
    font-size: 18px;
    font-weight: 400;
  }

  .service__video {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;

    video {
      width: 100%;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    }

    .service__button {
      padding-top: 48px;
      text-align: center;
    }
  }

  .service__button {
    padding-left: 120px;

    .home__button {
      display: inline-block;
    }
  }
}

.home__service {
  h3 {
    font-weight: bold;
    line-height: 4.7rem;
    font-size: 4.8rem;
    text-align: center;
    color: #FFFFFF;
    padding-top: 120px;
  }
}

.service__videoOne {
  width: 72rem;
  height: 40.5rem;

}

.home__yt {
  padding: 140px 240px !important;
  background: #273540;
  height: 836px;
}

.home__youtube {
  h3 {
    font-weight: bold;
    line-height: 4.7rem;
    font-size: 4.8rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
  .yt__video__row {
    flex-direction: row;
    display: flex;
    padding-top: 76px;
    justify-content: center;

    .home__vido__yt {
      width: 460px;
      height: 250px;
      padding: 0 15px;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
      img {
        width: 100%;
      }
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .top__home {
    padding: 1.3rem 5rem;
  }
  .home__subscribe {
    // padding: 15rem !important;
    padding: 40px;
  }

  .section-block {
    margin: 100px 0 200px;
    position: relative;
    font-size: 0;

    &:nth-child(even) {
      p {
        margin-left: 0;
      }
      .block-with-text {
        margin-left: calc(50% - 25px);
        padding: 40px 80px 55px 150px;
      }
      .left__side {
        padding-top: 400px;
      }
    }

    h4 {
      font-size: 4rem;
      padding-bottom: 20px;
    }

    .block-with-text {
      padding: 40px 150px 55px 80px;
    }

    p {
      font-size: 15px;
    }

    .service__video {
      video {
        margin: 5rem;
      }
    }

    .right__side {
      padding-top: 400px;
    }

  }

  .home__youtube .yt__video__row .home__vido__yt {
    height: auto;
    width: 310px;
  }

}

@media screen and (max-width: 1299px) {
  .section-block {
    margin: 100px 0;
  }
}

@media screen and (max-width: 1621px) {
  .home__subscribe p {
    width: 100%;
    font-size: 14px;
  }
  .home__subscribe .home__block .padding-20 {
    padding: 0 10px;
  }
}

// @media screen and (max-width: 1191px) {
//   .home__subscribe p {
//     width: 100%;
//     font-size: 14px;
//   }
//   .home__subscribe .home__block .padding-20 {
//     padding: 0 10px;
//   }
// }

@media screen and (max-width: 1024px) {
  .home__youtube .yt__video__row .home__vido__yt {
    height: auto;
    width: 310px;
  }
  .section-block .block-with-text {
    margin-left: 85px;
    padding: 60px 70px 60px 30px;
  }
  .section-block:nth-child(even) .block-with-text {
    margin-left: calc(50% - 10px);
    padding: 50px 20px 64px 86px;
  }
  .home__subscribe h3 {
    font-size: 38px;
  }
  .home__subscribe .home__block.successfully p{
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 15px;
  }
  .home__subscribe input {
    width: 170px;
  }
  .home__subscribe button {
    width: 14rem;
  }
  .section-block .service__video video {
    margin: 4rem;
  }
  .home__yt {
    padding: 80px 50px !important;
  }

}


@media screen and (max-width: 900px) {
  .top__home {
    padding: 1.3rem 1rem;
  }
  .header__home {
    top: 40px;
    padding: 10px;
  }

  .section-block {
    margin: 64px 0;
    padding-bottom: 92px;
    padding-left: 32px;
    position: relative;

    &:nth-child(even) {
      padding-left: 0;
      width: 100%;

      &:before {
        left: 32px;
        right: 0;
      }

      h4 {
        margin-left: 64px;
        width: calc(100% - 64px);
      }

      .block-with-text {
        padding: 0 16px 0 62px;
        margin: 0;
      }
      .service__video {
        width: calc(100% - 32px);

        .service__button {
          padding-left: 32px;
          padding-right: 0;

        }
      }
    }

    &:before {
      background: rgba(255, 255, 255, 0.1);
      bottom: 0;
      content: '';
      position: absolute;
      left: 0;
      right: 32px;
      top: 0;
    }

    h4 {
      font-size: 36px;
      line-height: 39px;
      margin: 0;
      padding-bottom: 24px;
      padding-right: 48px;
      position: relative;
      width: 100%;
      z-index: 1;
    }
    .service__video {
      margin-bottom: 24px;
      position: static;
      width: 100%;

      video {
        padding: 0;
        position: relative;
        z-index: 1;
        margin: 0;
      }
    }

    .block-with-text {
      background-color: transparent;
      width: 100%;
      padding: 0 48px 0 0;
      position: relative;
      margin: 0;
      z-index: 1;

      p {
        background-color: transparent;
        font-size: 13px;
        line-height: 21px;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }

    .service__button {
      bottom: 24px;
      left: 27px;
      padding: 0;
      position: absolute;

      .home__button {
        font-size: 16px;
        width: 207px;
      }
    }
  }
  .home__yt {
    padding: 30px 50px !important;
    height: 2450px;
  }
  /* .home__subscribe .home__block .padding-20 {
    text-align: center;
    width: 100%;
  } */
  .home__subscribe input {
    width: 100%;
  }
  .home__subscribe button {
    width: 100%;
  }

  .home__youtube .yt__video__row .home__vido__yt {
    height: 390px;
    width: 100%;
    padding: 15px 14px; 
  }

  .home__youtube .yt__video__row {
    flex-direction: column;
    padding-top: 0px;
    }


  .home__youtube {
        width: 100%;
  }
  .home__subscribe {
    flex-direction: row !important;
  }
  .home__subscribe h3 {
    font-size: 44px;
  }
  .home__subscribe p {
    width: 100%;
    font-size: 24px;
  }
  .home__subscribe input {
    width: 102%;
    font-size: 24px;
  }
  .home__subscribe button {
    width: 100%;
    font-size: 24px;
  }
  .home__subscribe .home__block {
    flex-direction: column;
    align-items: initial;
    width: 50%;
    padding: 0 10px;
  }
  .home__subscribe {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {

  .flexScroll .home__main, .main-banner {
    background-image: url('/img/home/intro-mobile-background.png');
    background-position: right !important;
    height: 100vh !important;
  }

  .top__home {
    padding: 13px 10px;
  }
  .home__social ul {
    display: none;
  }
  .home__social p {
    font-size: 12px;
  }

  .section-block {
    margin: 64px 0;
    padding-bottom: 92px;
    padding-left: 32px;
    position: relative;

    &:nth-child(even) {
      padding-left: 0;
      width: 100%;

      &:before {
        left: 32px;
        right: 0;
      }

      h4 {
        margin-left: 64px;
        width: calc(100% - 64px);
      }

      .block-with-text {
        padding: 0 16px 0 62px;
        margin: 0;
      }
      .service__video {
        width: calc(100% - 32px);

        .service__button {
          padding-left: 32px;
          padding-right: 0;
        }
      }
    }

    &:before {
      background: rgba(255, 255, 255, 0.1);
      bottom: 0;
      content: '';
      position: absolute;
      left: 0;
      right: 32px;
      top: 0;
    }

    h4 {
      font-size: 36px;
      line-height: 39px;
      margin: 0;
      padding-bottom: 24px;
      padding-right: 48px;
      position: relative;
      width: 100%;
      z-index: 1;
    }
    .service__video {
      margin-bottom: 24px;
      position: static;
      width: 100%;

      video {
        padding: 0;
        position: relative;
        z-index: 1;
        margin: 0;
      }
    }

    .block-with-text {
      background-color: transparent;
      width: 100%;
      padding: 0 48px 0 0;
      position: relative;
      margin: 0;
      z-index: 1;

      p {
        background-color: transparent;
        font-size: 13px;
        line-height: 21px;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }

    .service__button {
      bottom: 24px;
      left: 27px;
      padding: 0;
      position: absolute;

      .home__button {
        font-size: 16px;
        width: 207px;
      }
    }
  }
  .home__block {
    display: flex;
    flex-direction: column !important;

  }
  /* .home__block__first {
    align-items: normal !important;
  } */
  .home__subscribe h3 {
    font-size: 3.4rem;
    line-height: 2.9rem;
  }
  .home__subscribe p {
    font-size: 20px;
    line-height: 19px;
    width: 100%;
  }
  .home__subscribe .home__block.successfully p{
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 15px;
  }
  /* .home__subscribe button {
    width: 192px;
  } */
  .home__subscribe .home__block .padding-20 {
    padding: 6px 0;
    width: 100%;
    text-align: left;
  }
  .home__subscribe .home__block .padding-20.home__sub {
    text-align: center;

  }
  .home__subscribe input {
    width: 100%;
  }
  .home__yt {
    padding: 40px 10px !important;
    height: 1250px;
  }
  .home__youtube .yt__video__row {
    flex-direction: column;
    align-items: center;
    padding-top: 32px;

  }
  .home__youtube .yt__video__row .home__vido__yt {
    max-width: 332px;
    width: 100%;
    height: auto;
    padding: 12px 14px;
  }
}
@media (max-width: 560px) {
  .home__subscribe .home__block {
    width: 100%;
  }
  .home__subscribe button {
    width: 100%;
  }
  /* .home__subscribe.section {
    padding: 40px 25px;
  } */
}

@media screen and (max-width: 425px) {
  .section-block {
    // background: #ddd !important;
    margin: 64px 0;
    padding-bottom: 92px;
    padding-left: 0px;
    position: relative;

    &:nth-child(even) {
      padding-left: 0;
      width: 100%;

      &:before {
        left: 0px;
        right: 0;
      }

      h4 {
        text-align: center;
        margin-left: 0px;
        width: 100%;
      }

      .block-with-text {
        padding: 0 15px 0 15px;
        margin: 0;
      }
      .service__video {
        width: 100%;
        // width: calc(100% - 32px);

        .service__button {
          padding-left: 0px;
          padding-right: 0;
        }
      }
    }

    &:before {
      background: rgba(255, 255, 255, 0.1);
      bottom: 0;
      content: '';
      position: absolute;
      left: 0;
      right: 0px;
      top: 0;
    }

    h4 {
      text-align: center;
      font-size: 36px;
      line-height: 39px;
      margin: 0;
      padding-bottom: 24px;
      padding-right: 0px;
      position: relative;
      width: 100%;
      z-index: 1;
    }
    .service__video {
      margin-bottom: 24px;
      position: static;
      width: 100%;

      video {
        padding: 0;
        position: relative;
        z-index: 1;
        margin: 0;
      }
    }

    .block-with-text {
      background-color: transparent;
      width: 100%;
      padding: 0 15px 0 15px;
      position: relative;
      margin: 0;
      z-index: 1;

      p {
        background-color: transparent;
        font-size: 13px;
        line-height: 21px;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }

    .service__button {
      bottom: 24px;
      left: 0px;
      padding: 0;
      position: absolute;
      width: 100%;

      .home__button {
        font-size: 16px;
        width: 207px;
      }
    }
  }
}

.home__button:hover {
  color: $color-white;
  background: #2C9793;
}

.home__button:active {
  color: $color-white;
  background: #1E8380;
}

