.insurance__faq-section {
  background: url(/img/about/bg-0.png) !important;
}

.insurance__faq-section .home__container {
  width: 80%;
}

.insurance__testimonials-section {
  background-color: #273540;
  padding-top: 40px;
}

.insurance__container {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  padding: 50px;
  width: 100%;
}

.insurance__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  margin: 10px auto 88px;
}
.insurance__about-text-block {
  padding-bottom: 10px;
}
.insurance__about-text-block.bold,
.insurance__about-text-block .bold {
  font-size: 16px;
}
.insurance__faq-item-container {
  border: none;
  color: #fff;
}
.insurance__faq-item-container .insurance__faq-item-title {
  line-height: 1em;
  padding-top: 0;
}
.insurance__faq-item-container .collapse-header {
  background-color: #273540 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.insurance__faq-item-container .collapse-header::before {
  color: #fff !important;
  content: '+' !important;
  font-weight: bold;
  font-size: 25px !important;
  line-height: 25px;
  text-align: center;
  transform: none !important;
  top: 15px !important;
}

.insurance__faq-item-container.is-active .collapse-header::before {
  content: '-' !important;
  transform: none !important;
}

.insurance__faq-item-body {
  margin-top: 34px;
}

@media(max-width: 1440px) {
  h3.insurance__title {
    font-size: 4rem;
  }
}

@media(max-width: 884px) {
  h3.insurance__title {
    font-size: 3rem;
    padding-top: 60px;
  }

  .insurance__faq-section .home__container {
    width: 90%;
  }
}

@media(max-width: 560px) {
  h3.insurance__title {
    font-size: 2rem;
    padding-top: 50px;
  }

  .insurance__faq-section .home__container {
    width: 100%;
  }

  .insurance__container {
    margin-top: 0;
    padding: 20px 30px;
  }

  .insurance__faq-section .collapse .collapse-content .collapse-content-box {
    padding: 0;
  }

  .insurance__faq-item-body {
    margin-top: 10px;
    text-align: justify;
  }

  .insurance__testimonials-section h3.insurance__title {
    padding: 10px !important;
  }

  .insurance__testimonials-section {
    padding-top: 20px;
  }
}
