@media (max-width: 1300px) {

	.peptides-detail {
		width: 70%;
	}

	.peptides-detail--bg {
		background-position: center left;
	}

	.footer {
		.footer-wrapper {
          display: flex !important;
          padding-bottom: 30px;
          width: 100%;
          flex-direction: column;
          text-align: center;

			&:last-child {
				padding-right: 0;
			}
		}
      .footer__section {
		  padding: 10px 0;
      }
      h3{
        display: none;
      }
      ul {
        li {
          float: left;
          margin: 0 auto;
          width: 50%;
        }
      }
	}

	.footer__section-1 {
		.copyrigth {
			display: none;
		}
	}
	.footer__section-5 {
		.copyrigth-down{
			display: block;
          text-align: center;
		}
	}

}
@media (max-width: 1024px) {
	.footer {
		flex-direction: column;
	}
	.peptides-detail {
		width: 80%;
	}
	.peptides__main__item {
		margin-right: 20px;
		width: calc(50% - 10px);

		h3 {
			font-size: 32px;
		}

		&:nth-child(3n+3) {
			margin-right: 20px;
		}

		&:nth-child(2n+2) {
			margin-right: 0;
		}
	}

	.peptides-category__item {
		height: auto !important;
		margin-right: 0 !important;
		width: 100%;
	}
	.peptides-detail {
		width: 100%;
	}

	.peptides-detail__info__text {
		width: 90%;
	}

	.footer__section-1 {
		width: 100%;


	}
	.footer__section-2 {
		width: 100%;

		max-width: 300px;
		margin: 0 auto;

	}
	.footer__section-3 {
		width: 100%;

	}
	.footer__section-4 {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;

	}
	.footer__section-5 {
		width: 100%;

	}

}
@media (max-width: 800px) {
	.footer {
		padding-bottom: 50px;
		position: relative;

        p{
          text-align: left;
        }
		/* .footer__section {
          padding: 10px 25px;
		} */
		.footer__section-2 {
			max-width: 300px;
			margin: 0 auto;
		}
		.footer__section-4 {
			max-width: 400px;
			margin: 0 auto;
		}
		.footer-wrapper {
			display: flex;
			padding-bottom: 30px;
			width: 100%;
			flex-direction: column;
			text-align: center;



			&.footer__section-1 {
				position: static;

				.copyrigth {
					bottom: 32px;
					left: 32px;
					right: 32px;
					text-align: center;
				}
			}
			&.footer__section-3 {
				width: 100%;
			}

		}
		ul {
			li {
				float: left;
				margin: 0 auto;
				width: 50%;
			}
		}
	}

}
@media (max-width: 600px) {
	.peptides-category h4 {
		font-size: 18px;
	}

	.peptides__main__item {
		height: auto !important;
		margin-right: 0 !important;
		width: 100%;
	}

	.peptides__main__item a {
		font-size: 12px;
		padding: 10px 20px 12px;
	}
	.peptides__main__item__back,
	.peptides__main__item__front {
		padding: 44px 22px;
	}
}

@media (max-width: 560px) {
	.first-about-title {
		margin-top: 60px;
	}
	.section.page {
		align-items: flex-start !important;
	}
	/* .footer {
		padding-left: 0 !important;
		padding-right: 0 !important;
	} */
	.stepsTop {
		padding-left: 15px;
		padding-right: 15px;
	}
}