/* .is-large.delete, .is-large.modal-close {
    position: relative;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
}

.delete::before, .modal-close::before {
    height: 2px;
    width: 50%;
}
.delete::after, .modal-close::after {
    height: 50%;
    width: 2px;
}
.delete::after, .delete::before, .modal-close::after, .modal-close::before {
    content: "";
    background-color: #fff;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
} */
/* .modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
    &.is-active {
        display: flex;
    }
} */

.executive-physical__package-link {
    font-size: 13px;
}

.section-scroll-icon footer.section:after {
    display: none;
}

.fullpage-off {
    &.fullpage-container {
        position: static !important;
    }
}
body {
    background-color: $bg-primary;
    min-height: 100vh;
}
.page-contact, .page-contact-thanks {
  background-color: #fff;
}
.fp-section {
    .fp-tableCell {
        display: flex;
        align-items: center;
    }
}
.fullpage-menu {
    position:fixed; 
    top: 50%; 
    right: 10px; 
    z-index: 1; 
    color: #fff;
    transform: translateY(-45%);
    &__item {
        height: 30px;
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: right;
        border-right: 2px solid rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        &:hover {
            .fullpage-menu__title {
                opacity: 1;
            }
        }
        &.active {
            border-right: 2px solid rgba(255, 255, 255, 1);
            .fullpage-menu__title {
                opacity: 1;
            }
        }
    }
    &__title {
        margin-right: 10px;
        white-space: nowrap;
        background: rgba(255,255,255,0.2);
        color: white;
        font-family: "Montserrat",sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 4px;
        padding: 5px 10px;
        opacity: 0;
        transition: .3s;
    }
}

.section-home-youtube {
    background: #273540;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}
.home__youtube-videos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    .home__youtube-video {
        opacity: .8;
        width: calc(100% / 3);
        padding: 10px;
        img {
            width: 100%;
        }
        &:hover {
            opacity: 1;
        }
    }
    @media(max-width: 768px) {
        .home__youtube-video {
            width: calc(100% / 2);
        }
    }
    @media(max-width: 560px) {
        .home__youtube-video {
            width: 100%;
            padding: 5px 0;
        }
    }
}

.fp-section .fp-tableCell {
    width: 100% !important;
}

.executive-physical__packages-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.testimonials-only-video__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.executive-physical__package-img img {
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(34,45,54,.3);
    width: 100%;
}
.executive-physical__package-img iframe {
  width: 100%;
  height: 385px;box-shadow: 0 5px 20px rgba(34,45,54,.3);
}
.swiper-video{
width:100%;height:380px;margin:0 auto;overflow:hidden;
border-radius: 25px;
}

.executive-physical__packages .executive-physical__title {
    width: 100%;
    max-width: none !important;
}
.executive-physical__package.swiper-slide:not(.swiper-slide-active) .executive-physical__package-content {
    opacity: 0;
    transition: .3s;
}
.executive-physical__package.swiper-slide .executive-physical__package-img {
    transform: scale(.8);
    transition: .3s;
}
.executive-physical__package.swiper-slide.swiper-slide-active .executive-physical__package-img {
    transform: scale(1);
    transition: .3s;
}
.executive-physical__package.swiper-slide .swiper-slide-shadow-left, .executive-physical__package.swiper-slide .swiper-slide-shadow-right {
    opacity: 0 !important;
}
.executive-physical__package.swiper-slide.swiper-slide-duplicate-next, .executive-physical__package.swiper-slide.swiper-slide-duplicate-prev {
    opacity: 0!important;
    transition: .3s;
}

.faqs-no-fullpage {
    min-height: 0!important;
}
.section-faqs .landing-section__title {
    text-align: center;
    padding-right: 0;
}
.works-wrapper {
    padding-top: 60px;
    padding-bottom: 80px;
}
@media(max-width: 1024px) {
    .ppat .cp-slider__item-wrapper-img:after {
        display: none;
    }
}

@media(max-width: 768px) {
    .fullpage-menu {
        display: none;
    }
    #fullpage {
        .section {
            height: auto !important;
            overflow: hidden;
        }
        .fp-section .fp-tableCell {
            flex-direction: column;
            align-items: flex-start;
            height: auto !important;
        }
    }
    .executive-physical__packages-wrapper {
        width: 100%;
    }
    .testimonials-only-video__wrapper .swiper-button-next, .testimonials-only-video__wrapper .swiper-button-prev{
      margin-top: 20%;
     }
     .testimonials-concierge__title{
      margin-bottom: -70px;
      text-align: center;
      margin-left:50px;
    }
}

@media(max-width: 560px) {
    .home__container {
        width: 100%;
    }
    .executive-physical__packages-wrapper .swiper-button-next, .executive-physical__packages-wrapper .swiper-button-prev {
        display: none;
    }
    .testimonials-only-video__wrapper .swiper-button-next, .testimonials-only-video__wrapper .swiper-button-prev{
     margin-top: 40%;
    }
    .testimonials-concierge__title{
      margin-bottom: -50px;
    }
}


//
#landing {
    .Tab {
      background-color: transparent;
      border: none;
      padding-left: 15px;
      padding-right: 15px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
        padding-bottom: 2.4rem;
      }
    }
    .Tab__text {
      @media (max-width: 1600px) {
        font-size: 2.5rem;
      }
      @media (max-width: 1200px) {
        font-size: 2rem;
      }
    }
    .Tabs {
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
      }
    }
    .Arrows {
      position: relative;
      img {
        margin-top: 3px;
      }
    }
    .Arrow {
      border: none;
    }
  }
  .Tab:after {
    content: "";
    display: block;
    width: 150px;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    border: 3.5px solid #50bbb7;
    border-radius: 3.5px;
    opacity: 0;
    transition-timing-function: ease-out;
    transition-property: opacity;
  }
  .Tab.tns-nav-active:after {
    opacity: 1;
  }
  #landing .OurStrategy .Arrows {
    margin-top: 30px;
  }
  @media (max-width: 1200px) {
    #landing .OurStrategy .OurStrategySlide__title {
      padding: 0 20px;
    }
  }
  @media (max-width: 991px) {
    #landing .Blot .BG {
      width: 100%;
    }
    #landing
      .TypesOfMedicineWePracticeSlider
      [class].TypesOfMedicineWePracticeSlide__description {
      padding: 0 10px;
    }
    #landing .Testimonial {
      padding: 45px 30px 34px;
    }
    #landing .Testimonial__slide {
      padding: 12px 10px;
    }
    #landing .Testimonials__inner {
      margin: 70px 0 0;
    }
    #landing .TypesOfMedicineWePractice .BookNow,
    #landing .TypesOfMedicineWePracticeSlider,
    #landing .OurStrategy .OurStrategySlider__wrapper {
      margin-top: 40px;
    }
    #landing .OurStrategy__road-bar {
      top: 122px;
    }
    #landing .Blot {
      margin-top: 100px;
    }
    #landing .OurStrategy .OurStrategySlide {
      padding: 90px 0px 60px;
    }
  }
  @media (max-width: 768px) {
    #landing .Testimonial__slide {
      padding: 12px 0;
    }
    #landing .TypesOfMedicineWePractice__title,
    #landing .OurStrategy__title,
    #landing .TheNextHealthWay .BookNowBlock__title,
    #landing .BookNowBlock__title,
    #landing .ScheduleAnAppointmentToday__title {
      font-size: 3.5rem;
    }
    #landing .TypesOfMedicineWePracticeSlide img {
      width: 150px;
    }
  }
  @media (max-width: 560px) {
    #landing .OurStrategy__road-bar {
      top: 128px;
    }
    #landing .OurStrategy .OurStrategySlide {
      width: 240px;
      margin: auto;
      padding-bottom: 10px;
    }
    #landing .TypesOfMedicineWePractice__title,
    #landing .OurStrategy__title,
    #landing .TheNextHealthWay .BookNowBlock__title,
    #landing .BookNowBlock__title,
    #landing .ScheduleAnAppointmentToday__title {
      font-size: 3rem;
      padding-bottom: 20px;
      text-align: center !important;
    }
    #landing .BookNowBlock__description,
    #landing .OurStrategy .OurStrategySlide__description,
    #landing
      .TypesOfMedicineWePracticeSlider
      [class].TypesOfMedicineWePracticeSlide__description,
    #landing .Testimonial__description {
      font-size: 1.5rem;
    }
    #landing .Tabs__arrows {
      margin-top: 10px;
    }
    #landing .Tabs {
      margin-top: 60px;
    }
    #landing .Header:before {
      padding-top: 70.25%;
    }
    #landing .Header .BookNow {
      margin-top: 3rem;
      line-height: 2.3;
      font-size: 1.6rem;
      width: 22rem;
    }
    #landing .BookNow:before {
      width: 18rem;
    }
    #landing .Header__overview {
      top: 60%;
    }
    #landing .Header__video {
      border-radius: 0;
    }
    #landing .Tabs__slide-inner {
      padding: 30px 0;
    }
    #landing .ScheduleAnAppointmentToday {
      margin-top: 60px;
    }
    #landing .Testimonials {
      margin-top: 140px;
    }
    #landing .BookNowBlock__description1 {
      line-height: 32px;
      padding-top: 26px;
    }
    #landing .BookNowBlock__description3 {
      line-height: 28px;
      padding-top: 18px;
    }
  }

  .tabs-categories__item {
    padding: 14px 20px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    user-select: none;
    transition: .4s;
    cursor: pointer;
    @media(max-width: 1440px) {
        padding: 11px 15px;
        font-size: 16px;
        line-height: 20px;
    }
    @media(max-width: 900px) {
        width: 100%;
    }
    @media(max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media(max-width: 560px) {
        padding: 8px 10px;
        font-size: 14px;
        line-height: 15px;
        width: auto;
        text-align: left;
    }
    &.active {
        background-color: #1B242C;
    }
    /* &:hover {
        background-color: #24303a;
    } */
}

@media(max-width: 991px) {
  .landing-section__column {
    width: 100%;
  }
  .landing-section.alternative:before {
    width: 95%;
    top: 5%;
    height: 90%;
  }
  .landing-section.alternative .landing-section__content-block {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .landing-section.alternative.alternative-reverse .landing-section__description, .landing-section.alternative .landing-section__description {
    max-width: 620px;
  }
}
@media(max-width: 768px) {
  .vitamins-page {
    .landing-section {
      min-height: 100vh;
    }
  }
}
@media(max-width: 560px) {
    .executive-physical__packages {
        .section__info {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .section:first-child .section__info {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .title-section {
        margin-top: 50px;
        
      }
    }
}
/* .executive-physical__packages .executive-physical__package {
    opacity: 1;
} */
.tabs-contents-wrapper {
    min-height: 360px;
    // margin-top: 30px;
    /* @media(max-width: 900px) {
        min-height: 500px;
    } */
}
.tabs-contents__description {
    padding: 35px 5px 10px;
    p {
        font-size: 17px;
        line-height: 22px;
    }
    @media(max-width: 560px) {
        padding: 20px 10px;
    }
}
.swiper-slide {
    .landing-section__media-wrapper {
        margin-top: 20px;
    }
    .tabs-contents__description {
        opacity: 0;
        transition: .5s;
    }
}
.swiper-slide-active {
    .landing-section__media-wrapper {
        transform: scale(1.1);
    }
    .tabs-contents__description {
        opacity: 1;
    }
}
@media(max-width: 991px) {
    .swiper-slide {
        .landing-section__media-wrapper {
            margin-top: 0;
            transform: scale(1);
        }
        /* .tabs-contents__description {
            opacity: 1;
        } */
    }
}
.executive-physical__packages {
    position: relative;
    // z-index: 1000;
}
.executive-physical__packages-wrapper {
    margin-top: -10px;
}
.executive-physical__packages-wrapper .swiper-button-next, .executive-physical__packages-wrapper .swiper-button-prev {
    margin-top: 0;
    // top: 38%;
    top: 84%;
    transition: .5s;
    &.swiper-button-disabled {
      opacity: 0;
    }
}
.executive-physical__packages-wrapper .swiper-button-prev {
  left: calc(50% - 400px);
}
.executive-physical__packages-wrapper .swiper-button-next {
  right: calc(50% - 400px);
}
@media(max-width: 1600px) {
    .executive-physical__packages-wrapper .swiper-button-next, .executive-physical__packages-wrapper .swiper-button-prev {
        // top: 36%;
        top: 77%;
    }
}
@media(max-width: 560px) {
    .executive-physical__packages-wrapper .swiper-button-next, .executive-physical__packages-wrapper .swiper-button-prev {
        display: block;
        margin-top: 20%;
        top: 0;
        z-index: 100;
    }
    .tabs-contents__description p {
        font-size: 14px;
        line-height: 18px;
    }
}
.executive-physical__package {
    .landing-section__media-wrapper {
        width: 100%;
        margin-left: 0;
        border-radius: 25px;
        box-shadow: 0 0 10px 0px #455c6f;
        // overflow: hidden;
        // outline: none;
    }
    .landing-section__media {
        border-radius: 25px;
        // overflow: hidden;
        // outline: none;
    }
    &.swiper-slide {
        opacity: 0 !important;
        transition: none !important;
    }
    &.swiper-slide.swiper-slide-prev {
        opacity: 1 !important;
    }
    &.swiper-slide.swiper-slide-active {
        opacity: 1 !important;
    }
    &.swiper-slide.swiper-slide-next {
        opacity: 1 !important;
    }
    @media(max-width: 560px) {
        .landing-section__media-wrapper {
            transform: translateY(0);
        
        }
      }
}