.peptides {
	background-color: $color-blue;
	font-size: 0;
	min-height: 100vh;
	padding-top: 92px;
	width: 100%;

	h1 {
		max-width: 100%;
		margin: 0 0 64px;
	}
}

.peptides-category {
	h1 {
		margin-bottom: 32px;
	}

	h4 {
		color: $color-white;
		font-size: 24px;
		font-weight: bold;
		line-height: 28px;
		margin: 0 0 64px;
	}
}
.peptides-category__item {
	border: 2px solid $color-white-1;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 24px;
	vertical-align: top;
	width: calc(33.3% - (40px/3));

	&:nth-child(3n+3) {
		margin-right: 0;
	}

	h3 {
		color: $color-white;
		font-size: 3.6rem;
		font-weight: 600;
		line-height: 1.2;
		margin: 0 0 10px;
        @media screen and (max-width: 1500px){
            font-size: 3rem;
        }
        @media screen and (max-width: 1300px){
            font-size: 2.2rem;
        }
	}

	 p {
		 color: $color-white;
		 font-size: 1.8rem;
		 margin: 0 0 19px;
	 }
}

.peptides-category__item__link {
	box-shadow: none;
	color: $color-light-blue;
	display: inline-block;
	font-size: 1.3rem;
	line-height: 19px;
	outline: none;
	text-decoration: none;
	@include transition;

	&:hover, &:focus, &:active {
		color: $color-white;
	}
}

.peptides-category__item__tag {
	border: 1px solid $color-white;
	border-radius: 50px;
	box-sizing: border-box;
	box-shadow: none;
	color: $color-white;
  cursor: default;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 500;
	letter-spacing: 0.12em;
	line-height: 1;
	margin-bottom: 8px;
	margin-right: 8px;
	opacity: 0.6;
	outline: none;
	padding: 7px 12px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	@include transition;

  &:not(.no-link) {
    cursor: pointer;

    &:hover, &:focus, &:active {
      background-color: $color-white;
      color: $color-blue-1;
      opacity: 1;
    }
  }

}

.peptides-category__item__tags {
	padding-bottom: 8px;
}

.peptides-detail {
	padding-bottom: 50px;
	width: 50%;

	h1 {
		margin-bottom: 19px;
	}
}

.peptides-detail--bg {
	background-attachment: fixed;
	background-image: url("/img/peptides/peptides_detail_bg.jpg");
	background-position: bottom right;
	background-size: cover;
}

.peptides-detail__info__accordion {
	h4 {
		color: $color-white;
		font-size: 2.4rem;
		font-weight: bold;
		line-height: 28px;
		margin-bottom: 19px;
	}
}
.peptides-detail__info__accordion__item {
	border: 1px solid $color-white-2;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 16px;
	padding: 19px 16px 19px 56px;
	position: relative;
	background: none;

	&.card-active {
		.peptides-detail__info__accordion__item__content {
      display: table;
		}
		.peptides-detail__info__accordion__item__arrow {
			transform: rotate(90deg);
		}
	}
	.card-header{
		box-shadow: none;

		p {
			padding-top: 0;
		}
	}
  .card-header-icon {
    display: none;
  }
  .card-header-title {
    margin: 0;
  }

	h3 {
		color: $color-white;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 19px;
		margin: 0;
	}

	p {
		color: $color-white;
		font-size: 1.3rem;
		line-height: 19px;
		margin-bottom: 20px;
		margin-top: 19px;
	}

	a {
		display: inline-block;
    padding-bottom: 14px;

		img {
			display: inline-block;
			margin-right: 10px;
			vertical-align: middle;
      width: 30px;
		}

		span {
			color: $color-light-blue;
			display: inline-block;
			font-size: 1.3rem;
			line-height: 19px;
			@include transition;
			vertical-align: middle;
      width: calc(100% - 50px);
		}

		&:hover, &:focus, &:active {
			span {
				color: $color-white;
			}
		}
	}
}

.peptides-detail__info__accordion__item__arrow {
	border-radius: 100%;
	cursor: pointer;
	left: 16px;
	position: absolute;
	top: 16px;
	@include transition;

	&:hover {
		background-color: $color-blue-1;
		box-shadow: $box-shadow;
	}
}

.peptides-detail__info__accordion__item__content {
	display: none;
}

.peptides-detail__info__tags {
	padding-bottom: 30px;

	h5 {
		color: $color-white;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 19px;
		margin-bottom: 19px;
	}
}

.peptides-detail__info__text {
	padding-bottom: 38px;

	h4 {
		color: $color-white;
		font-size: 2.4rem;
		font-weight: bold;
		line-height: 28px;
		margin-bottom: 19px;
	}

	p {
		color: $color-white;
		font-size: 1.3rem;
		line-height: 19px;
	}
}

.peptides__main {
	font-size: 0;
}

.peptides__main__item {
	background-color: $color-blue;
	//backface-visibility: hidden;
	box-shadow: $box-shadow;
	display: inline-block;
	height: 300px;
	margin-bottom: 20px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
  text-align: center;
	@include transition-time(1s);
	transform-style: preserve-3d;
	vertical-align: top;
	width: calc(33.3% - (40px/3));
	z-index: 1;

	&:nth-child(3n+3) {
		margin-right: 0;
	}

	&:hover {
		transform: rotateY(180deg);

		.peptides__main__item__back {
			opacity: 1;
			z-index: 1;
		}
		.peptides__main__item__front {
			opacity: 0;
			z-index: 0;

			h3 {
				color: $color-light-blue;
			}
		}
	}

	a {
		border: 2px solid $color-light-blue;
		border-radius: 28px;
		box-sizing: border-box;
		box-shadow: none;
		color: $color-light-blue;
		display: inline-block;
		font-size: 1.6rem;
		font-weight: normal;
		outline: none;
		padding: 16px 56px 18px;
		text-decoration: none;
		@include transition;

		&:hover, &:focus, &:active {
			background-color: $color-light-blue;
			color: $color-blue-1;
		}
	}

	h3 {
		color: $color-white;
		font-size: 3.2rem;
		font-weight: bold;
		@include transition;
	}

	p {
		color: $color-white;
		font-size: 1.3rem;
		font-weight: normal;
		line-height: 19px;
		margin-bottom: 32px;
	}

	img {
		//background-color: $color-blue-1;
		border-radius: 100%;
		display: inline-block;
		height: 100px;
		margin-bottom: 32px;
		width: 100px;
	}
}

.peptides__main__item__back,
.peptides__main__item__front {
	background-color: $color-blue;
	display: block;
	padding: 84px 32px;
	position: relative;
	@include transition-time(1s);
}

.peptides__main__item__back {
	opacity: 0;
	transform: rotateY(180deg);
	z-index: 0;

	h3 {
		margin-bottom: 32px;
	}
}
.peptides__main__item__front {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.peptides__main__items {
	padding-bottom: 30px;
}

