.landing2 {
    section {
      padding-top: 130px;
      padding-bottom: 100px;
    }
    @media(max-width: 1200px) {
      section {
        padding-top: 80px;
        padding-bottom: 60px;
      } 
    }
    .landing-banner {
      padding: 260px 32px;
      height: auto;
    }
    .main-banner {
        height: 100vh;
    }
    .Header__title {
        color: #fff;
    }
    .p-y_small {
        padding: 8vh 0;
    }
    .p-y_big {
        padding: 25vh 0;
    }
    .section-odd {
        .content-block__text-left {
            padding: 0 50px 50px 0;
        }
        .content-block__text-right {
            padding: 50px 0 50px 50px;
        }
    }
    .section-even {
        background-color: #ecf0f8;
    }
    /* .video-block iframe{
        height: 300px;
    } */
    .video-block {
      border-radius: 0;
      // border-radius: 25px;
      box-shadow: 0 10px 30px rgba(51,51,51,0.2);
      /* @media(max-width: 560px) {
        border-radius: 0;
      } */
    }
}
.section-more-about-prp {

}
.more-about-prp__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0 30px;
}
.more-about-prp__col {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    flex: 0 0 calc(100% / 3);
    padding: 20px 30px;
}
.more-about-prp__col-title {
    display: block;
    margin: 44px 0;
    font-size: 22px;
    color: #455C6F;
    font-weight: bold;
    line-height: 24px;
    height: 48px;
}
.more-about-prp__col-text {
    font-size: 16px;
    line-height: 32px;
}
.more-about-prp__image {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        width: 150px;
        height: 150px;
    }
}
.more-about-prp__list-item {
    position: relative;
    font-size: 16px;
    line-height: 32px;
    color: #455C6F;
    margin-bottom: 24px;
    padding-left: 28px;
    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: #455C6F;
        border-radius: 50%;
    }
}

.prp-therapy-uses__row {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0;
}
.prp-therapy-uses__col {
    &:first-child {
        flex: 0 0 400px;
        padding-right: 40px;
    }
    &:last-child {
        flex: 0 0 calc(100% - 400px);
    }
}
.prp-therapy-uses__list-item {
    position: relative;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 22px;
    color: #455C6F;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 60px;
            height: 3px;
            background-color: #50BBB7;
        }
    }
}

.Testimonials {
  .h2-title {
    padding-top: 10vh;
  }
}
#landing .Testimonial__slide {
  margin-top: 8px;
  margin-bottom: 8px;
}
.Video.prp-therapy-uses__tab-video {
  width: auto;
  height: 380px;
}

@media(max-width: 1200px) {
  .more-about-prp__col-title {
    margin: 30px 0;
    font-size: 20px;
    line-height: 22px;
    height: auto;
  }
  .more-about-prp__list-item {
    margin-bottom: 18px;
  }
  .more-about-prp__col {
    margin-bottom: 30px;
  }
  .landing2 .section-odd .content-block__text-left {
    padding-top: 40px;
  }
  .landing2 .section-odd .btn-primary {
    margin-top: 40px;
  }
  .landing2 .landing-banner {
    padding: 180px 32px;
  }
  .landing-banner .Video {
    width: auto;
    height: 100%;
    max-width: initial;
  }
  .landing2 .p-y_big {
    padding: 10vh 0;
  }
  .mobile-col {
    flex-direction: column;
  }
  .mobile-col-reverse {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .prp-therapy-uses__list {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 80px;
  }
  .prp-therapy-uses__list-item {

  }
  .more-about-prp__row {
    flex-direction: column;
  }
  .more-about-prp__image {
    display: block;
  }
  .Testimonials .h2-title {
    padding-top: 5vh;
  }
  .prp-therapy-uses__row {
    padding: 50px 0;
  }
}
@media(max-width: 768px) {
  .landing2 .landing-banner {
    padding: 120px 32px;
  }
}
@media(max-width: 560px) {
  .more-about-prp__row {
    padding: 20px 0 0;
  }
  .more-about-prp__col:last-child {
    margin-bottom: 0;
  }
  .landing2 .btn-primary {
    margin: auto !important;
  }
  .landing2 .landing-banner__description {
    margin-bottom: 40px;
    font-size: 1.8rem;
  }
    .prp-therapy-uses__row {
        padding: 30px 0 0;
    }
    /* .Video.prp-therapy-uses__tab-video {
      height: auto;
    } */
    /* .video-block iframe {
        height: auto;
    } */
    #landing .Testimonial {
        padding: 45px 30px;
    }
    #landing .Testimonial__slide {
        padding: 12px 10px;
    }
    .more-about-prp__col {
      margin-bottom: 20px;
    }
    .more-about-prp__image img {
      width: 100px;
      height: 100px;
    }
    .more-about-prp__col-title {
      margin: 20px 0;
    }
    .more-about-prp__list-item {
      line-height: 22px;
      margin-bottom: 16px;
      &:before {
        top: 7px;
      }
    }
    .prp-therapy-uses__list {
      margin-top: 60px;
    }
    .prp-therapy-uses__list-item {
      margin-bottom: 40px;
    }
}
