$spinkit-size: 4em !default;
$spinkit-spinner-color: #337ab7 !default;

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $bg-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.sk-chasing-dots {
    $animationDuration: 2.0s;
  
    width: $spinkit-size;
    height: $spinkit-size;
    position: relative;
    margin: auto;
    text-align: center;
    animation: sk-chasing-dots-rotate $animationDuration infinite linear;
  
    .sk-child {
      width: ($spinkit-size / 2);
      height: ($spinkit-size / 2);
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: $spinkit-spinner-color;
      border-radius: 100%;
      animation: sk-chasing-dots-bounce $animationDuration infinite ease-in-out;
    }
  
    .sk-dot-2 {
      top: auto;
      bottom: 0;
      animation-delay: (-$animationDuration / 2);
    }
  }

  @keyframes sk-chasing-dots-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes sk-chasing-dots-bounce {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.0);
    }
  }