.container-big {
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
.section-container {
    width: 100%;
    @media(max-width: 991px) {
        padding: 0px;
    }
}
.section {
    padding: 3rem;
    width: 100%;
    &.page {
        display: flex;
        align-items: center;
    }
    @media(max-width: 1024px) {
        &.page {
            align-items: flex-start;
        }
    }
    @media(max-width: 768px) {
        &.page {
            height: auto !important;
            // min-height: 100% !important;
        }
    }
    @media(max-width: 560px) {
        padding: 3rem 25px;
        &.page {
            min-height: 100% !important;
        }
    }
}
.section-scroll-icon {
    .section {
        &:after {
            content: "";
            display: block;
            width: 14px;
            height: 20px;
            position: absolute;
            bottom: 32px;
            left: 50%;
            margin-left: -7px;
            background: no-repeat 50%;
            background-image: url("/img/icons/mouse.svg");
        }
    }
    @media(max-width: 1024px) {
        .section {
            &:after {
                display: none;
            }
        }
    }
}
.landing-section {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -1px;
    @media(max-width: 991px) {
        padding: 50px 15px !important;
    }
    @media(max-width: 768px) {
        min-height: auto;
        height: auto !important;
    }
    .half-block {
        width: 50%;
        @media(max-width: 991px) {
            width: 100%;
        }
    }
    &__blocks {
        & > * {
            flex: 0 0 50%;
            &:first-child {
                padding-left: 100px;
                @media(max-width: 991px) {
                    margin-top: 50px;
                    padding-left: 0;
                    padding-bottom: 40px;
                }
            }
            @media(max-width: 991px) {
                flex: 0 0 100%;
                width: 100%;
            }
        }
    }
    &__bg {
        &-image {
            background-image: url('/img/landing/bg.jpg');
        }
        &-darkblue {
            background-color: #334352;
        }
        &-white {
            background-color: #fff;
        }
    }
    &__title {
        margin-bottom: 6px;
        color: white;
        font-size: 6rem;
        line-height: 6.8rem;
        font-weight: 700;
        padding-right: 70px;
        &.big {
            font-size: 7.2rem;
            line-height: 8rem;
        }
        &.pt {
            padding-top: 45px;
        }
        &.mb {
            margin-bottom: 30px;
        }
        @media(max-width: 1600px) {
            font-size: 4rem; 
            line-height: 5rem;
            &.big {
                font-size: 4.6rem;
                line-height: 5.2rem;
            }
        }
        @media(max-width: 560px) {
            font-size: 3.2rem; 
            line-height: 4rem;
            &.big {
                font-size: 4rem;
                line-height: 5rem;
            }
        }
    }
    &__description, &__description p {
        font-size: 22px;
        line-height: 28px;
        color: #fff;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        @media(max-width: 1600px) {
            font-size: 18px; 
            line-height: 24px;
        }
        @media(max-width: 560px) {
            font-size: 16px; 
            line-height: 20px;
        }
    }
    &__text, &__text p {
        font-size: 22px;
        line-height: 28px;
        color: white;
        font-weight: 300;
        margin-bottom: 30px;
        @media(max-width: 1600px) {
            font-size: 18px; 
            line-height: 24px;
        }
        @media(max-width: 560px) {
            font-size: 16px; 
            line-height: 20px;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        width: 100%;
        
        &.reverse {
            flex-direction: row-reverse;
            @media(max-width: 991px) {
                flex-direction: column;
            }
            .landing-section__title {
                margin-bottom: 75px;
                @media(max-width: 1600px) {
                    margin-left: -30px;
                    margin-bottom: 45px;
                }
                @media(max-width: 991px) {
                    margin-left: 0;
                    margin-bottom: 30px;
                }
            }
            .landing-section__content-block {
                width: 100%;
                transform: translate(-10%, 0);
                padding-left: 100px; //20%
                padding-right: 23%;
                @media(max-width: 1600px) {
                    padding: 40px 70px;
                }
                @media(max-width: 991px) {
                    // padding: 40px 50px 40px 70px;
                    transform: translate(-5%, 0);
                    width: 100%;
                }
                @media(max-width: 560px) {
                    width: 100%;
                    padding: 40px 20px 60px;
                    transform: translate(0%, 0);
                }
            }
            .landing-section__media-wrapper {
                width: 95%;
                margin-left: 0;
                @media(max-width: 560px) { 
                   width: 100%;
                    margin-left: 0%;
                    transform: translateY(-25px);
                }
            }
        }
        @media(max-width: 991px) {
            flex-direction: column;
        }
    }
    &__column {
        flex: 0 0 50%;
        &:first-child {
            display: flex;
            align-items: flex-end;
        }
        &-inner {

        }
    }
    &__content-block {
        background-color: #4C5B69;
        color: #fff;
        padding: 60px 20% 60px 12%;
        transform: translate(23%, 75px);
        width: 93%;
        @media(max-width: 1600px) {
            transform: translate(10%, 25px);
            width: 100%;
            padding: 50px 135px 50px 50px;
        }
        @media(max-width: 560px) {
            width: 100%;
            padding: 40px 20px 60px;
            // margin-left: -5%;
            transform: translate(0, 25px);
            .landing-section__list{
                list-style: none;
                .landing-section__list-item{
                    font-size:16px;
                }
            }
        }
    }
    &__media {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &-wrapper {
            // height: 100%;
            // height: 408px;
            position: relative;
            z-index: 1;
            width: 105%;
            margin-left: -5%;
            @media(max-width: 560px) {
                width: 100%;
                margin-left: 0%;
                transform: translateY(-25px);
            }
        }
        
        /* iframe {
            
        } */
    }
    &__list {
        list-style-type: disc;
        margin-bottom: 35px;
        padding-left: 25px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 300;
        &:last-child {
            margin-bottom: 0;
        }
        &-item {
            margin-bottom: 8px;
        }
        @media(max-width: 1600px) {
            font-size: 18px; 
            line-height: 22px;
        }
    }
    &__title-list {
        display: block;
        // font-size: 1.4rem;
        font-size: 24px;
        line-height: 28px;
        color: white;
        font-weight: 600;
        margin-bottom: 10px;
        @media(max-width: 1600px) {
            font-size: 22px;
            line-height: 24px;
        }
    }
    &.alternative {
        position: relative;
        .landing-section__content-block {
            transform: translate(0, 0);
            background-color: rgba(0,0,0,0);
            padding: 50px 0 0;
            @media (max-width: 560px) {
                padding-top: 20px;
            }
        }
        .landing-section__description {
            margin-bottom: 40px;
        }
        /* .landing-section__column {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -5%;
                width: 60%;
                height: 110%;
                background-color: #4C5B69;
                border-radius: 0 25px 15% 0;
            }
        } */
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 10%;
            width: 60%;
            height: 80%;
            background-color: #4C5B69;
            border-radius: 0 25px 65px 0;
            @media (max-width: 560px) {
                width: 95%;
                top: 5%;
                height: 90%;
            }
        }
        .landing-section__description {
            max-width: 450px;
            margin-right: auto;
        }
        &.alternative-reverse {
            &:before {
                left: auto;
                right: 0;
                border-radius: 25px 0 0 65px;
            }
            .landing-section__title {
                margin-bottom: 0;
            }
            .landing-section__column:first-child {
                justify-content: flex-end;
            }
            .landing-section__column-inner {
                text-align: right;
            }
            .landing-section__title {
                padding-right: 0;
            }
            .landing-section__content-block {
                width: 100%;
            }
            .landing-section__description {
                max-width: 450px;
                margin-left: auto;
                margin-right: 0;
            }
        }
        .landing-section__media-wrapper {
            width: 100%;
            margin-left: 0;
            @media (max-width: 560px) {
                transform: translate(0, 35px);
                margin-top: 15px;
            }
        }
        .landing-section__media {
            border-radius: 0 /* 25px */;

        }
    }
}

.section-services {
    &__button {
        margin-top: 30px;
    }
    .swiper-pagination-bullet  {
      font-size: 0;
      width: 60px;
      height: 8px;
      margin: 0 5px;
      background: white;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .2;
      border-radius: 0;
    }
    .swiper-pagination-bullet-active {
      opacity: 1 !important;
      outline: none;
    }
    .swiper-pagination {
      position: relative;
      margin-top: 50px;
    }
    @media(max-width: 1600px) {
        .sl__item {
            margin: 25px 0 0;
        }
        .sl__item-text {
            margin-top: 4px;
        }
        &__button {
            margin-top: 20px;
        }
    }
}

.container-big {
    max-width: 1600px;
    width: 100%;
}
.media_border-radius {
    border-radius: 25px;
}
.flex-center {
    display: flex;
    justify-content: center;
}


// Section TimeLine
.section-timeline {
    &__items {
        &-wrapper {
            margin-top: 30px;
            padding-right: 40px;
        }
        display: flex;
        justify-content: space-between;
        @media(max-width: 991px) {
            flex-direction: column;
            &-wrapper {
                margin-top: 20px;
            }
        }
    }
    &__item {
        &-content {
            position: relative;
        }
        &:nth-child(odd) {
            flex: 0 0 calc(100% / 12 - 20px);
        }
        &:nth-child(even) {
            flex: 0 0 calc(100% / 12 + 20px);
        }
        &:last-child {
            .section-timeline__item-title {
                width: calc(100% + 30px);
                left: -15px;
            }
        }
        &-image {
            height: 75px;
            display: flex;
            justify-content: center;
            img {
                height: 100%;
            }
        }
        &-line {
            margin-top: 38px;
            height: 1px;
            background-color: #fff;
            opacity: .5;
        }
        &-title {
            position: absolute;
            top: 85px;
            display: block;
            width: calc(100% + 130px);
            left: -65px;
            text-align: center;
            color: #fff;
            padding: 0 5px;
            max-height: 57px;
            overflow: hidden;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        @media(max-width: 991px) {
            &-content {
                display: flex;
                align-items: center;
            }
            &-image {
                height: 75px;
                width: 100%;
                max-width: 45px;
                img {
                    height: 100%;
                }
            }
            &-title {
                position: static;
                padding-left: 20px;
                text-align: left;
            }
            &:nth-child(even) {
                display: none;
            }
        }
    }
    &__button {
        margin-top: 125px;
        @media(max-width: 991px) {
            margin-top: 25px;
        }
    }
}

// Section Includes
.section-includes {
    &__items {
        &-wrapper {
            margin-top: 35px;
        }
        display: flex;
        flex-wrap: wrap;
        max-width: 1440px;
    }
    &__item {
        margin-bottom: 50px;
        padding-right: 20px;
        flex: 0 0 (100% / 3);
        &-row {
            display: flex;
            justify-content: space-between;
            max-width: 368px;
        }
        &-image {
            flex: 0 0 75px;
            height: 75px;
        }
        &-content {
            flex: 0 0 calc(100% - 75px);
            padding-left: 15px;
            color: #fff;
        }
        &-title {
            display: block;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        &-description {
            // font-size: 14px;
        }
        @media(max-width: 991px) {
            flex: 0 0 50%;
        }
        @media(max-width: 560px) {
            flex: 0 0 100%;
            margin-bottom: 30px;
            &-image {
                flex: 0 0 65px;
                height: 65px;
            }
            &-content {
                flex: 0 0 calc(100% - 65px);
            }
        }
    }
}

.test {
    @media(max-width: 560px) { 
        min-height: 100%!important
    }
    .landing-section__list-item/* , .landing-section__description */ {
        font-size: 20px;
        line-height: 25px;
    }
}

// Section accordion
.section-accordion {
    &__items {
        &-wrapper {
            margin-top: 30px;
        }
    }
    &__item {
        background-color: #27343C;
        color: #fff;
        padding: 0 40px;
        margin-bottom: 10px;
        &-title {
            padding: 15px 0;
            position: relative;
            cursor: pointer;
            font-size: 16px;
            &:before {
                content: '+';
                display: block;
                position: absolute;
                top: 50%;
                left: -30px;
                font-size: 20px;
                font-weight: bold;
                transform: translateY(-50%);
            }
        }
        &.active {
            .section-accordion__item-title:before {
                content: '-';
            }
        }
        &-content {
            padding-bottom: 15px;
        }
    }
}

// Section Features
.features-section {
    .title-block {
        margin-bottom: 15px;
    }
    & > div {
        width: 100%;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        &-item {
            flex: 0 0 25%;
            padding-right: 15px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__item {
        &-image {
            margin-bottom: 30px;
            /* display: flex;
            justify-content: center; */
            @media (max-width: 991px) {
                img {
                    width: 80px;
                    height: 80px;
                }
            }
        }
        &-title {
            display: block;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            height: 40px;
        }
        &-text {
            color: #fff;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.3;
            max-width: 330px;
        }
    }
    &.centered {
        .landing-section__title {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 60px;
        }
        .features-section__list-item {
            padding-left: 15px;
            padding-right: 15px;
        }
        .features-section__item-image {
            display: flex;
            justify-content: center;
        }
        .features-section__item-title {
            text-align: center;
        }
    }
    @media (max-width: 1200px) {
        &__list {
            &-item {
                flex: 0 0 50%;
                margin-bottom: 40px;
            }
        }
        &__item {
            &-image {
                margin-bottom: 20px;
            }
            &-title {
                display: block;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
                height: 40px;
                line-height: 28px;
            }
            &-text {
                font-size: 15px;
                line-height: 1.3;
            }
        }
    }
    @media (max-width: 560px) {
        &__list {
            &-item {
                flex: 0 0 100%;
                padding-right: 0;
            }
        }
        
    }
}