.content-section {
  background-color: #455c6f;
  color: white;
  padding: 0 !important;
  .terms--text .content-section__title h2  {
    padding-top: 100px;

  }
  &:nth-child(odd) {
    background-color: #919ea9;
  }

}
.terms--text {
  padding: 100px 200px 50px 100px;
    h1  {
    padding-top: 50px;
  }
  strong {
    color: #FFFFFF;
  }
  h2 {
    background: #ffffff;
    border-radius: 10px;
    color: #455c6f;
    text-align: center;
    font-size: 36px;
    padding: 20px;
    margin: 20px 0;

  }
  h3 {
    padding: 20px 0;
    font-size: 24px;

  }
  p {
    text-align: justify;
      }
  ul li {
    text-align: justify;
  }
  td {
    padding: 5px;
  }
  .privacy__list {
    padding: 10px;
    li {
      padding: 5px;
    }
  }
}

@media screen and (max-width: 768px){
  .terms--text {
    padding: 30px 60px 50px 30px;

    h1  {
      padding-top: 0;
      text-align: center;
    }

}
}
@media screen and (max-width: 767px) {
  .terms--text {
    padding: 30px 15px 50px 15px;
    h1 {
      padding-top: 30px;
      font-size: 30px;
    }
    h2 {
      font-size: 25px;
    }
  }
}
