.chelation_page__under-text{
    background:rgb(51,67,82);
}
.benefits__block{
    width: 100%;
}
.benefits_title-text{
    color:#fff;
    font-size:24px;
    font-weight: 300;
    margin-top: 20px;
}
.benefits__block_title{
    margin-top: 50px;
    margin-left: 30px;
}
.benefits_discription{
    width: 100%;
    color:#fff;
    font-style: italic;
    padding-left: 30px;
    padding-right:30px;
    p{
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
    }
}
.statistics_title {
    span {
        font-weight: 100;
    }
}
.statistics_item-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    padding-right: 10px;
}
.statistics_item-text{
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
}
.benefits__blocks_statistics{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
    .statistics_flex{
        width: 25%;
       justify-content: space-between;
        padding: 30px;
        .statistics_item{
            color:#fff;
            margin-top:30px;
        }
    }
    .statistics_title{
         font-size: 6rem;
         color:rgb(108,233,241);
         img{
             width: 2.2rem;
         }
    }

}

.benefits_discription__footer {
    font-size: 24px; 
    font-weight: 300;
    line-height: 27px;
    padding-bottom: 20px;
}

@media(max-width: 1200px) {
    .benefits_discription__footer {
        font-size: 18px;
        line-height: 22px;
    }
}

  @media screen and (max-width: 1000px) {
    .benefits__blocks_statistics .statistics_flex{
        width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .benefits__blocks_statistics .statistics_flex{
        width: 100%;text-align: center;
    }
  }
  
@media(max-width: 560px) {
    .benefits_discription__footer {
        font-size: 16px;
        line-height: 20px;
    }
}