$color-blue: #455C6F;
$color-blue-1: #344654;
$color-blue-2: rgba(69, 92, 111, 0.9);
$color-blue-3: #1B242C;
$color-blue-4: #1A242C;

$color-light-blue: #6EF1F9;

$color-white: #fff;
$color-white-1: rgba(255, 255, 255, 0.3);
$color-white-2: rgba(255, 255, 255, 0.4);
$color-white-3: rgba(255, 255, 255, 0.2);
$color-white-4: rgba(255, 255, 255, 0.5);


$box-shadow: 0px 5px 20px rgba(34, 45, 54, 0.3);
$box-shadow-1: 0px 0px 12px rgba(0, 0, 0, 0.1);

$transition-speed: 0.4s;

.not-user-select {
  user-select: none;
}

@import "fonts";
@import "mixin";
@import "variables";
@import "general";
@import "share";

@import "preloader";
@import "home";
@import "terms";
@import "footer";
@import "peptides";
@import "vitamin";

@import "media";
@import "components/buttons.scss";
@import "components/landing-banner";
@import "components/common.scss";
@import "landing";
@import "plateletRichPlasmaPrpTherapy";
@import "blog";
@import "insurance";
@import "sections";
@import "autoimmune-disease";
@import "new";
@import "chelation-therapy";
@import "admin/index";

.executive-physical__first-section {
  padding: 0 !important;
  .iframe-wrapper {
    padding:56.25% 0 0 0;
    position:relative;
  }
  @media(max-width: 1366px) {
    .iframe-wrapper {
      padding-top: 100vh !important;
    }
    iframe {
      width: 134% !important;
    }
  }
  @media(max-width: 991px) {
    padding-top: 32px !important;
    .iframe-wrapper {
      padding-top: 56.25% !important;
    }
    iframe {
      width: 100% !important;
    }
  }
}

.btn-video-play-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  .btn-video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 90px;
    // height: 90px;
    // background-color: red;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
  }
}

.overflow-hidden {
  overflow: hidden;
}

@media(max-width: 1024px) {
  .btn-video-play-wrapper {
    height: 100%;
    svg {
      width: 55px;
    }
  }
}
@media(max-width: 480px) {
  .popUp.form-contact-us form {
    width: 94%;
  }
  .form-group {
    margin-bottom: 30px;
  }
  .btn__send {
    padding: 10px 20px;
  }
}