<template>
    <div class="form-group">
        <textarea
            ref="input"
            class="text-input"
            :placeholder="label"
            @input="$emit('input', $event.target.value);"
            :required='required'
            :value="value"></textarea>
        <label
          :class="{'float' : this.value.length > 0}"
          @click.stop.prevent="focus()"
          v-if="label"
          v-text="label"></label>
    </div>
</template>
<script>
export default {
  name: 'textarea-input',
  methods: {
    focus() {
      this.$refs.input.focus();
    }
  },
  props: {
    type: {
      default: 'text',
      type: String
    },
    value: {
      required: true,
      type: String
    },
    required : {
      type: String,
      default : 'false'
    },
    label: {
      required: false,
      type: String
    }
  }
};
</script>
