<template>
  <div :class="[{ 'page-scrolled': this.$store.state.scrolled}, `page-${$route.name}`]">
    <transition :name="transitionName">
    <nuxt />
    </transition>

    <transition name="fade">
      <PreloaderBlock v-if="!load" />
    </transition>
  </div>
</template>

<script>
import PreloaderBlock from "@/components/general/preloader"
export default {
  components: {
    PreloaderBlock
  },
  data: () => ({
    transitionName: null,
    load: false
  }),
  mounted() {
    setTimeout(() => {
      this.load = true
    }, 200);
    this.setWindowWidth()
    window.addEventListener('scroll', () => {
      // console.log('scrolling')
      this.windowScrolled()
    });
    
    window.addEventListener('resize', () => {
      this.setWindowWidth()
    })
  },
  methods: {
    setWindowWidth() {
      this.$store.state.windowWidth = window.innerWidth
    },
    windowScrolled() {
      this.$store.state.scrolled = window.scrollY > 0;
    }
  },
  watch: {
    $route(to, from) {
      const toDepth = to.path.split('/').length
      const fromDepth = from.path.split('/').length
      this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'

      window.scrollTo(0, 0)
    }
  }
}
</script>

<style lang="scss">
.slide-right-enter-active, .slide-right-leave-active {
  transition: .7s;
}
.slide-right-enter, .slide-right-leave-to {
  opacity: .8;
  // transform: translateX(-100%);
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: .7s;
}
.slide-left-enter, .slide-left-leave-to {
  opacity: .8;
  // transform: scale(.9);
  // transform: translateX(100%);
}
</style>