<template>
  <div>
    <AppHeader @openpopup="openPopUp" />
    <slot />
    <AppFooter/>
    <transition name="fade">
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
    </transition>
  </div>
</template>

<script>
import AppHeader from '@/components/general/Header'
import AppFooter from '@/components/general/Footer'
import ContactUs from "@/components/modals/ContactUs";
export default {
    name: 'LayoutMain',
    components: {
        AppHeader,
        AppFooter,
        ContactUs
    },
    data: () => ({
        isPopUpOpen: false,
    }),
    methods: {
        openPopUp() {
            this.isPopUpOpen = true;
        },
        closePopUp() {
            this.isPopUpOpen = false;
        },
    },
}
</script>