<template>
  <div>
    <AppHeader @openpopup="openPopUp" />

    <div v-if="showFullPage" :class="{'fullpage-off': opts.disabled}">
        <ul class="fullpage-menu" v-show="showFullPageMenu">
            <li class="fullpage-menu__item" :class="{'active': seletedIndexSection === i+1}" :data-menuanchor="`page${i+1}`" @click="moveToSection(i+1)" v-for="(anchor, i) in anchors" :key="i">
                <span class="fullpage-menu__title">{{anchor}}</span>
            </li>
        </ul>
        <no-ssr>
        <full-page :options="opts" class="section-scroll-icon flexScroll" ref="fullpage" id="fullpage" @leave="test(i)">
            <slot />
            <AppFooter/>
        </full-page>
        </no-ssr>
    </div>

    <div v-else>
        <slot />
        <AppFooter/>
    </div>
    
    <transition name="fade">
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp" />
    </transition>
  </div>
</template>

<script>
import AppHeader from '@/components/general/Header'
import AppFooter from '@/components/general/Footer'
import ContactUs from "@/components/modals/ContactUs";

import {mapState} from 'vuex'
export default {
    name: 'LayoutMainFullPage',
    components: {
        AppHeader,
        AppFooter,
        ContactUs
    },
    props: {
        anchors: {
            type: Array,
            default: () => []
        },
        anchorsHideIndices: {
            type: Array,
            default: () => []
        }
    },
    data: () => ({
        scrolled: false,
        isPopUpOpen: false,
        seletedIndexSection: 1,
        api: null,
        opts: {
            start: 0,
            dir: 'v',
            duration: 500,
            disabled: false,
            scrollingSpeed: 1500,
            responsiveWidth: 769
        },
        pageLoad: false,
        mounted: false,
        showFullPageMenu: true
    }),
    methods: {
        afterLoad(anchorLink, index) {
            this.scrolled = index.isLast;
        },
        openPopUp() {
            this.isPopUpOpen = true;
        },
        closePopUp() {
            this.isPopUpOpen = false;
        },
        moveToSection(i) {
            this.seletedIndexSection = i
            this.api.moveTo(i)
        },
        setActiveIndex(i) {
            if (this.api) {
                this.seletedIndexSection = this.api.getActiveSection().index + 1
            }
        }
    },
    computed: {
        ...mapState({
            windowWidth: state => state.windowWidth
        }),
        showFullPage() {
            return this.windowWidth > 992 && this.mounted
        }
    },
    watch: {
        windowWidth: {
            immediate: true,
            handler() {
                if (this.windowWidth > 992) {
                    this.opts.disabled = false
                } else {
                    this.opts.disabled = true
                }
                this.pageLoad = true
            }
        },
        seletedIndexSection: {
            immediate: true,
            handler() {
                console.log('index', this.seletedIndexSection)
                this.showFullPageMenu = !this.anchorsHideIndices.some(el => this.seletedIndexSection == el)
            }
        }
    },
    mounted() {
        this.mounted = true

        setTimeout(() => {
            if(!this.showFullPage) {
                return
            }
            this.api = this.$refs.fullpage.api
            document.addEventListener("wheel", () => this.setActiveIndex())
        }, 100)
    },
    beforeDestroy() {
        if(!this.showFullPage) {
            return
        }
        if (this.api) {
            this.api.destroy()
        }
        document.removeEventListener("wheel", () => this.setActiveIndex())
    }
}
</script>