<template>
  <div>
    <MainHeader @openpopup="openPopUp"/>
    <div class="conditions-treats">
      <div class="blog-post-container">
        <div class="section-block blog-post__wrapper">
          <h1 class="blog-post__title">{{blogInfo.name}}</h1>
          <div class="blog-post__image">
            <img :src="apiURL+blogInfo.media">
          </div>
          <div class="blog-post__text-block">
            <p v-html="blogInfo.article"></p>
          </div>
        </div>
      </div>
    </div>
    <AppFooter/>
    <div class="js-md"></div>
    <div class="js-xs"></div>
    <div class="js-lg"></div>
    <div class="js-sm"></div>
    <div class="js-xl"></div>
  </div>

</template>

<script>
  import {apiURL} from '@/helpers/config';
  import axios from 'axios';
  
  import MainHeader from "@/components/general/Header";
  import AppFooter from "@/components/general/Footer";

  const capitalize = (s) => {
    if (typeof s !== 'string') return ''
    return s.charAt(0).toUpperCase() + s.slice(1)
  }

  export default {
    name: 'Id',
    components: {
      MainHeader,
      AppFooter
    },
    /* async fetch () {
      let result = axios({
        method: 'get',
        url: 'https://cors-anywhere.herokuapp.com/' + apiURL + '/api/public/blog/' + this.$route.params.id,
      }).then(response => {
          let blog = response.data;
          this.blogInfo.id = blog.id;
          this.blogInfo.name = blog.name;
          this.blogInfo.article = blog.article;
          this.blogInfo.article_url = blog.article_url;
          this.blogInfo.media = blog.media;
          this.blogInfo.meta_title = blog.meta_title;
          this.blogInfo.meta_description = blog.meta_description;
          this.blogInfo.meta_keywords = blog.meta_keywords;
        }).catch(err => {
          console.log(err)
        })
      await result
    },
    fetchOnServer: false, */
    head () {
      if(this.$route.params.id === '8-ways-to-prevent-the-cold-and-flu-naturally') {
        return {
          title: 'CoronaVirus Scare! How to Boost Immunity',
          meta: [
            { vmid: 'name', name: 'robots', content: 'index' },
            { vmid: 'description', name: 'description', content: 'CoronaVirus Scare! How to Boost Immunity' },
            { vmid: 'keywords', name: 'keywords', content: 'CoronaVirus Scare! How to Boost Immunity' },
          ]
        }
      }
      if(this.$route.params.id === 'coronavirus-scare!-how-to-boost-immunity') {
        return {
          title: '8 Ways to Prevent the Cold and Flu Naturally',
          meta: [
            { vmid: 'name', name: 'robots', content: 'index' },
            { vmid: 'description', name: 'description', content: '8 Ways to Prevent the Cold and Flu Naturally' },
            { vmid: 'keywords', name: 'keywords', content: '8 Ways to Prevent the Cold and Flu Naturally' },
          ]
        }
      }
      /* return {
        title: this.blogInfo && this.blogInfo.meta_title || capitalize(this.$route.params.id.replace(/-/g, ' ')),
        meta: [
          { vmid: 'name', name: 'robots', content: 'index' },
          { vmid: 'description', name: 'description', content: this.blogInfo && this.blogInfo.meta_description || '' },
          { vmid: 'keywords', name: 'keywords', content: this.blogInfo && this.blogInfo.meta_keywords || '' },
        ]
      } */
    },
    data: () => ({
      apiURL: apiURL,
      isSubscription: false,
      blogInfo: {
        id: '',
        article_url: '',
        name: '',
        media: '',
        nameError: false,
        mediaError: false,
        article: '',
        published: false,
        articleError: false,
        meta_keywords: '',
        meta_title: '',
        meta_description: '',
      }
    }),
    methods: {
      openPopUp() {
        this.isPopUpOpen = true;
      },
      closePopUp() {
        this.isPopUpOpen = false;
      },
      getBlog() {
        axios({
          method: 'get',
          url: 'https://cors-anywhere.herokuapp.com/' + apiURL + '/api/public/blog/' + this.$route.params.id,
        })
        .then(response => {
          let blog = response.data;
          this.blogInfo.id = blog.id;
          this.blogInfo.name = blog.name;
          this.blogInfo.article = blog.article;
          this.blogInfo.article_url = blog.article_url;
          this.blogInfo.media = blog.media;
          this.blogInfo.meta_title = blog.meta_title;
          this.blogInfo.meta_description = blog.meta_description;
          this.blogInfo.meta_keywords = blog.meta_keywords;
        }).catch(err => {
          console.log(err)
        })
      },
      emailValid() {
        this.isValid = this.isEmailValid();
        this.isValid = (this.userEmail.length == 0) ? true : this.isValid
      },
      isEmailValid() {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.userEmail);
      },
    },
    created() {
      this.getBlog()
    }
  }
</script>


