<template>
  <div>
    <MainHeader @openpopup="openPopUp"/>

    <section class="section blog__ss">
      <div class="blog__service blog__container" v-if="loaded">
        <h3>Blogs</h3>
        <div class="sections">
          <div v-for="(node, i) in blogList" :key="node.message" class="service"
               :class="{even: i % 2, odd: !(i % 2)}">
            <h4 class="service__title">{{ node.name }}</h4>
            <div class="service__video">
              <img class="service__img" :src="apiURL+node.media" alt="Image Post">
              <nuxt-link :to="`/blog/${node.article_url}`" class="blog__button service__button service__button--desc">
                Learn more
              </nuxt-link>
            </div>
            <div class="service__text">
              <p v-html="node.description"></p>
            </div>
            <nuxt-link :to="`/blog/${node.article_url}`" class="blog__button service__button service__button--mob">Learn more</nuxt-link>
          </div>
        </div>
      </div>

      <transition name="fade">
        <PreloaderBlock v-if="!loaded" />
      </transition>
    </section>

    <AppFooter/>

    <div v-if="isSuccsesAlert" class="popUp succsesAlert">
      <div class="popUp__wrapper animated">
        <div class="popUp__header">
          <h2>Thank You</h2>
        </div>
        <div class="popUp__body">
          <p>Thanks for your submission. We will contact you soon.</p>
        </div>
      </div>
    </div>
    <div class="js-md"></div>
    <div class="js-xs"></div>
    <div class="js-lg"></div>
    <div class="js-sm"></div>
    <div class="js-xl"></div>
  </div>
</template>
<script>
  import {apiURL} from "@/helpers/config";
  import axios from "axios";
  
  import MainHeader from "@/components/general/Header";
  import AppFooter from "@/components/general/Footer";
  import ContactUs from "@/components/modals/ContactUs";

  import PreloaderBlock from "@/components/general/preloader"

  export default {
    name: 'Blog',
    head: {
      title: 'Blog',
      meta: [
        {vmid: 'name', name: 'robots', content: 'index'},
        {vmid: 'description', name: 'description', content: 'Page of posts'},
        {vmid: 'keywords', name: 'keywords', content: 'post, page'},
      ]
    },
    components: {
      ContactUs,
      MainHeader,
      AppFooter,
      PreloaderBlock
    },
    data: () => ({
      apiURL: apiURL,
      isSuccsesAlert: false,
      message: true,
      isPopUpOpen: false,
      blogList: [],
      loaded: false
      
      /* {
        id: '',
        article_url: '',
        name: '',
        description: '',
        media: '',
        nameError: false,
        mediaError: false,
        article: '',
        published: false,
        articleError: false,
        meta_keywords: '',
        meta_title: '',
        meta_description: '',
      } */
    }),
    methods: {
      openPopUp() {
        this.isPopUpOpen = true;
      },
      closePopUp() {
        this.isPopUpOpen = false;
      },
      getBlog() {
        axios({
          method: 'get',
          url: `https://cors-anywhere.herokuapp.com/${apiURL}/api/public/blog-list`,
        })
          .then(response => {
            this.blogList = response.data;
            this.loaded = true
          })
          .catch(error => {
            console.log(error);
            // document.location.replace('/admin/login');
          });
      },
    },
    created() {
      this.getBlog();
    },
  }
</script>
