<template>
  <div class="error-block">
    <alert-triangle-icon></alert-triangle-icon>
    <p class="error-text">{{ errorText }}</p>
  </div>
</template>

<script>
  import {AlertTriangleIcon} from 'vue-feather-icons';

  export default {
    name: 'alert-error',
    components: {AlertTriangleIcon},
    props: ['errorText'],
    data() {
      return {
      }
    },
  }
</script>

<style lang="scss">
  .error-block {
    background: #FE0341;
    border-radius: 3px;
    text-align: left;
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
    svg{
      position: absolute;
      color: #fff;
      width: 24px;
      height: 24px;
      top: 12px;
    }
    .error-text{
      display: inline-block;
      color: #fff;
      font-size: 14px;
      line-height: 18px;
      padding-left: 30px;

    }
  }
</style>
