<template>
    <div>
      <LayoutFullPage :anchors="fullPageAnchors">
        <section class="section about__treatments">
          <div class=" animated slideInLeft">
            <!-- <img class="about__img about__img--mobile" src="/img/about/bg-0.png"/> -->
            <!-- <img class="about__img about__img--tablet" src="/img/about/bg-0.png"/> -->
              <h1 class="title-section about__title first-about-title">Dr. Habib's Personalized Programs and Treatments</h1>
              <!-- <h2 class="title-section about__title">Personalized Programs and Treatments</h2> -->
              <div class="treatments__container">
                <div  v-if="mobile" class="treatments__video--mobile">
                  <iframe src="https://player.vimeo.com/video/299511171?title=0&byline=0&portrait=0&quality=720p"
                    frameborder="0"
                    allow="autoplay; fullscreen"
                    allowfullscreen>
                  </iframe>
                </div>
                <div class="treatments__text about__text">Anyone can enjoy the benefits of Dr. Habib’s integrated and holistic approach of state-of-the-art medicine and complementary treatment methods. Dr. Habib uses the tools of the best in the healing arts to provide precision diagnosis, primarily drug-free treatment and treatment success that far exceeds traditional medicine.
                  <div class="treatments__video">
                    <iframe src="https://player.vimeo.com/video/299511171?title=0&byline=0&portrait=0&quality=720p"
                    frameborder="0"
                    allow="autoplay; fullscreen"
                    allowfullscreen>
                    </iframe>
                </div>
                </div>
              </div>
          </div>
        </section>
        <section class="section about__nhw">
          <div class="about__info animated slideInLeft">
            <img v-if="mobile" class="about__img about__img--mobile" src="/img/about/img_bg_1_mobile.jpg" alt="The Next Health Way"/>
            <img v-if="tabled" class="about__img about__img--tablet" src="/img/about/img_bg_1_tablet.jpg" alt="The Next Health Way"/>
            <h2 class="title-section about__title">The Next Health Way</h2>
            <p class="about__text">Over a decade ago, we identified the need to improve the existing annual physical model. We have travelled extensively to research breakthrough advances. Now, by putting it together and carefully blending all the components into a unique product like nobody else can, we have created the most complete physical with our personal touch. Dramatic improvements in the annual physical allow us to detect disease at a very early stage, but more importantly, to prevent disease.<br><br>These tools were designed to advance longevity by making your DNA biologically younger. This starts with our super programs designed to cleanse, and then rejuvenate your organs. Attention to detail, a personalized physical, restoring cell health, and maintained with custom care; concierge services are all in an effort to achieve your total satisfaction.</p>
          </div>
        </section>
        <section class="section about__aging">
          <div class="about__info">
            <img v-if="mobile"  class="about__img about__img--mobile" src="/img/about/img_bg_2_mobile.jpg" alt="Aging"/>
            <img v-if="tabled" class="about__img about__img--tablet" src="/img/about/img_bg_2_tablet.jpg" alt="Aging"/>
            <h2 class="title-section about__title">Aging</h2>
            <p class="about__text">Most of the common chronic diseases are age-related. Often times they present after age 50. In many cases people can develop problems even sooner because although their date of birth may reflect one age, their actual cell age (DNA telomere) may be greater. This is a pivotal concept about age and disease. Measuring your telomere (DNA age) and identifying how fast you are aging is essential. At Next Health we apply known procedures and protocols that can slow down and even reverse the biological clock.</p>
          </div>
        </section>
        <section class="section about__oh">
          <div class="about__info">
            <img v-if="mobile" class="about__img about__img--mobile" src="/img/about/img_bg_3_mobile.jpg" alt="Optimal Health"/>
            <img v-if="tabled" class="about__img about__img--tablet" src="/img/about/img_bg_3_tablet.png" alt="Optimal Health"/>
            <h2 class="title-section about__title">Optimal Health</h2>
            <h5 class="about__sb-title">Listening is our secret</h5>
            <p class="about__text">If you are part of an executive physical that is sitting at the top, then it’s already old news. 21st century healthcare is too dynamic to only rely on evidence-based medicine. Next Health will surpass the best of the standard of care. You have the opportunity to be part of the revolution in healthcare. Next Health is pioneering what others will copy in 5-10 years.</p>
          </div>
        </section>
        <section class="section about__nhw2">
          <div class="about__info">
            <img v-if="mobile" class="about__img about__img--mobile" src="/img/about/img_bg_5_mobile.jpg" alt="The Next Health Way"/>
            <img v-if="tabled" class="about__img about__img--tablet" src="/img/about/img_bg_5_tablet.jpg" alt="The Next Health Way"/>
            <h2 class="title-section about__title">The Next Health Way</h2>
            <div class="about__nhw-wrapper">
              <div class="about__nhw-text">
                <p>Optimal health incorporates:</p>
              </div>
              <div class="stepsTop">
                <div>01<br><span>Predict</span></div>
                <div>02<br><span>Prevent</span></div>
                <div>03<br><span>Energize</span></div>
              </div>
              <div class="about__nhw-text">
                <p>The Best Health means the maximum performance of every organ system.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="section about__nhs">
          <div class="about__info">
            <img v-if="mobile" class="about__img about__img--mobile" src="/img/about/img_bg_4_mobile.jpg" alt="The Next Health Stats"/>
            <img v-if="tabled" class="about__img about__img--tablet" src="/img/about/img_bg_4_tablet.png" alt="The Next Health Stats"/>
            <h2 class="title-section about__title">The Next Health Stats</h2>
            <div class="about__stats-wrapper">
              <div class="about__state animated">
                <div class="about__state-img"><img src="/img/about/1.svg" alt="First clinic in the Northeast to еoffer the Telomere blood test"/>
                </div>
                <div class="about__state-text">First clinic in the Northeast to offer the Telomere blood test</div>
              </div>
              <div class="about__state animated">
                <div class="about__state-img"><img src="/img/about/2.svg" alt="50 Executive program members"/>
                </div>
                <div class="about__state-text">50 Executive program members</div>
              </div>
              <div class="about__state animated">
                <div class="about__state-img"><img src="/img/about/3.svg" alt="32 Cases of fatty liver disease havebeen cured"/>
                </div>
                <div class="about__state-text">32 Cases of fatty liver disease havebeen cured</div>
              </div>
              <div class="about__state animated">
                <div class="about__state-img"><img src="/img/about/4.svg" alt="44 Chronic mono cases that have been cure through vitamin therapy"/>
                </div>
                <div class="about__state-text">44 Chronic mono cases that have been cure through vitamin therapy</div>
              </div>
            </div>
          </div>
        </section>
      </LayoutFullPage>

      <div v-if="isSuccsesAlert" class="popUp succsesAlert">
        <div class="popUp__wrapper animated">
          <div class="popUp__header">
            <h2>Thank You</h2>
          </div>
          <div class="popUp__body">
            <p>Thanks for your submission. We will contact you soon.</p>
          </div>
        </div>
      </div>
      <div class="js-md"></div>
      <div class="js-xs"></div>
      <div class="js-lg"></div>
      <div class="js-sm"></div>
      <div class="js-xl"></div>
    </div>
</template>

<script>
import LayoutFullPage from "@/layouts/MainFullPage";

  export default {
    name: 'about',
    components: {
      LayoutFullPage
    },
    head: {
      title: "Learn About Dr. Habib: A Holistic Approach To Modern Medicine | NextHealth",
      meta: [
        { vmid: 'name', name: 'robots', content: 'index' },
        { vmid: 'description', name: 'description', content: 'Next Health takes a hybrid holistic approach to modern medicine and offers preventitive care. Learn more about Dr. Habib\'s aproach to medicine here.' },
      ],
      link: [
        {rel: 'canonical', href: 'https://www.nexthealthmed.com/about'}
      ]
    },
    data: () => ({
      fullPageAnchors: ['Personalized Programs and Treatments', 'The Next Health Way', 'Aging', 'Optimal Health', 'The Next Health Way', 'The Next Health Stats'],
      isSuccsesAlert: false,
      scrolled: false,
      windowWidth: 0
    }),
    methods: {
      calcScreenWidth() {
        this.windowWidth = window.innerWidth
      }
    },
    mounted() {
      this.calcScreenWidth()
      window.addEventListener('resize', (event) => {
        this.calcScreenWidth()
      });
    },
    computed: {
      tabled() {
        return this.windowWidth > 768 && this.windowWidth < 993
      },
      mobile() {
        return this.windowWidth <= 768
      }
    },
}
</script>
