<template>
  <div style="background: #1A242C">
    <LayoutMain>
      <div id="landing">
        <section class="main-banner Header__overview">
          <h1 class="Header__title">
            Alternative Medicine <br />Naturopathic Doctor
          </h1>
          <h2 class="Header__subtitle">Predict, Prevent & Reverse Disease. Prolong Life.</h2>
          <a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>
        </section>
        <div class="container-big Tabs__container">
          <div class="Tabs__wrapper">
            <div class="Tabs js-Tabs">
              <button
                @click="selectTab(0,'.sw1')"
                :class="{'tns-nav-active': sel_sw1.value === 0}"
                class="Tab js-Tab"
              >
                <span class="Tab__text">We Rethink Medicine</span>
              </button>
              <button
                @click="selectTab(1,'.sw1')"
                :class="{'tns-nav-active': sel_sw1.value === 1}"
                class="Tab js-Tab"
              >
                <span class="Tab__text">We Spend Time With You</span>
              </button>
              <button
                @click="selectTab(2,'.sw1')"
                :class="{'tns-nav-active': sel_sw1.value === 2}"
                class="Tab js-Tab"
              >
                <span class="Tab__text">Individualized Medicine</span>
              </button>
            </div>
            <div class="Tab__active js-Tab__active"></div>
          </div>
        </div>
        <div class="Tabs__slider-wrapper">
          <div class="BG"></div>
          <div class="Tabs__slider js-Tabs__slider">
            <no-ssr>
            <swiper :options="swiperOption2" class="sw1">
              <swiper-slide>
                <div class="Tabs__slide">
                  <div class="container">
                    <div class="Tabs__slide-inner">
                      <div class="Video__wrapper">
                        <iframe
                          src="https://player.vimeo.com/video/362469486?title=0&byline=0&portrait=0&autoplay=0"
                          frameborder="0"
                          allow="autoplay; fullscreen"
                          width="720"
                          height="405"
                          allowfullscreen
                          class="Video"
                        ></iframe>
                      </div>
                      <div class="BookNowBlock">
                        <div
                          class="BookNowBlock__description BookNowBlock__description1"
                        >If you’re frustrated by rushed doctor visits and feel like your physician just isn’t hearing you, you’re not alone. Unfortunately, conventional medicine has largely evolved into a one-size-fits-all approach. Many doctors today send you down a medical pathway that begins with a “standard workup” based on what they determine is your “primary complaint.”</div>
                        <!--<a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>-->
                      </div>
                    </div>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="Tabs__slide">
                  <div class="container">
                    <div class="Tabs__slide-inner">
                      <div class="Video__wrapper">
                        <iframe
                          src="https://player.vimeo.com/video/362468039?title=0&byline=0&portrait=0&autoplay=0"
                          frameborder="0"
                          allow="autoplay; fullscreen"
                          width="720"
                          height="405"
                          allowfullscreen
                          class="Video"
                        ></iframe>
                      </div>
                      <div class="BookNowBlock">
                        <div
                          class="BookNowBlock__description"
                        >Facing extreme pressure and time constraints, too many doctors today can’t or won’t take the time to dig deep and get to the root of your health issues. Yet, it’s difficult if not impossible to make a thorough assessment in what constitutes a standard doctor’s visit today. Is it any wonder, then, that so many patients feel ignored and confused? At Next Health, we approach medicine differently. We combine naturopathic, functional, and integrative medicine to find a comprehensive solution tailored to your specific needs.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div class="Tabs__slide">
                  <div class="container">
                    <div class="Tabs__slide-inner">
                      <div class="Video__wrapper">
                        <iframe
                          src="https://player.vimeo.com/video/362469171?title=0&byline=0&portrait=0&autoplay=0"
                          frameborder="0"
                          allow="autoplay; fullscreen"
                          width="720"
                          height="405"
                          allowfullscreen
                          class="Video"
                        ></iframe>
                      </div>
                      <div class="BookNowBlock">
                        <div
                          class="BookNowBlock__description BookNowBlock__description3"
                        >We believe in individualized medicine, because we know each patient is unique with his or her own specific needs. Our goal is to partner with you and guide you through every step of your health journey. You deserve to live well and thrive. Our integrative approach combines the best of both worlds modern tools and technology and the wisdom of holistic medicine—to create an effective alternative healthcare approach that respects your whole being.</div>
                        <!--<a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>-->
                      </div>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </swiper>
            </no-ssr>
            <div class="Arrows Tabs__arrows">
              <button @click="prevSlide('.sw1')" class="Arrow Arrow--left js-Tabs__arrow--left">
                <img src="/svg/arrow--left.svg" alt="Left" width="8" height="14" />
              </button>
              <button @click="nextSlide('.sw1')" class="Arrow Arrow--left js-Tabs__arrow--right">
                <img src="/svg/arrow--right.svg" alt="Right" width="8" height="14" />
              </button>
            </div>
            <a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>
          </div>
        </div>
        <div class="container">
          <div class="ScheduleAnAppointmentToday">
            <h2
              class="ScheduleAnAppointmentToday__title BookNowBlock__title"
            >Schedule an Appointment Today</h2>
            <p class="ScheduleAnAppointmentToday__description">
              Call us at
              <a href="tel:(703)724-4000">(703) 724-4000</a> to schedule an appointment or book now and start down the path to optimal health and wellness.
            </p>
          </div>
        </div>
        <div class="OurApproach__wrapper">
          <div class="BG"></div>
          <div class="container">
            <div class="BookNowBlock__title">Our Approach</div>
            <div class="OurApproach">
              <div class="BookNowBlock">
                <div
                  class="BookNowBlock__description"
                >Unlike natural medicine, which takes a holistic view of the body, conventional medicine is highly specialized. This leads to hyper-focused attention on individual organs and bodily systems instead of the whole person. Dr. Habib and his team at Next Health recognize the need to improve the annual physical model and preventive medicine in general. We provide exceptional alternative medicine services to patients throughout Maryland and Virginia. We have extensively researched breakthrough advances in medicine and created a blend of medical approaches that allow us to detect disease at a very early stage, and more importantly, to prevent disease.</div>
                <a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>
              </div>
              <div class="Video__wrapper">
                <iframe
                  src="https://player.vimeo.com/video/368440548?title=0&byline=0&portrait=0&autoplay=0"
                  frameborder="0"
                  allow="autoplay; fullscreen"
                  width="720"
                  height="405"
                  allowfullscreen
                  class="Video"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="TheNextHealthWay__wrapper">
          <div class="BG"></div>
          <div class="container">
            <div class="BookNowBlock__title">The Next Health Way</div>
            <div class="TheNextHealthWay">
              <div class="Video__wrapper">
                <iframe
                  src="https://player.vimeo.com/video/299511171?title=0&byline=0&portrait=0&autoplay=0"
                  frameborder="0"
                  allow="autoplay; fullscreen"
                  width="720"
                  height="405"
                  allowfullscreen
                  class="Video"
                ></iframe>
              </div>
              <div class="BookNowBlock">
                <div
                  class="BookNowBlock__description"
                >Harmful signals, such as inflammation, trigger the expression of most chronic diseases years in advance. Today, too many people are aging prematurely. This leads to common diseases that used to be related mostly or exclusively to people of advanced age. Using DNA analysis, we seek out, halt, and then reverse harmful processes. People of all ages can enjoy the benefits of Dr. Habib’s integrated and holistic approach and complementary treatment methods. Dr. Habib uses the best tools at his disposal to provide precision diagnosis, primarily drug-free treatment, and outcomes that far exceed conventional medicine.</div>
                <a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="Blot">
          <div class="BG"></div>
          <div class="OurStrategy">
            <h2 class="OurStrategy__title BookNowBlock__title">Our Strategy</h2>
            <div class="OurStrategy__road-bar"></div>
            <div class="container OurStrategySlider__wrapper">
              <div class="OurStrategySlider js-OurStrategySlider">
                <no-ssr>
                <swiper :options="swiperOptionOutStrategy" class="sw2">
                  <swiper-slide>
                    <div class="OurStrategySlide">
                      <div class="OurStrategySlide__number">01</div>
                      <div class="OurStrategySlide__title">Get to know you.</div>
                      <div
                        class="OurStrategySlide__description"
                      >We start by getting to know you and understanding your personal and family medical histories and your health concerns and goals. We take time with our patients-an hour per visit, on average-because we know that only with a thorough assessment can we build an effective treatment plan.</div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="OurStrategySlide">
                      <div class="OurStrategySlide__number">02</div>
                      <div class="OurStrategySlide__title">Use advanced technology and labs.</div>
                      <div
                        class="OurStrategySlide__description"
                      >We take an integrated medical approach, using conventional (allopathic) technologies and lab tests when needed. These tools can help reveal issues like inflammation and improper organ function, which can help Dr. Habib devise a tailored plan for your needs.</div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="OurStrategySlide">
                      <div class="OurStrategySlide__number">03</div>
                      <div class="OurStrategySlide__title">Build a detailed health plan.</div>
                      <div
                        class="OurStrategySlide__description"
                      >Next, we take all the information we gather during your consultation and from your lab results to develop a comprehensive treatment plan and/or prevention strategy, based on your specific needs.</div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="OurStrategySlide">
                      <div class="OurStrategySlide__number">04</div>
                      <div class="OurStrategySlide__title">Get to know you.</div>
                      <div
                        class="OurStrategySlide__description"
                      >We start by getting to know you and understanding your personal and family medical histories and your health concerns and goals. We take time with our patients-an hour per visit, on average-because we know that only with a thorough assessment can we build an effective treatment plan.</div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="OurStrategySlide">
                      <div class="OurStrategySlide__number">05</div>
                      <div class="OurStrategySlide__title">Use advanced technology and labs.</div>
                      <div
                        class="OurStrategySlide__description"
                      >We take an integrated medical approach, using conventional (allopathic) technologies and lab tests when needed. These tools can help reveal issues like inflammation and improper organ function, which can help Dr. Habib devise a tailored plan for your needs.</div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="OurStrategySlide">
                      <div class="OurStrategySlide__number">06</div>
                      <div class="OurStrategySlide__title">Build a detailed health plan.</div>
                      <div
                        class="OurStrategySlide__description"
                      >Next, we take all the information we gather during your consultation and from your lab results to develop a comprehensive treatment plan and/or prevention strategy, based on your specific needs.</div>
                    </div>
                  </swiper-slide>
                </swiper>
                </no-ssr>
                <div class="Arrows Tabs__arrows">
                  <button @click="prevSlide('.sw2')" class="Arrow Arrow--left js-Tabs__arrow--left">
                    <img src="/svg/arrow--left.svg" alt="Left" width="8" height="14" />
                  </button>
                  <button @click="nextSlide('.sw2')" class="Arrow Arrow--left js-Tabs__arrow--right">
                    <img src="/svg/arrow--right.svg" alt="Right" width="8" height="14" />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="TypesOfMedicineWePractice">
            <div class="container">
              <h2
                class="TypesOfMedicineWePractice__title BookNowBlock__title"
              >Types of Medicine We Practice</h2>
            </div>
            <div class="container">
              <div class="TypesOfMedicineWePracticeSlider js-TypesOfMedicineWePracticeSlider">
                <no-ssr>
                <swiper :options="swiperOptionTypesOfMedicineWePractice" class="sw3">
                  <swiper-slide>
                    <div class="TypesOfMedicineWePracticeSlide">
                      <img
                        class="TypesOfMedicineWePracticeSlide__img"
                        src="/svg/peel_icon.svg"
                        alt="Naturopathic Medicine"
                        width="228"
                        height="228"
                      />
                      <div class="TypesOfMedicineWePracticeSlide__title">Naturopathic Medicine</div>
                      <div
                        class="TypesOfMedicineWePracticeSlide__description"
                      >This medical approach uses traditional therapies that emphasize the body’s natural ability to heal. A combination of dietary and lifestyle changes, herbs and supplements, practitioner-guided detoxification, stress reduction techniques, manipulative therapies (chiropractic and osteopathy), and exercise therapy is used to promote health and treat illness.</div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="TypesOfMedicineWePracticeSlide">
                      <img
                        class="TypesOfMedicineWePracticeSlide__img"
                        src="/svg/pulse_icon.svg"
                        alt="Integrative Medicine"
                        width="228"
                        height="228"
                      />
                      <div class="TypesOfMedicineWePracticeSlide__title">Integrative Medicine</div>
                      <div
                        class="TypesOfMedicineWePracticeSlide__description"
                      >A patient-centered approach to care, integrative medicine addresses the whole person. This includes a person’s physical, mental, emotional, social, and spiritual needs as well as the environmental influences that impact health. Integrative medicine uses interventions from different scientific disciplines to heal illness and prevent disease, including conventional medicine and treatments.</div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="TypesOfMedicineWePracticeSlide">
                      <img
                        class="TypesOfMedicineWePracticeSlide__img"
                        src="/svg/dna-icon.svg"
                        alt="Functional Medicine"
                        width="228"
                        height="228"
                      />
                      <div class="TypesOfMedicineWePracticeSlide__title">Functional Medicine</div>
                      <div
                        class="TypesOfMedicineWePracticeSlide__description"
                      >This medical approach aims to find the root cause of a disease, not simply treat associated symptoms. Functional medicine doctors evaluate every system in the body to understand the individual, genetic, biochemical, and lifestyle factors that contribute to disease.</div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="TypesOfMedicineWePracticeSlide">
                      <img
                        class="TypesOfMedicineWePracticeSlide__img"
                        src="/svg/cross-icon.svg"
                        alt="Precision Medicine"
                        width="228"
                        height="228"
                      />
                      <div class="TypesOfMedicineWePracticeSlide__title">Precision Medicine</div>
                      <div class="TypesOfMedicineWePracticeSlide__description">
                        A newer medical approach, precision medicine is the opposite of one-size-fits-all medicine.
                        Precision medicine doctors consider a person's genes, environment, and lifestyle to develop treatment and disease prevention strategies. It is individualized medicine at its core.
                      </div>
                    </div>
                  </swiper-slide>
                </swiper>
                </no-ssr>
                <div class="Arrows Tabs__arrows">
                  <button @click="prevSlide('.sw3')" class="Arrow Arrow--left js-Tabs__arrow--left">
                    <img src="/svg/arrow--left.svg" alt="Left" width="8" height="14" />
                  </button>
                  <button @click="nextSlide('.sw3')" class="Arrow Arrow--left js-Tabs__arrow--right">
                    <img src="/svg/arrow--right.svg" alt="Right" width="8" height="14" />
                  </button>
                </div>
              </div>
              <a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>
            </div>
          </div>
          <div class="Testimonials">
            <h2 class="Testimonials__title">Testimonials</h2>
            <div class="container">
              <div class="Video__wrapper" ref="video6">
                <iframe
                  src="https://player.vimeo.com/video/363144450?title=0&byline=0&portrait=0&autoplay=0"
                  frameborder="0"
                  allow="autoplay; fullscreen"
                  width="720"
                  height="405"
                  allowfullscreen
                  class="Video"
                ></iframe>
              </div>
              <div class="Testimonials__inner js-Testimonials__slider">
                <no-ssr>
                <swiper :options="swiperOptionTestimonials" class="sw4">
                  <swiper-slide>
                    <div class="Testimonial__slide">
                      <div class="Testimonial">
                        <img
                          class="Testimonial__avatar"
                          src="/img/landing/photo-1.jpg"
                          alt="Lorem I."
                          width="120"
                          height="120"
                        />
                        <div
                          class="Testimonial__description"
                        >I was referred to Doctor Habib by a friend, who told me that Next Health and the treatments they provide had made huge improvements to her lifestyle. I always thought that she was purely a patient for skincare and energy. After checking out the content Dr. Habib shares online, it prompted me to make an appointment. I have high blood pressure, and I honestly had no way of controlling it for myself. Next Health’s tests are amazing, I felt like they did a deep dive into my body’s wants and needs. I learned what foods inflamed my body, as well as many other things. Dr. Habib placed me on a special program designed for me and only me, and I can with 100% confidence tell you that through the treatment and patient care at Next Health, not only has my blood pressure been controlled, but I feel like a new woman.</div>
                        <div class="Testimonial__signature">Jim B.</div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="Testimonial__slide">
                      <div class="Testimonial">
                        <img
                          class="Testimonial__avatar"
                          src="/img/landing/photo-2.jpg"
                          alt="Lorem I."
                          width="120"
                          height="120"
                        />
                        <div
                          class="Testimonial__description"
                        >I never had the best of luck with my health, being diagnosed with diabetes and having a sweet tooth did not go hand in hand. I honestly felt like my illness was controlling me, and not the other way around. When I came across Dr. Habib I was searching for holistic and natural methods to take ownership of my health. I was tired of feeling tired, I had aches throughout my body, and my family was concerned the most about the risk of stroke. I sat down with Dr. Habib, and even before I did their executive physical, he shared so much insight with me regarding my illness, just that conversation alone had helped me tremendously. I can tell you one thing, that Next Health has changed not only my life but have brought peace of mind to my family. For that, I am forever grateful to Dr. Habib and his staff at Next Health.</div>
                        <div class="Testimonial__signature">Jenny C.</div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="Testimonial__slide">
                      <div class="Testimonial">
                        <img
                          class="Testimonial__avatar"
                          src="/img/landing/photo-3.jpg"
                          alt="Lorem I."
                          width="120"
                          height="120"
                        />
                        <div
                          class="Testimonial__description"
                        >As an older gentleman, I began to experience trouble with intimacy between my wife and I. The issue wasn’t just affecting the bedroom, it was also affecting my marriage and other relationships I had at work and socially. I was overly stressed, and in all honesty, my pride was a tad damaged. I came to Dr. Habib after seeing one of his online videos where he was discussing erectile dysfunction. I immediately booked a consult with him, because I was eager to remediate these issues that were causing huge problems in my life. I can happily say that through Next Health’s treatments and supplementation, things have approved. I’m glad I didn’t have to go down the route of using any prescription medications or over the counter ones. Dr. Habib was able to treat me naturally, and in a way that was good for my life and body.</div>
                        <div class="Testimonial__signature">Dave K.</div>
                      </div>
                    </div>
                  </swiper-slide>
                </swiper>
                </no-ssr>
              </div>
              <div class="Arrows Tabs__arrows">
                <button @click="prevSlide('.sw4')" class="Arrow Arrow--left js-Tabs__arrow--left">
                  <img src="/svg/arrow--left.svg" alt="Left" width="8" height="14" />
                </button>
                <button @click="nextSlide('.sw4')" class="Arrow Arrow--left js-Tabs__arrow--right">
                  <img src="/svg/arrow--right.svg" alt="Right" width="8" height="14" />
                </button>
              </div>
              <a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <transition name="fade">
        <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
      </transition>
    </LayoutMain>
  </div>
</template>

<script>
import LayoutMain from "@/layouts/Main";
import ContactUs from "@/components/modals/ContactUs";
export default {
  name: "LandingPage",
  components: { LayoutMain, ContactUs },
  data() {
    return {
      swiperOptionOutStrategy: {
        slidesPerView: 2,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        opts: {
          start: 0,
          dir: "v",
          loop: false,
          duration: 500
        },
        breakpoints: {
          // when window width is >= 320px
          560: {
            slidesPerView: 1,
            spaceBetween: 20
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 30
          }
          /* // when window width is >= 640px
            768: {
                slidesPerView: 3,
                spaceBetween: 40
            } */
        }
      },
      swiperOptionTypesOfMedicineWePractice: {
        slidesPerView: 2,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        opts: {
          start: 0,
          dir: "v",
          loop: false,
          duration: 500
        },
        breakpoints: {
          560: {
            slidesPerView: 1,
            spaceBetween: 15
          }
        }
      },
      swiperOption2: {
        slidesPerView: 1,
        spaceBetween: 30,
        slidesPerGroup: 1,
        initialSlide: 0,
        simulateTouch: false,
        loop: false,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        opts: {
          start: 0,
          dir: "v",
          loop: false,
          duration: 500
        }
      },
      swiperOptionTestimonials: {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 1,
        initialSlide: 0,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        opts: {
          start: 0,
          dir: "v",
          loop: false,
          duration: 500
        },
        breakpoints: {
          560: {
            slidesPerView: 1,
            spaceBetween: 15
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 15
          }
        }
      },
      sel_sw1: {
        value: 0,
        min: 0,
        max: 2,
        loop: false
      },
      sel_sw2: {
        value: 3,
        min: 2,
        max: 7,
        loop: true
      },
      sel_sw3: {
        value: 1,
        min: 1,
        max: 2,
        loop: true
      },
      videoOn: 1,
      isPopUpOpen: false
    };
  },
  methods: {
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
    selectTab(index, el) {
      const selEl = "sel_" + el.substr(1);
      this[selEl].value = index;
      this.switchSlide(index, el);

      if (index === 0) {
        this.videoOn = 1;
      }
      if (index === 1) {
        this.videoOn = 2;
      }
      if (index === 2) {
        this.videoOn = 3;
      }
    },
    prevSlide(el) {
      const selEl = "sel_" + el.substr(1);

      if (selEl !== "sel_sw1") {
        var mySwiper = document.querySelector(el).swiper;
        mySwiper.slidePrev();
        return;
      }

      if (this[selEl].value != this[selEl].min) {
        this.switchSlide(--this[selEl].value, el);
        this.videoOn = this.videoOn - 1;
      }
    },
    nextSlide(el) {
      const selEl = "sel_" + el.substr(1);

      if (selEl !== "sel_sw1") {
        var mySwiper = document.querySelector(el).swiper;
        mySwiper.slideNext();
        return;
      }

      if (this[selEl].value != this[selEl].max) {
        this.switchSlide(++this[selEl].value, el);
        this.videoOn = this.videoOn + 1;
      }
    },
    switchSlide(index, el) {
      var mySwiper = document.querySelector(el).swiper;
      mySwiper.slideTo(index);
    }
  },
  head: {
    title: "Alternative Medicine and Naturopathic Doctor",
    meta: [
      { vmid: "name", name: "robots", content: "index" },
      {
        vmid: "description",
        name: "description",
        content:
          "Next Health is an alternative medicine provider serving patients throughout Maryland and Virginia. We use integrative medicine techniques and therapeutic approaches from several disciplines, including functional, precision, and natural medicine."
      }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/alternative-medicine'}
    ]
  }
};
</script>

