<template>
  <LayoutsMain>
    <div class="autoimmune-disease">
      <SecBanner
        firstSection
        bgImage
        :title="'Cutting-Edge <br/> Treatment for<br/> Autoimmune<br/> Disease'"
        :buttonText="'Call Now'"
        :buttonLink="'tel:7037244000'"
      />

      <SecBanner
        :title="'About'"
        :description="`
          <p>Having an autoimmune disease can be painful, frustrating, and life-limiting. While the symptoms are different depending on the disease, all autoimmune conditions share one thing in common: the immune system essentially turns on itself.</p>
          <p>When your immune system mistakes part of your body—like your bowel or joints—as a foreign invader, it releases autoantibodies to attack healthy cells. This can damage tissues and organs, leading to many of the overlapping symptoms of different autoimmune diseases, including skin problems, fatigue, joint pain and swelling, and abdominal pain or digestive problems.</p>
          <p>The causes of autoimmune diseases are complex and can include a combination of genes and environmental influences. The human body is resilient, but our modern environment and food systems are saturated with chemicals and toxins that overwhelm our bodies. These toxins can damage many layers of our health. That’s why minimizing these exposures is critical.</p>
          <p>Even if you have a family history of autoimmune disease, your genes are not your destiny. Next Health will work with you to create a plan to address the root cause of your autoimmune problems.</p>
        `"
      />

      <SecGridItems
        :title="'Autoimmune Diseases We Treat:'"
        :items="[
          {
            title: 'Lupus',
            description: 'Some autoimmune conditions attack a single organ. Lupus, also called systemic lupus erythematosus, or SLE, causes widespread problems. Lupus can affect the joints, skin, kidneys, blood cells, brain, heart and lungs.'
          }, {
            title: 'Inflammatory bowel disease (IBD)',
            description: 'IBD is a general term for disorders that cause painful inflammation in all or part of the digestive tract, including ulcerative colitis and Crohn’s disease.'
          }, {
            title: 'Psoriatic arthritis',
            description: 'Some people with psoriasis develop psoriatic arthritis, an inflammatory condition that causes joint pain, stiffness, and swelling.'
          }, {
            title: 'Chronic inflammation/leaky gut',
            description: `Chronic inflammation is an underrecognized and undertreated problem. Even low levels of inflammation can
                damage organs. Inflammation, no matter the cause, is the leading risk factor for heart attack.
                Inflammation is strongly linked to immune dysfunction. That is why it’s important to get to the root.`
          }, {
            title: 'Rheumatoid arthritis',
            description: `In rheumatoid arthritis, the joint linings become painfully inflamed and swollen. If left untreated, the
                inflammation can eventually lead to bon e erosion, joint deformity, and, in some people, an enlarged
                spleen.`
          }, {
            title: 'Hypothyroidism (Hashimoto’s disease)',
            description: `People with hyperthyroidism have a thyroid gland that produces too much thyroid hormone (thyroxine).
              Symptoms can include puffy eyes, rapid weight loss, rapid heartbeat, and irritability.`
          }, {
            title: 'Hyperthyroidism (Graves’ disease)',
            description: `People with hyperthyroidism have a thyroid gland that produces too much thyroid hormone (thyroxine).
              Symptoms can include puffy eyes, rapid weight loss, rapid heartbeat, and irritability.`
          }
        ]"
        :buttonText="'Call Now'"
        :buttonLink="'tel:7037244000'"
      />

      <!--   how-treats   -->
      <section class="how-treats autoimmune-disease__section">
        <div class="how-treats__inner autoimmune-disease__inner">
          <h2 class="autoimmune-disease__title">How Next Health Treats Autoimmune Disease</h2>
          <p
            class="how-treats__desctiption"
          >Autoimmune disease is complex, but there are three common triggers. We treat all of them, including:</p>
        </div>
      </section>

      <SecContentAndMedia
        :title="'Inflammatory mediators:'"
        :image="'@/../img/landing/2.webp'"
        :description="`<p>We look for markers of inflammation in your blood to determine if there could be issues with the
          mucosal lining of your gut. This protective barrier prevents bacteria and toxins from escaping your
          intestines and triggering an autoimmune response. When this happens, it’s called “leaky gut”
          syndrome—increased intestinal permeability, leading to a wide range of problems, from allergic
          reactions to food allergies to irritable bowel to rheumatoid arthritis, psoriasis, IBD, and thyroid
          disease.</p>`"
      />
      <SecContentAndMedia
        :title="'Gut dysbiosis:'"
        :image="'@/../img/landing/3.webp'"
        :description="`
          <p>Your intestines are home to trillions of microbes which, collectively, make up your gut microbiome.
          These essential organisms not only help your body digest food, they can also have a profound effect on
          your mood and mental health (via the gut-brain axis). There’s strong research that gut flora imbalance
          (dysbiosis) is linked to a range of health conditions, including autoimmune problems, diabetes, and
          obesity. Next Health will perform an in-depth analysis of your gut microbiome to identify imbalances
          that may be contributing to your autoimmune issues. Then we’ll develop a personalized plan to restore
          balance in your gut with dietary and other lifestyle changes.</p>
        `"
        reverse
      />
      <SecContentAndMedia
        :title="'Immune dysfunction'"
        :image="'@/../img/landing/1.webp'"
        :description="`<p>We use advanced diagnostic tests and tools to look for signs of dysfunction across your entire immune system.</p>`"
      />
      <SecBanner
        :title="'We Practice 3D Medicine'"
        :description="`
          <p>Hyper-specialization in medicine today means too few doctors look at the
            interconnections between bodily
            systems. Next Health approaches medicine differently. Like the layers of an onion, we look at the whole
            body
            to understand how problems with one system could be triggering symptoms with another.</p>
          <p>For example, gut flora imbalances (dysbiosis) can cause depressed mood,
            anxiety, mental fogginess, and other brain-related symptoms.
            That’s because the gut and brain are connected through millions of nerves. In this case, the problem
            affects
            the mind but begins in the gut.</p>
          <p>People with inflammatory diseases like rheumatoid arthritis and psoriasis have
            a greater risk of heart attack, so it’s vital to find and treat the root cause of inflammatory
            conditions.</p>
          <p>Our holistic approach helps us identify the root cause of health problems and
            reverse disease. </p>
        `"
        halfBlock
        bgImage
        :buttonText="'Call Now'"
        :buttonLink="'tel:7037244000'"
      />

      <section class="treating-diabetes autoimmune-disease__section">
        <div class="treating-diabetes__inner autoimmune-disease__inner">
          <h2 class="autoimmune-disease__title">Treating Type 2 Diabetes</h2>
          <p class="treating-diabetes__text">
            Managing type 2 diabetes can be a daily struggle. If your diabetes is
            advanced, you may even have to take oral
            medications or insulin injections.
          </p>
          <p class="treating-diabetes__text">
            The good news is it’s possible to dramatically improve your symptoms and
            even reverse type 2 diabetes with the right care.
          </p>
          <p class="treating-diabetes__text">
            Next Health looks at 3 main factors when treating 
            diabetes:
          </p>
          <ul class="treating-diabetes__list">
            <li class="treating-diabetes__item">
              <h3 class="treating-diabetes__item-title">Genomics:</h3>
              <p class="treating-diabetes__item-text">
                We look for genetic markers of the disease to understand your
                risk.
              </p>
            </li>
            <li class="treating-diabetes__item">
              <h3 class="treating-diabetes__item-title">Metabolic reserves:</h3>
              <p class="treating-diabetes__item-text">
                We evaluate your insulin reserves - in other words, how depleted
                your insulin levels are.
              </p>
            </li>
            <li class="treating-diabetes__item">
              <h3 class="treating-diabetes__item-title">Insulin resistance:</h3>
              <p class="treating-diabetes__item-text">
                We find ways to reverse insulin resistance, a common problem
                affecting millions of people.
              </p>
            </li>
          </ul>
          <p class="treating-diabetes__description">
            We’ve successfully reversed and prevented diabetes in numerous
            patients. Making diet and lifestyle changes is the best way to treat type 2 diabetes. We’ll craft a
            personalized therapeutic plan that works for you.
          </p>

          <div class="attention treating-diabetes__attention">
            <p class="attention__description">
              Call us today at
              <a href="tel:7037244000" class="attention__link-tel">703-724-4000</a> to learn more about our revolutionary
              approach to treating autoimmune disease and to schedule your first appointment with Dr. Habib.
            </p>
          </div>
        </div>
      </section>
    </div>
  </LayoutsMain>
</template>

<script>
// Layouts
import LayoutsMain from "@/layouts/Main";

// Sections
import SecBanner from "@/components/share/sections/Banner";
import SecContentAndMedia from "@/components/share/sections/ContentAndMedia";
import SecGridItems from "@/components/share/sections/GridItems";

export default {
  name: "AutoimmuneDisease",
  head: {
    title: "Autoimmune Disease | NextHealth",
    meta: [{ vmid: "name", name: "robots", content: "index" }],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/autoimmune-disease'}
    ]
  },
  components: {
    LayoutsMain,
    SecBanner,
    SecContentAndMedia,
    SecGridItems
  }
};
</script>

