<template>
  <div class="vitamins-page">

    <MainHeader @openmenu="openMenu" class="header__home hide__contact" style="z-index: 5;"  @modal="showContactUs = true" @openpopup="openPopUp"/>
    <LeftMenu v-if="isMenuOpen" @closed="closeMenu" />

    <!-- <SecBanner
      class="banner"
      firstSection
      bgImage
      container
      reverse
      :image="'/img/video-preview/pre1.jpg'"
      :title="'IV Vitamin Therapy'"
      :description="'Medical Grade IVs & Chelation Therapy'"
      :buttonText="'Book Now'"
      @btnClick="isPopUpOpen = true" /> -->

    <GeneralBlock
      :videoDesktop="'/video/vitamin_new/Desktop_Header.mp4'"
      :videoMobile="'/video/vitamin_new/Mobile_Header.mp4'"
      :title="'Chelation Therapy'"
      :descr="'Next Health Intensive Infusion'"
      :buttonText="'Schelude a free consult'"  
      @modal="isPopUpOpen = true"
    />

    <SecContentAndMedia class="test"
      :title="'What Is Chelation?'"
      :video="'https://player.vimeo.com/video/453705466?title=0&byline=0&portrait=0&controls=false'"
      :list="text"
      :buttonText="'Schedule a free consult'"
      @btnClick="openPopUp()"
    />

    <SecContentAndMedia class="test"
      :title="'Benefits of Chelation Therapy'"
      :video="'https://player.vimeo.com/video/453704704?title=0&byline=0&portrait=0&controls=false'"
       :list="text2"
      :buttonText="'Schedule a free consult'"
      @btnClick="openPopUp()"
      reverse 
    />
  <div class="benefits_discription chelation_page__under-text">
        <p class="benefits_discription__footer">Based on The National Heart, Lung & Blood Institute sponsored the “Trial to Assess Chelation Therapy (TACT).” This was a placebo- controlled, double-blind study with a sample size of 1,708 participants, older than 50, with a history of heart attack.</p>
        <p class="benefits_discription__footer">A new study (TACT 2) is underway.</p>
        <!-- <p style="margin-top:10px;">Schedule a free consultation</p> -->
    </div>

    <SecContentAndMedia class="test"
      :title="'How We are Different'"
      :video="'https://player.vimeo.com/video/453705143?title=0&byline=0&portrait=0&controls=false'"
      :description="'Our Chelation Therapy includes a personalized program that monitors and tracks our patients. Based on monthly lab results, we adjust and modify the intensity of the therapy. We also include additional lab testing to look at your intracellular function.'"
      reverse 
    />

    <SecContentAndMedia class="test"
      :title="'Who is a Good Candidate?'"
      :video="'https://player.vimeo.com/video/453704985?title=0&byline=0&portrait=0&controls=false'"
      :description="'Evaluating the right candidate is based on a thorough lab analysis, which includes tests for heavy metals, diabetes/pre-diabetes, cardiac risk and nutrient and mineral deficiencies.'"
      :buttonText="'Schedule a free consult'"
      @btnClick="openPopUp()" 
    />

    <SecContentAndMedia class="test"
      :title="'What are the Risks of Chelation?'"
      :video="'https://player.vimeo.com/video/453705345?title=0&byline=0&portrait=0&controls=false'"
      description='<b style="margin-bottom: 10px">In good hands, NONE.</b><br/> Standard of care dictates a thorough physical exam: lab data, and other bio metrics. Good preparation before treatments includes hydration, antioxidant therapy and mineral replacement. Good follow-up and monitoring is the key to success.'
      reverse 
    />
    <Testimonials 
      :hasReviews="false"
      :video="'https://www.youtube.com/embed/aLWNB9WdzrE'"
      @modal="showContactUs = true" class="section"
     />
    <div class="benefits_discription chelation_page__under-text" style="background:rgb(39,53,64);">
        <p class="benefits_discription__footer">Chelation is approved by the FDA for treating lead poisoning and iron overload. Disodium EDTA for heart disease has not been approved by the FDA.</p>
        <!-- <p style="margin-top:10px;">Schedule a free consultation</p> -->
    </div>
    
    
    <AppFooter @modal="isPopUpOpen = true" />
    <ContactUs v-if="isPopUpOpen" @closed="isPopUpOpen = false" />
  </div>
</template>
<script>
import MainHeader from '@/components/general/Header';
import LeftMenu from '@/components/general/Menu';
import AppFooter from '@/components/general/Footer';
import ContactUs from '@/components/modals/ContactUs';

import GeneralBlock from '@/components/share/sections/vitamin/GeneralBlock';
import IvMenu from '@/components/share/sections/vitamin/IvMenu';
import HowItWorks from '@/components/share/sections/vitamin/HowItWorks';
import Testimonials from '@/components/share/sections/vitamin/Testimonial';
import Benefits from '@/components/share/sections/Benefits';

import SecBanner from "@/components/share/sections/Banner"
import SecContentAndMedia from "@/components/share/sections/ContentAndMedia"
import SecContentAndMedia2 from "@/components/share/sections/ContentAndMedia2"
import SecFeatures from "@/components/share/sections/Features"
import SecFaq from "@/components/share/sections/Accordion"

export default {
  name: 'chelation-page',
  head: {
    title: "Chelation Therapy - Next Health - Dr. Habib",
    meta: [
      { vmid: "name", name: "robots", content: "index" },
      { vmid: "description", name: "description", content: "Chelation has been a treatment for therapeutic treatment for diabetics to prevent future heart disease." },
      { vmid: "image", name: "image", content: "https://nexthealth.space/meta/image/vitamin-therapy.jpg" }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/iv-vitamin-therapy-new'},
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/iv-vitamin-therapy'}
    ]
  },
  components: {
    MainHeader,
    LeftMenu,
    AppFooter,
    ContactUs,

    //Sections
    SecBanner,
    SecContentAndMedia,
    SecContentAndMedia2,
    SecFeatures,
    SecFaq,
    Benefits,
    GeneralBlock,
    Testimonials,
    IvMenu,
    HowItWorks
  },
  data: () => ({
    isMenuOpen: false,
    isPopUpOpen: false,
    showContactUs: false,
    text:[
  'Chelation therapy is a chemical process in which a synthetic solution—EDTA (ethylenediaminetetraacetic acid)—is injected into the bloodstream to bind to heavy metals in the blood creating a compound which is expelled through urination.',
  'Chelation means "to grab" or "to bind." When EDTA is infused into the veins, it binds to heavy metals and minerals such as lead, mercury, arsenic, aluminum, calcium, and more. After collecting those heavy metals from the blood, it is removed through urination.',
  'Chelation has been a treatment for lead poisoning since 1953, but can also be used as a therapeutic treatment for diabetics to prevent future heart disease.',
  'Heavy metals are neurotoxic which means it can be harmful to neurological function as well as weaken immune function.'
         ],
    text2:[
    'Patients with diabetes had a 41% overall reduction in the risk of any cardiovascular event.',
    'The study showed a 40% reduction in the risk of death from heart disease, nonfatal stroke or nonfatal heart attacks. There was a 52% reduction in recurrent heart attacks.',
    'Those in the study showed a 43% reduction in death from any cause.',
    'They found that chelation + high dose vitamins & minerals produced the greatest reduction in cardiovascular events.'
     ]
  }),
  methods: {
    openMenu() {
      this.isMenuOpen = true;
    },
    closeMenu() {
      this.isMenuOpen = false;
    },
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
  }
}
</script>
