<template>
  
  <div>
    <MainLayout :anchors="fullPageAnchors" :anchorsHideIndices="[5, 8]">

   <GeneralBlock
      :videoDesktop="'/video/Concerige_Desktop.mp4'"
      :videoMobile="'/video/Concerige_Mobile.mp4'"
      :title="'Concierge Medicine'"
      :descr="'Exclusive Memberships For The Select Few'"
      :buttonText="'Schedule Consult'"  
      @modal="isPopUpOpen = true"
    />

    <SecContentAndMedia
      :title="'We are an advanced medical practice'"
      :video="'https://player.vimeo.com/video/435144343?title=0&byline=0&portrait=0&controls=false'"
      :list="[
        'Unmatched level of analysis',
        'Next Health Patented Algorithm',
        'Utilize Latest Medical Technology',
        'Advanced health tracking & monitoring',
        'Virtual care'
      ]" />

    <SecContentAndMedia
      :title="'We Rethink Medicine'"
      :video="'https://player.vimeo.com/video/435144492?title=0&byline=0&portrait=0&controls=false'"
      :list="[
        'See what every doctor sees, but thinks what no other doctor has thought',
        'From 2D to 3D Medicine - Discovering Your Body’s Multiple System & Their Connection Innovating Best Health',
        'Utilize Breakthrough Medical Knowledge',
        'Combine the best of conventional, holistic & alternative treatments'
      ]"
      :buttonText="'Schedule Consult'"
      @btnClick="openPopUp()"
      reverse />

    <SecContentAndMedia
      :title="'Proactive, not Reactive'"
      :video="'https://player.vimeo.com/video/435144420?title=0&byline=0&portrait=0&controls=false'"
      :titleList="'The Next Health Approach:'"
      :list="[
        'Predict: We use the latest technologies to predict your risk for cancer, diabetes, cardiac disease, and other chronic diseases—years in advance.',
        'Prevent: We use cutting-edge technologies and advanced therapies to prevent disease.',
        'Prolong: We prevent and reverse disease by harnessing the full power of your immune system; this can improve your quality of life and lead to greater longevity.',
      ]" />

    <SecTimeline 
      :title="'How It Works:'"
      :items="[
        {
          image: '/img/landing/consult.svg',
          title: 'Consult'
        }, {
          image: '/img/landing/bio.svg',
          title: 'Build Health Bio'
        }, {
          image: '/img/landing/testing.svg',
          title: 'Advanced Testing'
        }, {
          image: '/img/landing/plan.svg',
          title: 'Get A Personalized Health Plan (includes Next Health Supplements & Tech)'
        }, {
          image: '/img/landing/track-health.svg',
          title: 'Track Your Health'
        }, {
          image: '/img/landing/anytime.svg',
          title: 'Message Us Anytime'
        }
      ]"
      :buttonText="'Schedule Consult'"
      @btnClick="openPopUp()" />

    <SecIncludes 
      :title="'Plan Includes:'"
      :items="[
        {
          image: '/img/concierge/icon-5.svg',
          title: 'Messaging 24/7',
          description: 'Ask us anything, our platform gives you full access to our staff at any time.'
        }, {
          image: '/img/concierge/icon-3.svg',
          title: 'Next Health Supplements',
          description: 'We provide the most potent vitamins tailored to what is essential for your health.'
        }, {
          image: '/img/concierge/icon-1.svg',
          title: 'Next Health Tech',
          description: 'At Next Health a comprehensive understanding of your health is achieved using cutting edge technologies.'
        }, {
          image: '/img/concierge/icon-4.svg',
          title: 'Exclusive Advanced Treatments',
          description: 'Using technology that is on the forefront of research we treat every health concern.'
        }, {
          image: '/img/concierge/icon-2.svg',
          title: 'Personalized Health Plan',
          description: 'Our tests cover everything from your diet to your genetic background to make a plan perfect for you.'
        }, {
          image: '/img/concierge/icon.svg',
          title: 'Health Tracking & Monitoring',
          description: 'We use innovative AI computing to keep you informed anywhere at any time.'
        }
      ]" />

    <SecGridItems
      :title="'Targeted Programs:'"
      :items="[
        {
          title: 'Senescence',
          list: ['Autophagy', 'Health Spa']
        }, {
          title: 'Longevity',
          list: ['Increase Telomere Length', 'Reverse Bio Age']
        }, {
          title: 'Regeneration',
          list: ['Platelet Rich Plasma Therapy', 'Stem Cell', 'Peptide Injections']
        }, {
          title: 'Athletic Performance',
          list: ['Increase Nitric Oxide', 'Optimize Cell Fuel']
        }, {
          title: 'Cardiac Health',
          list: ['Advanced Analysis', 'Cutting Edge Therapies', 'Blood Vessel Health', 'Blood Flow']
        }, {
          title: 'Sexual Function',
          list: ['Arousal', 'Blood Flow', 'Orgasim']
        }, {
          title: 'Cancer',
          list: ['DNA Repair', 'Early Detection', 'Prevention ']
        }, {
          title: 'Executive Brain Function',
          list: ['BDNF', 'Increase Voltage', 'Improve Brain Speed', 'TMS Therapy']
        }, {
          title: 'Hormonal',
          list: ['Rebalance', 'Target Immune Therapy']
        }
      ]"
      :buttonText="'Schedule Consult'"
      @btnClick="openPopUp()" />

       <!-- <section class="section executive-physical__packages">
        <div class="section__info">
          <h2 class="title-section executive-physical__title">Testimonials</h2>
          <TabsWithSlider :slides="tabs" />
        </div>
      </section> -->

    <section  class="section testimonials_concierge" style="background-color: #334352;">
      <SwiperCarousel />
    </section>


    <SecFaq
      :title="'FAQ'"
      :items="[
        {
          title: 'Can Dr. Habib be my primary care physician?',
          content: '<p>We are considered a primary care practice, so we treat all conditions that a primary care doctor would. We are not specialists. However, if you need to see an OBGYN, cardiologist, or surgeon, for example, you will be referred appropriately. The costs associated with the services provided by specialists or any other healthcare provider outside of Next Health are not covered by your Next Health membership. Beyond visits, the primary mode of communication with our care team is messaging. We answer quickly during the week (within 24 - 48 hours) and always have a doctor on call to address urgent issues on weekends and holidays. We are often able to take care of acute issues without the need for a visit. A few points to remember about your Next Health membership: 1. We do not take insurance. However, we can provide paperwork for you to submit for out-of-network reimbursement from your insurance. You can also pay for your membership using FSA/HSA dollars. 2. We are not always available for same-day emergency appointments. 3. If you have a medical emergency, we recommend that you visit urgent care or an ER.</p>'
        }, {
          title: 'Is Next Health covered by insurance?',
          content: '<p>We do not accept any form of insurance. Next Health is classified as a primary care practice, but insurance companies don’t recognize our membership/practice model. After each medical visit, a staff member can provide a superbill that you can submit to insurance for out-of-network reimbursement. We do not guarantee any reimbursement. Many members choose to pay for their plans using FSA/HSA dollars.</p>'
        }, {
          title: 'Do I need health insurance if I have a Next Health membership?',
          content: '<p>A Next Health membership does not replace health insurance. We advise all members to maintain a separate health insurance plan of their choosing. </p>'
        }
      ]" />


    
      
    

  </MainLayout>
    <transition name="fade">
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
    </transition>
  </div>
</template>

<script>
// Layouts
import MainLayout from "@/layouts/MainFullPage"

// Sections
import SecBanner from "@/components/share/sections/Banner"
import SecContentAndMedia from "@/components/share/sections/ContentAndMedia"
import SecIncludes from "@/components/share/sections/Includes"
import SecTimeline from "@/components/share/sections/Timeline"
import SecGridItems from "@/components/share/sections/GridItems"
import SecFaq from "@/components/share/sections/Accordion" 
import GeneralBlock from "@/components/share/sections/vitamin/GeneralBlock"
import ContactUs from "@/components/modals/ContactUs"
import TabsWithSlider from "@/components/share/blocks/TabsWithSlider";

import SwiperCarousel from "@/components/share/blocks/SwiperCarousel";
export default {
  name: 'ConciergeMedicine',
  head: {
    title: 'Concierge Medicine | NextHealth',
    meta: [
      { vmid: 'name', name: 'robots', content: 'index' },
      { vmid: 'description', name: 'description', content: 'Next Health takes a hybrid holistic approach to modern medicine and offers preventitive care. Learn more about Dr. Habib\'s aproach to medicine here.' },
    ],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/concierge-medicine'}
    ]
  },
  components: {
    MainLayout,
    SecBanner,
    SecContentAndMedia,
    SecIncludes,
    SecTimeline,
    SecGridItems,
    TabsWithSlider,
    SecFaq,
    GeneralBlock,
    ContactUs,
    SwiperCarousel
  },
  data: () => ({
    fullPageAnchors: [
      'Concierge Medicine',
      'We are an advanced medical practice',
      'We Rethink Medicine',
      'Proactive, not Reactive',
      'How It Works',
      'Plan Includes',
      'Targeted Programs',
      'Testimonials',
      'FAQ'
    ],
    
    isPopUpOpen: false
  }), 
  methods: {
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
  }
}
</script>

