<template>
  <div>
    <LayoutFullPage :anchors="fullPageAnchors" class="executive-physical">

      <section class="section executive-physical__top"> <!-- executive-physical__first-section -->
        <!-- <img class="img-mobile" src="/img/executive-physical/img_bg_1_mobile.jpg" />
        <img class="img-tablet" src="/img/executive-physical/img_bg_1_tablet.jpg" /> -->

        <!-- <div style="height: 100%; width: 100%">
          <div class="iframe-wrapper">
            <iframe src="https://player.vimeo.com/video/427105895?title=0&byline=0&portrait=0&controls=0" id="video" ref="video" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <div class="btn-video-play-wrapper" @click="playVideo">
              <div class="btn-video-play" v-show="!videoOn">
                <svg xmlns="http://www.w3.org/2000/svg" width="81" height="81" viewBox="0 0 81 81"><g><g><g><path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="50" stroke-width="3" d="M37.213 2.324c-19.629 1.808-35 18.318-35 38.418 0 21.308 17.275 38.582 38.582 38.582 21.31 0 38.583-17.274 38.583-38.582 0-12.695-6.135-23.952-15.6-30.98"/></g></g><g><g><path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="50" stroke-width="3" d="M32.53 56.953v0l-.483.278a.97.97 0 0 1-1.454-.839V25.256a.97.97 0 0 1 1.454-.838L59.01 39.985a.97.97 0 0 1 0 1.679l-18.707 10.8v0"/></g></g></g></svg>
              </div>
            </div>
          </div><script src="https://player.vimeo.com/api/player.js"></script>
        </div> -->

        <div class="section__info animated slideInLeft">
          <h1 class="title-section executive-physical__title">The Executive Physical Exam</h1>
          <h4 class="executive-physical__subtitle">Not Your Average Physical</h4>
          <div class="executive-physical__info executive-physical__info--top">
            <div>
              <p>At Next Health, our executive physical will</p>
            </div>
            <div class="stepsTop">
              <div>
                01
                <br />
                <span>Predict</span>
              </div>
              <div>
                02
                <br />
                <span>Prevent</span>
              </div>
              <div>
                03
                <br />
                <span>Prolong</span>
              </div>
            </div>
            <div>
              <p>We make a precise roadmap that addresses the root problem of your health condition and reverse your age in a systematic manner.</p>
            </div>
          </div>
        </div>

        <div class="section__info-video slideInRight">
          <div style="height: 100%; width: 100%">
            <div class="iframe-wrapper">
              <iframe src="https://player.vimeo.com/video/427105895?title=0&byline=0&portrait=0&controls=0" id="video" ref="video" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              <div class="btn-video-play-wrapper" @click="playVideo">
                <div class="btn-video-play" v-show="!videoOn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="81" height="81" viewBox="0 0 81 81"><g><g><g><path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="50" stroke-width="3" d="M37.213 2.324c-19.629 1.808-35 18.318-35 38.418 0 21.308 17.275 38.582 38.582 38.582 21.31 0 38.583-17.274 38.583-38.582 0-12.695-6.135-23.952-15.6-30.98"/></g></g><g><g><path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="50" stroke-width="3" d="M32.53 56.953v0l-.483.278a.97.97 0 0 1-1.454-.839V25.256a.97.97 0 0 1 1.454-.838L59.01 39.985a.97.97 0 0 1 0 1.679l-18.707 10.8v0"/></g></g></g></svg>
                </div>
              </div>
            </div><script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
      </section>

      <section class="section executive-physical__advanced">
        <img class="img-mobile" src="/img/executive-physical/adv-tablet.jpg" />
        <img class="img-tablet" src="/img/executive-physical/adv-tablet.jpg" />
        <div class="section__info executive-physical__advanced-wrapper">
          <div class="executive-physical__advanced-block animated slideInLeft">
            <h2 class="title-section executive-physical__title">Advanced Diagnosis</h2>
            <h4 class="executive-physical__subtitle">Where the science lab and technology meet</h4>
            <div class="executive-physical__info">
              <p>We use advanced medical testing to give accurate diagnoses of the root cause of a condition, as well as to discover precursors of disease in order to prevent it from occurring. Using cutting-edge treatment and technology, we are able to reverse certain diseases. We use technology that most doctors are not aware of.</p>
              <p>We have successfully treated fortune 500 leaders, high-level executives, professional athletes, elite professionals and patients with complex problems which numerous specialists had failed to solve.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section executive-physical__getToNow">
        <img class="img-mobile" src="/img/executive-physical/img_bg_2_mobile.jpg" />
        <img class="img-tablet" src="/img/executive-physical/img_bg_2_tablet.jpg" />
        <div class="section__info">
          <h2 class="title-section executive-physical__title">We Get to Know You</h2>
          <h4 class="executive-physical__subtitle">Listening is our secret</h4>
          <div class="executive-physical__info executive-physical__info--getToNow">
            <p>Unlike other doctors, we love to spend time with you. We do not rush you. We take the time to listen and understand. Our consultations last for over an hour!</p>
          </div>
        </div>
      </section>
      <section class="section executive-physical__achive">
        <img class="img-mobile" src="/img/executive-physical/img_bg_3_mobile.jpg" />
        <img class="img-tablet" src="/img/executive-physical/img_bg_3_tablet.jpg" />
        <div class="section__info">
          <h2 class="title-section executive-physical__title">Achieve the Unimaginable</h2>
          <h4
            class="executive-physical__subtitle"
          >Live longer and age slower. Add years to your life!</h4>
          <div class="executive-physical__info">
            <p>Find out your biological age versus your chronological age with telomere testing. We use the most accurate telomere tests to see how well your body is aging, and to predict disease so we can prevent it.</p>
            <p>Since 2001 Next Health has been pioneering programs to reverse aging, resulting in better health and lower incidence of disease.</p>
          </div>
        </div>
      </section>
      <section class="section executive-physical__getPersonal">
        <img class="img-mobile" src="/img/executive-physical/img_bg_4_tablet.jpg" />
        <img class="img-tablet" src="/img/executive-physical/img_bg_4_tablet.jpg" />
        <div class="section__info">
          <h2 class="title-section executive-physical__title">We Get Personal</h2>
          <h4
            class="executive-physical__subtitle"
          >Get personalized health plans that fits your needs</h4>
          <div class="executive-physical__info">
            <p>Through the assessment of your biological age, nutrient deficiencies, inflammatory markers, total non-radiation body scan, chemical and/or toxic burden, we create a personalized plan for you to achieve optimal health and reverse aging.</p>
          </div>
        </div>
      </section>
      <section class="section executive-physical__steps">
        <div class="executive-physical__step-bg-1 step-bg" :class="{'active-picture':isActive1}">
          <img
            class="img-tablet"
            :class="{'active-picture':isActive1}"
            src="/img/executive-physical/img_bg_5_tablet.jpg"
          />
          <img
            class="img-mobile"
            :class="{'active-picture':isActive1}"
            src="/img/executive-physical/img_bg_5_mobile.jpg"
          />
        </div>
        <div class="executive-physical__step-bg-2 step-bg" :class="{'active-picture':isActive2}">
          <img
            class="img-tablet"
            :class="{'active-picture':isActive2}"
            src="/img/executive-physical/img_bg_6_tablet.jpg"
          />
          <img
            class="img-mobile"
            :class="{'active-picture':isActive2}"
            src="/img/executive-physical/img_bg_6_mobile.jpg"
          />
        </div>
        <div
          class="executive-physical__step-bg-3 step-bg"
          v-bind:class="{'active-picture':isActive3}"
        >
          <img
            v-bind:class="{'active-picture':isActive3}"
            class="img-mobile"
            src="/img/executive-physical/img_bg_7_mobile.jpg"
          />
          <img
            v-bind:class="{'active-picture':isActive3}"
            class="img-tablet"
            src="/img/executive-physical/img_bg_7_tablet.jpg"
          />
        </div>
        <div class="section__info">
          <h2 class="title-section executive-physical__title">Our 3 Step Approach</h2>
          <div class="executive-physical__info executive-physical__info--steps desctop">
            <div
              class="executive-physical__step animated slideInLeft"
              v-on:click="isActive1 = true, isActive2 = false, isActive3 = false"
              v-bind:class="{'active': isActive1}"
              data-step="1"
            >
              <p class="executive-physical__step-num">01 Step</p>
              <h3 class="executive-physical__step-title">Collect Data</h3>
              <div class="executive-physical__step-line"></div>
              <p
                class="executive-physical__step-text"
              >Using advanced total body examination tools, testing and blood work</p>
            </div>
            <div
              class="executive-physical__step animated slideInLeft"
              v-on:click="isActive1 = false, isActive2 = true, isActive3 = false"
              v-bind:class="{'active': isActive2}"
              data-step="2"
            >
              <p class="executive-physical__step-num">02 Step</p>
              <h3 class="executive-physical__step-title">Create Plan</h3>
              <div class="executive-physical__step-line"></div>
              <p
                class="executive-physical__step-text"
              >Personalized treatment plan. Supplements included. Advanced therapies included for Gold & Platinum packages.</p>
            </div>
            <div
              class="executive-physical__step animated slideInLeft"
              v-on:click="isActive1 = false, isActive2 = false, isActive3 = true"
              v-bind:class="{'active': isActive3}"
              data-step="3"
            >
              <p class="executive-physical__step-num">03 Step</p>
              <h3 class="executive-physical__step-title">Optimize Plan</h3>
              <div class="executive-physical__step-line"></div>
              <p class="executive-physical__step-text">Re-evaluate and adjust plan based on results</p>
            </div>
          </div>

          <no-ssr>
            <swiper :options="swiperOption" class="show-mobile">
              <swiper-slide>
                <div class="executive-physical__step animated slideInLeft active" data-step="1">
                  <p class="executive-physical__step-num">01 Step</p>
                  <h3 class="executive-physical__step-title">Collect Data</h3>
                  <div class="executive-physical__step-line"></div>
                  <p
                    class="executive-physical__step-text"
                  >Using advanced total body examination tools, testing and blood work</p>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="executive-physical__step animated slideInLeft active" data-step="2">
                  <p class="executive-physical__step-num">02 Step</p>
                  <h3 class="executive-physical__step-title">Create Plan</h3>
                  <div class="executive-physical__step-line"></div>
                  <p
                    class="executive-physical__step-text"
                  >Personalized treatment plan. Supplements included. Advanced therapies included for Gold & Platinum packages.</p>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="executive-physical__step animated slideInLeft active" data-step="3">
                  <p class="executive-physical__step-num">03 Step</p>
                  <h3 class="executive-physical__step-title">Optimize Plan</h3>
                  <div class="executive-physical__step-line"></div>
                  <p
                    class="executive-physical__step-text"
                  >Re-evaluate and adjust plan based on results</p>
                </div>
              </swiper-slide>

              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </no-ssr>
        </div>
      </section>

      <section class="section executive-physical__packages">
        <div class="section__info">
          <h2 class="title-section executive-physical__title">What We Test</h2>
          <TabsWithSlider :slides="tabs" header/>
        </div>
      </section>

      <!-- <section class="section executive-physical__packages">
        <div class="section__info">
          <h2 class="title-section executive-physical__title">Choose from the 3 Different Packages</h2>
          <SwiperCarousel 
            @openPlatinum="openPackagePopup(listNamesPopups[0])" 
            @openPlatinumMobile="openPackagePopup(listNamesPopups[1])" 
            @openGold="openPackagePopup(listNamesPopups[2])"
            @openGoldMobile="openPackagePopup(listNamesPopups[3])"
            @openSilver="openPackagePopup(listNamesPopups[4])"
            @openSilverMobile="openPackagePopup(listNamesPopups[5])"
          />
        </div>
      </section>-->
    </LayoutFullPage>

    <div v-if="pageLoaded">
      <transition name="fade">
        <Platinum v-if="chechRouteHash(0)" @closed="closePackagePopup" class="color-white" />
        <platinum-mobile v-if="chechRouteHash(1)" @closed="closePackagePopup" class="color-white" />
        <Gold v-if="chechRouteHash(2)" @closed="closePackagePopup" class="color-white" />
        <gold-mobile v-if="chechRouteHash(3)" @closed="closePackagePopup" class="color-white" />
        <Silver v-if="chechRouteHash(4)" @closed="closePackagePopup" class="color-white" />
        <silver-mobile v-if="chechRouteHash(5)" @closed="closePackagePopup" class="color-white" />
      </transition>
    </div>
  </div>
</template>

<script>
// import "@/plugins/froogaloop"
import LayoutFullPage from "@/layouts/MainFullPage";
// import SwiperCarousel from "@/components/share/blocks/SwiperCarousel";

import SecBanner from "@/components/share/sections/Banner";

// Modals
import Gold from "@/components/modals/Gold";
import Silver from "@/components/modals/Silver";
import Platinum from "@/components/modals/Platinum";
import GoldMobile from "@/components/modals/mobile/GoldMobile";
import PlatinumMobile from "@/components/modals/mobile/PlatinumMobile";
import SilverMobile from "@/components/modals/mobile/SilverMobile";

import TabsWithSlider from "@/components/share/blocks/TabsWithSlider";

export default {
  name: "ExecutivePhysical",
  components: {
    LayoutFullPage,
    // SwiperCarousel,
    TabsWithSlider,
    SecBanner,
    SilverMobile,
    PlatinumMobile,
    GoldMobile,
    Platinum,
    Gold,
    Silver
  },
  head: {
    title: "Executive Physical Examination with Advanced Testing | NextHealth",
    meta: [
      {
        vmid: "description",
        name: "description",
        content:
          "We provide holistic medical technology to give you an advanced health assesment through a 6 week program of advanced medical testing and medical diagnosis."
      },
      { vmid: "name", name: "robots", content: "index" }
    ],
    link: [
      {
        rel: "canonical",
        href: "https://www.nexthealthmed.com/executive-physical"
      }
    ]
  },
  data: () => ({
    fullPageAnchors: [
      "The Executive Physical",
      "Advanced Diagnosis",
      "We Get to Know You",
      "Achieve the Unimaginable",
      "We Get Personal",
      "Our 3 Step Approach",
      "What We Test"
    ],
    swiperOption: {
      slidesPerView: 1,
      spaceBetween: 30,
      slidesPerGroup: 1,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      }
    },
    isActive1: true,
    isActive2: false,
    isActive3: false,

    // Toggle show popups
    isGoldOpen: false,
    isGoldMobileOpen: false,
    isSilverOpen: false,
    isSilverMobileOpen: false,
    isPlatinumOpen: false,
    isPlatinumMobileOpen: false,

    listNamesPopups: [
      "platinum",
      "platinum-mobile",
      "gold",
      "gold-mobile",
      "silver",
      "silver-mobule"
    ],
    isActiveNamePopup: null,

    isPopUpOpen: false,
    scrolled: false,
    pageLoaded: false,

    tabs: [
      {
        title: "Early Cancer Detection",
        videoUrl: "https://player.vimeo.com/video/427106393",
        text:
          "Next Health technology provides a highly accurate way to confirm the presence of cancer and give measurable information about cancer."
      },
      {
        title: "Telomere DNA Age",
        videoUrl: "https://player.vimeo.com/video/427106535",
        text:
          "Discover your biological age and take the necessary steps to reverse your age."
      },
      {
        title: "Micronutrient Exam",
        videoUrl: "https://player.vimeo.com/video/427106489",
        text:
          "Take a deep look at your intracellular & extracellular vitamin and mineral levels to understand your nutritional requirements which may contribute to a decreased risk for disease."
      },
      {
        title: "Advanced Hormone",
        videoUrl: "https://player.vimeo.com/video/427106306",
        text:
          "Complete hormone testing that is essential to evaluating and determining your overall health and well being."
      },
      {
        title: "Advanced Genetic",
        videoUrl: "https://player.vimeo.com/video/427106237",
        text:
          "An advanced microarray testing platform that identifies increased genetic predispositions to numerous medical conditions."
      },
      {
        title: "Food Inflammation",
        videoUrl: "https://player.vimeo.com/video/427106145",
        text:
          "Our test is a patented, multi-pathway delayed food sensitivity test. The test uses new technology that measures both IgG and Immune Complexes, the most common food-related pathways in the body."
      },
      {
        title: "Advanced Cardiovascular",
        videoUrl: "https://player.vimeo.com/video/427105833",
        text:
          "Based on advanced blood vessel analysis, pulse data, intracellular level, and inflammation testing, be able to detect and reverse heart disease."
      },
      {
        title: "Brain Scan",
        videoUrl: "https://player.vimeo.com/video/427154696",
        text:
          "Our brain wave tests combine measures of brain response and physical response to give direct assessments of brain function, power, and voltage."
      }
    ],

    videoOn: false
  }),
  mounted() {
    this.pageLoaded = true;

    /* var iframe = document.getElementById('video');

    setTimeout(() => {
      this.player = new Vimeo.Player(iframe);
    }, 1000) */
  },
  methods: {
    playVideo() {
      var iframe = document.getElementById('video');
      var player = new Vimeo.Player(iframe);
      if(this.videoOn) {
        player.pause();
        this.videoOn = false
      }
      else {
        player.play();
        this.videoOn = true
      }
    },
    openPackagePopup(name) {
      if (name.length) {
        this.$router.push(`#${name}`);
      }
    },
    chechRouteHash(index) {
      return this.$route && this.$route.hash
        ? this.$route.hash === `#${this.listNamesPopups[index]}`
        : false;
    },
    closePackagePopup() {
      this.$router.push(`#`);
    },
    openGold() {
      console.log("open");
      this.isGoldOpen = !this.isGoldOpen;
      // fullpage_api.setAllowScrolling(false);
    },
    openGoldMobile() {
      this.isGoldMobileOpen = !this.isGoldMobileOpen;
      // fullpage_api.setAllowScrolling(false);
    },
    openSilver() {
      this.isSilverOpen = !this.isSilverOpen;
      // fullpage_api.setAllowScrolling(false);
    },
    openSilverMobile() {
      this.isSilverMobileOpen = !this.isSilverMobileOpen;
      // fullpage_api.setAllowScrolling(false);
    },
    openPlatinum() {
      this.isPlatinumOpen = !this.isPlatinumOpen;
      // fullpage_api.setAllowScrolling(false);
    },
    openPlatinumMobile() {
      this.isPlatinumMobileOpen = !this.isPlatinumMobileOpen;
      // fullpage_api.setAllowScrolling(false);
    },

    isGoldClose() {
      this.isGoldOpen = false;
    },
    isGoldMobileClose() {
      this.isGoldMobileOpen = false;
    },
    isSilverClose() {
      this.isSilverOpen = false;
    },
    isSilverMobileClose() {
      this.isSilverMobileOpen = false;
    },
    isPlatinumClose() {
      this.isPlatinumOpen = false;
    },
    isPlatinumMobileClose() {
      this.isPlatinumMobileOpen = false;
    },
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
    afterLoad(anchorLink, index) {
      this.scrolled = index.isLast;
    },
    toggleNavigation() {
      this.options.navigation = !this.options.navigation;
    },
    toggleScrollbar() {
      this.options.scrollBar = !this.options.scrollBar;
    }
  }
};
</script>
