<template>
  <div style="background: #1A242C">
    <MainHeader @openpopup="openPopUp" />
    <div class="flexScroll home">
      <section class="section home__main">
        <div class="Home__info animated slideInLeft">
          <h1 class="title-section home__title">Rethink Medicine</h1>
          <!-- <h2 class="title-section home__title">Rethink Medicine</h2> -->
          <p class="home__text">
            Predict, Prevent & Prolong
            <br />
            <b>The Next Health Way</b>
          </p>
          <nuxt-link to="/executive-physical" class="home__button">
            Learn more
          </nuxt-link>
        </div>
      </section>
      <section class="section home__subscribe">
        <div class="home__block home__block__first">
          <div class="padding-20">
            <h3>Subscribe</h3>
          </div>
          <div class="padding-20">
            <p>Get weekly health tips right in your mailbox.</p>
          </div>
        </div>
        <form v-if="!isSubscription" class="home__block">
          <div class="padding-20">
            <input
              type="text"
              placeholder="Your Email"
              v-model="userEmail"
              v-bind:class="{'error': !isValid}"
              @keyup="emailValid()"
            />
            <span v-if="!isValid" class="error-text">Incorrect email address</span>
          </div>
          <div class="padding-20 home__sub">
            <button type="button" @click="subscription()">Subscribe</button>
          </div>
        </form>
        <div v-if="isSubscription" class="home__block successfully">
          <div class="padding-20">
            <p>Subscribed. Thank You!</p>
          </div>
        </div>
      </section>

      <section class="section home__ss">
        <div class="home__service home__container">
          <h3>Our Top Services</h3>

          <div class="sections">
            <div class="section-block service__one">
              <h4>Executive Physical</h4>
              <div class="service__video">
                <video autoplay="autoplay" muted loop playsinline>
                  <source src="/video/Physical_2_1.mp4" type="video/mp4" />
                </video>
                <div class="service__button">
                  <nuxt-link to="/executive-physical" class="home__button">
                    Learn more
                  </nuxt-link>
                </div>
              </div>
              <div class="block-with-text">
                <p>
                  This is the most advanced physical in the world. We use cutting edge tools, technology and lab
                  testing to predict and prevent disease which ultimately leads to a prolonged life. This isn’t your
                  average physical, this is a 6 week program!
                </p>
              </div>
            </div>

            <div class="section-block service__two">
              <h4>IV Vitamin Therapy</h4>

              <div class="service__video">
                <video autoplay="autoplay" muted loop playsinline>
                  <source src="/video/IV_Vitamina_Therapy_2_1.mp4" type="video/mp4" />
                </video>
                <div class="service__button">
                  <nuxt-link to="/iv-vitamin-therapy" class="home__button">
                    Learn more
                  </nuxt-link>
                </div>
              </div>

              <div class="block-with-text">
                <p>
                  Get optimized infusions of nutrients directly into your body’s blood-stream, cells and tissues
                  allowing cellular healing and repairing processes to happen faster. Our infusions are designed to help
                  your reach peak performance, recover from flu, hydrate, detox & much more!
                </p>
              </div>
            </div>

            <div class="section-block service__three">
              <h4>Platelet Rich Protein (PRP)</h4>
              <div class="service__video">
                <video autoplay="autoplay" muted loop playsinline>
                  <source src="/video/landing2/PRP_Header.mp4" type="video/mp4" />
                </video>
                <div class="service__button">
                  <nuxt-link to="/platelet-rich-plasma-prp-therapy" class="home__button">
                    Learn more
                  </nuxt-link>
                </div>
              </div>
              <div class="block-with-text">
                <p>
                  We use your own blood and extract rich plasma to promote healing of injured tendons, ligaments,
                  muscles, joints, and skin. This can also be applied to various musculoskeletal problems.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-home-youtube">
        <div class="container-big home__youtube">
          <h3>Youtube Feed</h3>
          <div class="home__youtube-videos">
            <a :href="item.link" target="_blank" class="home__youtube-video" v-for="(item, j) in youtubeVideo" :key="j">
              <img :src="item.image" :alt="`youtube video ${j}`">
            </a>
          </div>
        </div>
      </section>
    </div>
    <AppFooter />
    <transition name="fade">
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
    </transition>
  </div>
</template>

<script>
import MainHeader from "@/components/general/Header";
import AppFooter from "@/components/general/Footer";
import ContactUs from "@/components/modals/ContactUs";
import axios from "axios";

import { apiURL } from "@/helpers/config";

export default {
  name: "HomePage",
  components: { ContactUs, AppFooter, MainHeader },
  head: {
    title: "Dr. Habib’s Preventative Care & Advanced Executive Physical Exams | NextHealth",
    meta: [
      { vmid: "name", name: "robots", content: "index" },
      {
        vmid: "description",
        name: "description",
        content:
          "Next Health's holistic care and preventive medical center offers an extensive 6-week physical examination. Dr. Habib uses cutting edge medical technology. Learn more here."
      }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/'}
    ]
  },
  data: () => ({
    isPopUpOpen: false,
    userEmail: "",
    isValid: true,
    isSubscription: false,
    youtubeVideo: [
      {
        image: '/img/youtube/1.jpg',
        link: 'https://youtu.be/YupiDsOuOTY'
      }, {
        image: '/img/youtube/2.jpg',
        link: 'https://youtu.be/mT3XtNeol9E'
      }, {
        image: '/img/youtube/3.jpg',
        link: 'https://youtu.be/CYRykrjGXPk'
      }, {
        image: '/img/youtube/4.jpg',
        link: 'https://youtu.be/opQoIcaQFS4'
      }, {
        image: '/img/youtube/5.jpg',
        link: 'https://youtu.be/5OzzfwYaRr8'
      }, {
        image: '/img/youtube/6.jpg',
        link: 'https://youtu.be/LQlivffytoA'
      }
    ]
  }),
  methods: {
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
    emailValid() {
      this.isValid = this.isEmailValid();
      this.isValid = this.userEmail.length == 0 ? true : this.isValid;
    },
    subscription() {
      this.isValid = this.isEmailValid();
      if (this.isValid) {
        axios
          .post(apiURL + "/api/public/subscription", {
            email: this.userEmail
          })
          .then(response => {
            this.isSubscription = true;
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    isEmailValid: function() {
      return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
        this.userEmail
      );
    }
  }
};
</script>

<style scoped>
.flexScroll section:after {
  display: none;
}

#app > div > header > div.header__block.header__block--right > p {
  display: none;
}
</style>
