<template>
  <div :class="{ 'page-scrolled': scrolled}">
    <MainLayout>
      <section class="section insurance__faq-section">
        <div class="home__service home__container">
          <h3 class="insurance__title">Insurance Participation</h3>
          <div class="insurance__container">
            <div class="insurance__text about__text">
              <div
                class="insurance__about-text-block bold"
              >At the Next Health, we have chosen to work outside of commercial insurance plans. By doing so, it allows Dr. Habib to give you the highest medical care.</div>
              <div class="insurance__about-text-block">
                <span class="bold">Please note:</span> If your insurance policy has out-of-network benefits a portion of our charges may be covered depending on your insurance.
                Before your first visit, talk to your insurance company about your out-of-network benefits and what they include, as every plan is different.
              </div>
              <div
                class="insurance__about-text-block"
              >To help our patients file accurate claims for reimbursement, we provide detailed billing codes to submit to your insurance plan. Our practitioners are “Non-Participating providers” with Medicare.</div>
            </div>
            <AccordionBlock :items="faqsList" />
          </div>
        </div>
      </section>
      <section class="section insurance__testimonials-section">
        <div class="home__youtube">
          <h3 class="insurance__title">Youtube Feed</h3>
          <div class="yt__video__row" v-for="(row, i) in youtubeVideo" :key="i">
            <div class="home__vido__yt" v-for="(col, j) in row" :key="j">
              <a :href="col.link" target="_blank">
                <img :src="col.image" alt="">
              </a>
              <!-- <iframe
                width="560"
                height="315"
                :src="col"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe> -->
            </div>
          </div>

          <!-- <div class="yt__video__row">
            <div class="home__vido__yt">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/YupiDsOuOTY"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="home__vido__yt">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/mT3XtNeol9E"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="home__vido__yt">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/CYRykrjGXPk"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="yt__video__row">
            <div class="home__vido__yt">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/opQoIcaQFS4"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="home__vido__yt">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/5OzzfwYaRr8"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="home__vido__yt">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/LQlivffytoA"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div> -->
        </div>
      </section>
    </MainLayout>

    <transition name="fade">
      <Gold @closed="isGoldClose" v-if="isGoldOpen"></Gold>
      <Silver @closed="isSilverClose" v-if="isSilverOpen"></Silver>
      <Platinum @closed="isPlatinumClose" v-if="isPlatinumOpen"></Platinum>
      <gold-mobile @closed="isGoldMobileClose" v-if="isGoldMobileOpen"></gold-mobile>
      <platinum-mobile @closed="isPlatinumMobileClose" v-if="isPlatinumMobileOpen"></platinum-mobile>
      <silver-mobile @closed="isSilverMobileClose" v-if="isSilverMobileOpen"></silver-mobile>
    </transition>
  </div>
</template>
<script>
import MainLayout from "@/layouts/Main";

import Gold from "@/components/modals/Gold";
import Silver from "@/components/modals/Silver";
import Platinum from "@/components/modals/Platinum";
import GoldMobile from "@/components/modals/mobile/GoldMobile";
import PlatinumMobile from "@/components/modals/mobile/PlatinumMobile";
import SilverMobile from "@/components/modals/mobile/SilverMobile";

import AccordionBlock from "@/components/share/blocks/Accordion"

export default {
  name: "InsuranceFaq",
  components: {
    MainLayout,

    SilverMobile,
    PlatinumMobile,
    GoldMobile,
    Platinum,
    Gold,
    Silver,
    AccordionBlock
  },
  head: {
    title: "Best Executive Physical Examination - Advanced Testing | NextHealth.org",
    meta: [
      {
        vmid: "description",
        name: "description",
        content: "One way to prevent future health problems, and detect cancer is with our executive physical examination. A thorough 6 week program of advanced medical testing, and medical diagnosis."
      },
      { vmid: "name", name: "robots", content: "index, nofollow" }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/insurance-faq'}
    ]
  },
  data: () => ({
    /* options: {
      afterLoad: this.afterLoad,
      scrollBar: false,
      menu: "#menu",
      navigation: false,
      anchors: ["1", "2", "3", "4", "5", "6", "7", "8"],
      navigationTooltips: [
        "The Executive Physical",
        "Advanced Diagnosis",
        "We Get to Know You",
        "Achieve the Unimaginable",
        "We Get Personal",
        "Our 3 Step Approach",
        "Choose from the 3 Different Packages"
      ],
      scrollingSpeed: 1500,
      scrollOverflow: false,
      responsiveWidth: 900,
      responsiveHeight: 500,
      normalScrollElements: true
    }, */
    swiperOption: {
      slidesPerView: 1,
      spaceBetween: 30,
      slidesPerGroup: 1,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      }
    },
    isActive1: true,
    isActive2: false,
    isActive3: false,
    isGoldOpen: false,
    isGoldMobileOpen: false,
    isSilverOpen: false,
    isSilverMobileOpen: false,
    isPlatinumOpen: false,
    isPlatinumMobileOpen: false,
    scrolled: false,
    faqsList: [
      {
        title: "Why Doesn’t Next Health accept my insurance?",
        content:
          "Dr. Habib feels very strongly that insurance companies should not be directing patient care by setting restrictions on medical testing and treatment. Operating outside the insurance system also allows Dr. Habib to take the time necessary to ask you how you’re doing, listen to your concerns and discuss treatment options. Operating outside the insurance system also allows Dr. Habib to provide you with an individualized treatment plan that may include “alternative and complementary medicine” techniques that may not yet be accepted by insurance companies. Bottom line, the medical treatment you receive should be the best care possible, and it should be determined by your doctor and you; not your insurance company."
      },
      {
        title: "Does Next Health participate with Medicare?",
        content:
          "Dr. Habib has opted out of Medicare. He can treat Medicare patients only under private contract. This means that neither the doctor nor the patient can file a claim with Medicare for the doctors’ services. The patient pays in full at the time of service. Patients who are covered under a secondary insurance policy (not Medigap coverage) may be eligible for reimbursement. If you have questions about your specific situation, please contact our billing department, and we will try to help you."
      },
      {
        title: "Does Next Health accept Medicaid?",
        content: "No"
      },
      {
        title:
          "What should I ask my insurance company when I inquire about my out-of-network benefits?",
        content:
          "“What is my out-of-network deductible?”<br/>" +
          "“Is my out-of-network deductible separate from my in-network deductible?”<br/>" +
          "“What is my coinsurance?”<br/>" +
          "“What is the maximum amount of out-of-pocket expenses I will be required to pay annually?”"
      },
      {
        title: "Does Next Health offer financing?",
        content:
          "Yes, we work with Care Credit.<br/>" +
          "Care Credit offers low-interest rates and no interest financing to individuals with good credit."
      },
      {
        title: "Can I use my Flex Spending Account?",
        content: "Yes"
      }
    ],
    youtubeVideo: [
      [
        {
          image: '/img/youtube/1.jpg',
          link: 'https://youtu.be/YupiDsOuOTY'
        },
        {
          image: '/img/youtube/2.jpg',
          link: 'https://youtu.be/mT3XtNeol9E'
        },
        {
          image: '/img/youtube/3.jpg',
          link: 'https://youtu.be/CYRykrjGXPk'
        }
      ],
      [
        {
          image: '/img/youtube/4.jpg',
          link: 'https://youtu.be/opQoIcaQFS4'
        },
        {
          image: '/img/youtube/5.jpg',
          link: 'https://youtu.be/5OzzfwYaRr8'
        },
        {
          image: '/img/youtube/6.jpg',
          link: 'https://youtu.be/LQlivffytoA'
        }
      ]
    ]
  }),
  methods: {
    openGold() {
      this.isGoldOpen = !this.isGoldOpen;
      fullpage_api.setAllowScrolling(false);
    },
    openGoldMobile() {
      this.isGoldMobileOpen = !this.isGoldMobileOpen;
      fullpage_api.setAllowScrolling(false);
    },
    openSilver() {
      this.isSilverOpen = !this.isSilverOpen;
      fullpage_api.setAllowScrolling(false);
    },
    openSilverMobile() {
      this.isSilverMobileOpen = !this.isSilverMobileOpen;
      fullpage_api.setAllowScrolling(false);
    },
    openPlatinum() {
      this.isPlatinumOpen = !this.isPlatinumOpen;
      fullpage_api.setAllowScrolling(false);
    },
    openPlatinumMobile() {
      this.isPlatinumMobileOpen = !this.isPlatinumMobileOpen;
      fullpage_api.setAllowScrolling(false);
    },

    isGoldClose() {
      this.isGoldOpen = false;
    },
    isGoldMobileClose() {
      this.isGoldMobileOpen = false;
    },
    isSilverClose() {
      this.isSilverOpen = false;
    },
    isSilverMobileClose() {
      this.isSilverMobileOpen = false;
    },
    isPlatinumClose() {
      this.isPlatinumOpen = false;
    },
    isPlatinumMobileClose() {
      this.isPlatinumMobileOpen = false;
    },
    /* afterLoad(anchorLink, index) {
      // this.scrolled = index.isLast;
    }, */
    toggleNavigation() {
      this.options.navigation = !this.options.navigation;
    },
    toggleScrollbar() {
      this.options.scrollBar = !this.options.scrollBar;
    }
  }
};
</script>
