<template>
  <div class="vitamins-page">

    <MainHeader @openmenu="openMenu" class="header__home hide__contact" style="z-index: 5;"  @modal="showContactUs = true" @openpopup="openPopUp"/>
    <LeftMenu v-if="isMenuOpen" @closed="closeMenu" />

    <!-- <SecBanner
      class="banner"
      firstSection
      bgImage
      container
      reverse
      :image="'/img/video-preview/pre1.jpg'"
      :title="'IV Vitamin Therapy'"
      :description="'Medical Grade IVs & Chelation Therapy'"
      :buttonText="'Book Now'"
      @btnClick="isPopUpOpen = true" /> -->

    <GeneralBlock
      :videoDesktop="'/video/vitamin_new/Desktop_Header.mp4'"
      :videoMobile="'/video/vitamin_new/Mobile_Header.mp4'"
      :title="'IV Vitamin Therapy'"
      :description="'Medical Grade IVs'" 
      @modal="isPopUpOpen = true"
    />

    <section class="section about__nhw">
      <div class="container-big">
        <div>
          <h2 class="title-section about__title">What is IV Therapy</h2>
          <p class="about__text">Next Health’s Vitamin IV therapy (also called IV Drips) is the most effective way to replenish fluids, vitamins, minerals, and electrolytes in your body. Its superior advantage is that nutrients are made immediately available for the cells that need it most. It delivers essential nutrients right at the cellular level for maximum absorption — all while you relax and let it flow into your body. IV Infusions are safe and painless.</p>
        </div>
      </div>
    </section>

    <SecContentAndMedia
      :videoLocal="'/video/vitamin_new/Pure_Quality.mp4'"
      :title="'Pure Quality'"
      :description="'All of our intravenous vitamins are sourced and made in America. Even our IV bags and tubing!'"
      :buttonText="'Book Now'"
      alternative
      container
    />

    <SecContentAndMedia
      :videoLocal="'/video/vitamin_new/Personalized_IV.mp4'"
      :title="'Personalized IVs'"
      :description="'Unlike other places, we do not use pre- made bags. All the IV Bags are made in our medical facility. They are customized to your needs.'"
      :buttonText="'Book Now'"
      alternative
      container
      reverse
    />

    <SecContentAndMedia
      :videoLocal="'/video/vitamin_new/Spa_Like_Environment.mp4'"
      :title="'Spa Like Environment'"
      :description="'Relax on our reclined sofas while you get our IV. Enjoy healthy snacks and beverage while being in a peaceful state!'"
      :buttonText="'Book Now'"
      alternative
      container
    />
    
    <SecFeatures 
      bgImage
      :title="'How We Are Different'"
      :items="[
        {
          image: '/img/vitamins/icons/icon.png',
          title: 'Safe & Painless',
          text: ''
        }, {
          image: '/img/vitamins/icons/icon-1.png',
          title: 'Medically Supervised',
          text: ''
        }, {
          image: '/img/vitamins/icons/icon-2.png',
          title: 'Highest Quality Vitamins & Minerals',
          text: ''
        }, {
          image: '/img/vitamins/icons/icon-3.png',
          title: 'Personalized IVs',
          text: ''
        }
      ]"
      center 
    />

    <Testimonials @modal="showContactUs = true" class="section" />

    <IvMenu @modal="isPopUpOpen = true" class="section" 
      :title="'IV Menu'"
      :items="[
        {
          image: '/img/vitamins/icons/Hydro.png',
          title: 'Next Hydro',
          text: 'Having gut issues that are causing fluid loss? Can’t seem to hold anything down? Next Hydro helps with recovery from dehydration.  This hydrating IV is beneficial if you’re unable to drink fluids and need to get hydrated fast.'
        },{
          image: '/img/vitamins/icons/Recovery.png',
          title: 'Next Recovery',
          text: 'Feeling exhausted from the night before? Experiencing nausea and headache? Next recovery is said to be the best Vitamin IV therapy for hangovers because it helps you recover quickly. This IV will have you feeling like you’re back to yourself.'
        }, {
          image: '/img/vitamins/icons/Supercharge.png',
          title: 'Next Supercharge',
          text: 'Are you lacking energy and can’t seem to concentrate? Experiencing Jet Lag from a long trip? Is your mood or you feel depressed? Next Supercharge helps your body get that extra charge of energy that may also help your mood. This is the perfect IV drip for energy.'
        }, {
          image: '/img/vitamins/icons/ImmuneCharger.png',
          title: 'Next Immune Charger',
          text: 'Feel like your getting the cold? Want to boost your natural defense system? Next immune charger may help with preventing colds.  This IV will also help you recover faster from viruses and colds. This is the perfect IV drip for your immune system. '
        }, {
          image: '/img/vitamins/icons/Beauty.png',
          title: 'Next Beauty',
          text: 'Want to combat wrinkles, dry skin and hair loss? Next beauty IV is the ultimate anti-aging formula which gives your skin a natural glow and promotes fuller hair. Packed with glutathione, the world’s strongest antioxidant, this IV is optimized to rejuvenate skin firmness and elasticity and stimulate hair growth and thickness.'
        }, {
          image: '/img/vitamins/icons/Anti-Age.png',
          title: 'Next Anti-Age',
          text: 'There are many factors that make your body age faster than you think. Free radicals and toxic metals are some of the main ones. Next Anti Age IV drip addresses it all! With a combination of Next Chelation and our other signature mix, it may even decrease your risk of dementia, cancer, and heart disease. But that\'s not it, it may also give your brain, hair, skin, nails, and sexual vitality the boost they need.'
        }, {
          image: '/img/vitamins/icons/Chelation.png',
          title: 'Next Chelation',
          text: 'Next Chelation Therapy may reduce vascular inflammation caused by specific toxic metals and reduces the body burden of those metals in other organ systems. EDTA alone or in combination with DMPS Chelation Therapy may be used to clear heavy metals from tissue and arteries and therefore increase blood flow to the heart, brain, legs and throughout the body. Diabetes?'
        }, {
          image: '/img/vitamins/icons/Stress.png',
          title: 'Next Stress',
          text: 'Feel overworked? Next Stress is the perfect Vitamin IV therapy for stress. Our signature mix will help give you more energy, aid in detox and give you a good night sleep.'
        }, {
          image: '/img/vitamins/icons/Travel.png',
          title: 'Next Travel',
          text: 'Have a long flight coming up? Going on vacation? Make sure to get a boost before your trip so you can avoid getting sick. Next Travel IV is specifically designed to boost your immune system help you avoid Traveler’s sickness. This is a perfect IV drip for traveling.'
        }, {
          image: '/img/vitamins/icons/HIGH-C.png',
          title: 'Next HIGH-C',
          text: 'Looking for High IV doses of vitamin C? Many people use high doses of Vitamin C to fight cancer or use it as a part of their cancer treatment. It may also bolster the immune system which ultimately helps the body fight cancer.'
        }
      ]" 
      center
    />

    <HowItWorks @modal="isPopUpOpen = true" class="section" center />

    <SecFaq
      class="faqs-no-fullpage section-faqs"
      :title="'FAQs'"
      :items="[
        {
          title: 'How does the IV therapy work?',
          content: '<p>IV Vitamin Therapy works by administration of vitamins and nutrients directly into the bloodstream, bypassing the digestive system. This provides increased cell absorption and 100% bioavailability of vitamins via IV infusion. Booster shots are administered via intramuscular (IM) injection so there is no GI metabolism, which also allows for increased absorption. With oral supplements, you only get about 20% absorption after filtering through your digestive system, which clearly pales in comparison to IV vitamins.</p>'
        }, {
          title: 'How long does it take?',
          content: '<p>Depending on your veins, it can take anywhere between 30 minutes to 2 hours. Most people usually finish within 1 hour.</p>'
        }, {
          title: 'Do you accept health insurance?',
          content: '<p>We do not accept any form of insurance. Next Health is classified as a primary care practice, but insurance companies don’t recognize our membership/practice model. After each medical visit, a staff member can provide a superbill that you can submit to insurance for out-of-network reimbursement. We do not guarantee any reimbursement. Many members choose to pay for their plans using FSA/HSA dollars.</p>'
        }, {
          title: 'Does Next Health offer financing?',
          content: '<p>Yes, we work with Care Credit. <br/>Care Credit offers low-interest rates and no interest financing to individuals with good credit.</p>'
        }, {
          title: 'Can I use my Flex Spending Account?',
          content: '<p>Yes.</p>'
        }
      ]" />
    
    <AppFooter @modal="isPopUpOpen = true" />
    <ContactUs v-if="isPopUpOpen" @closed="isPopUpOpen = false" />
  </div>
</template>
<script>
import MainHeader from '@/components/general/Header';
import LeftMenu from '@/components/general/Menu';
import AppFooter from '@/components/general/Footer';
import ContactUs from '@/components/modals/ContactUs';

import GeneralBlock from '@/components/share/sections/vitamin/GeneralBlock';
import IvMenu from '@/components/share/sections/vitamin/IvMenu';
import HowItWorks from '@/components/share/sections/vitamin/HowItWorks';
import Testimonials from '@/components/share/sections/vitamin/Testimonial';

import SecBanner from "@/components/share/sections/Banner"
import SecContentAndMedia from "@/components/share/sections/ContentAndMedia"
import SecContentAndMedia2 from "@/components/share/sections/ContentAndMedia2"
import SecFeatures from "@/components/share/sections/Features"
import SecFaq from "@/components/share/sections/Accordion"

export default {
  name: 'vitamins-page',
  head: {
    title: "IV vitamin therapy new | NextHealth",
    meta: [
      { vmid: "name", name: "robots", content: "index" },
      { vmid: "description", name: "description", content: "Medical Grade IVs" },
      { vmid: "image", name: "image", content: "/meta/image/vitamin-therapy" }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/iv-vitamin-therapy-new'},
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/iv-vitamin-therapy'}
    ]
  },
  components: {
    MainHeader,
    LeftMenu,
    AppFooter,
    ContactUs,

    //Sections
    SecBanner,
    SecContentAndMedia,
    SecContentAndMedia2,
    SecFeatures,
    SecFaq,

    GeneralBlock,
    Testimonials,
    IvMenu,
    HowItWorks
  },
  data: () => ({
    isMenuOpen: false,
    isPopUpOpen: false,
    showContactUs: false
  }),
  methods: {
    openMenu() {
      this.isMenuOpen = true;
    },
    closeMenu() {
      this.isMenuOpen = false;
    },
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
  }
}
</script>
