<template>
    <div>
      <MainHeader @openmenu="openMenu" @openpopup="openPopUp"/>
      <LeftMenu v-if="isMenuOpen" @closed="closeMenu"/>

      <main class=" peptides">
        <div class="wrapper">
          <section class="section-breadcrumbs">
            <p><a href="/">Home</a> > Peptides by Condition</p>
          </section>

          <section class="peptides__main">
            <h1 class="title-section">Peptides by Condition</h1>

            <div class="peptides__main__items">

              <div class="peptides__main__item">
                <div class="peptides__main__item__front">
                  <img src="/img/peptides/All.svg" />
                  <h3>All peptides</h3>
                </div>
                <div class="peptides__main__item__back">
                  <h3>All peptides</h3>
                  <p>A list of all Peptides in our archives that are currently being used for the treatment of All peptides disorders.</p>
                  <a :href="'/peptides/category/all'">Associated Peptides</a>
                </div>
              </div>

              <div class="peptides__main__item" v-for="(item,i) in items"
                   :key="i" >
                <div class="peptides__main__item__front">
                  <img v-if="item.image" v-bind:src="'/img/peptides/' + item.image.slice(0, -3) + 'svg'" />
                  <h3 v-if="item.name">{{ item.name }}</h3>
                </div>
                <div class="peptides__main__item__back">
                  <h3 v-if="item.name">{{ item.name }}</h3>
                  <p v-if="item.name">A list of all Peptides in our archives that are currently being used for the treatment of {{ item.name }} disorders.</p>
                  <a :href="'/peptides/category/' + item.id">Associated Peptides</a>
                </div>
              </div>

            </div>
          </section>
        </div>
      </main>

      <AppFooter />
      <transition name="fade">
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
      </transition>
    </div>
</template>

<script>
import {apiURL} from '@/helpers/config'
import axios from 'axios';

import MainHeader from "@/components/general/Header";
import AppFooter from "@/components/general/Footer";
import ContactUs from "@/components/modals/ContactUs";
import LeftMenu from '@/components/general/Menu';

export default {
  name: 'Peptides',
  components: {
    ContactUs,
    MainHeader,
    LeftMenu,
    AppFooter
  },
  data: () => ({
    isMenuOpen: false,
    isPopUpOpen: false,
    items: {}
  }),
  methods: {
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
    openMenu() {
      this.isMenuOpen = true;
    },
    closeMenu() {
      this.isMenuOpen = false;
    }
  },
  mounted() {
    axios
      .get(`${apiURL}/api/public/peptide/categories`)
      .then(response => {
        this.items = response.data;
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      });
  }
}
</script>
