<template>
  <div>
    <LayoutFullPage class="ppat" :anchors="fullPageAnchors">
      <section class="section ppat__main">
        <div class="section__info section__info__mobile">
          <img class="img-mobile" src="/img/ppat/mobile/bg_1-mobile.jpg"/>
          <img class="img-tablet" src="/img/ppat/tablet/bg_1-tablet.jpg"/>
          <h1 class="title-section">Personalized Programs and Treatments</h1>
          <p class="text-section">Anyone can enjoy the benefits of Dr. Habib’s integrated and holistic approach of
            state-of-the-art medicine and complementary treatment methods. Dr. Habib uses the tools of the best in the
            healing arts to provide precision diagnosis, primarily drug-free treatment and treatment success that far
            exceeds traditional medicine.</p>
        </div>
      </section>
      <section class="section ppat__customized-programs">
        <div class="section__info section__info__mobile">
          <h2 class="landing-section__title">Customized Programs</h2>
          <p class="text-section">Programs Based on Your Unique DNA, Biomarkers, Harmful Signals</p>
          <no-ssr>
          <swiper :options="swiperOption" class="desctop" v-if="mounted">
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img">
                    <img class="cp-slider__item-img" src="/img/ppat/tablet/scroll_1/img_banner_1.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Heart Health</h4>
                <p class="cp-slider__item-text">Two-thirds of heart attack patients have normal cholesterol</p><a
                @click="openHeartHealth" class="cp-slider__link" href="#" data-section="hh">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img">
                    <img class="cp-slider__item-img" src="/img/ppat/tablet/scroll_1/img_banner_2.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Cancer Prevention</h4>
                <p class="cp-slider__item-text">Cancer can only grow when your mechanism to control it has been
                  breached</p><a @click="openCancerPrevention" class="cp-slider__link" href="#" data-section="cp">Learn
                More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img">
                    <img class="cp-slider__item-img" src="/img/ppat/tablet/scroll_1/img_banner_3.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Diabetes Prevention</h4>
                <p class="cp-slider__item-text">By the time diabetes is diagnosed, doctors know that abnormal sugars may
                  have been present 5 years</p>
                <a @click="openDiabetesPrevention" class="cp-slider__link" href="#" data-section="dp">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img">
                    <img class="cp-slider__item-img" src="/img/ppat/tablet/scroll_2/img_banner_1.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Intravenous Vitamin Therapy</h4>
                <p class="cp-slider__item-text">IV vitamins are an incredible option to support the intricate workings
                  of the body</p><a @click="openVitamin" class="cp-slider__link" href="/iv-vitamin-therapy"
                                    data-section="ivt">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img">
                    <img class="cp-slider__item-img" src="/img/ppat/tablet/scroll_2/img_banner_2.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Immune Boosting</h4>
                <p class="cp-slider__item-text">Seeing too many allergies, rashes, asthma, inflammatory bowel, or autoimmune diseases – thyroid, lupus</p>
                <a @click="openImmune" class="cp-slider__link" href="#" data-section="ib">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img"
                                                              src="/img/ppat/tablet/scroll_2/img_banner_3.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Detox Program</h4>
                <p class="cp-slider__item-text">By the time diabetes is diagnosed, doctors know that abnormal sugars may
                  have been present 5 years</p><a @click="openDetox" class="cp-slider__link" href="#"
                                                  data-section="dxp">Learn More</a>
              </div>
            </swiper-slide>
            <div id="swiper-pagination1" class="swiper-pagination" slot="pagination"></div>
          </swiper>
          <swiper :options="swiperOption6" class="show-mobile">
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img"
                                                              src="/img/ppat/tablet/scroll_1/img_banner_1.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Heart Health</h4>
                <p class="cp-slider__item-text">Two-thirds of heart attack patients have normal cholesterol</p><a
                @click="openHeartHealth" class="cp-slider__link" href="#" data-section="hh">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img"
                                                              src="/img/ppat/tablet/scroll_1/img_banner_2.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Cancer Prevention</h4>
                <p class="cp-slider__item-text">Cancer can only grow when your mechanism to control it has been
                  breached</p><a @click="openCancerPrevention" class="cp-slider__link" href="#" data-section="cp">Learn
                More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img"
                                                              src="/img/ppat/tablet/scroll_1/img_banner_3.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Diabetes Prevention</h4>
                <p class="cp-slider__item-text">By the time diabetes is diagnosed, doctors know that abnormal sugars may
                  have been present 5 years</p><a @click="openDiabetesPrevention" class="cp-slider__link" href="#"
                                                  data-section="dp">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img">
                    <img class="cp-slider__item-img" src="/img/ppat/tablet/scroll_2/img_banner_1.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Intravenous Vitamin Therapy</h4>
                <p class="cp-slider__item-text">IV vitamins are an incredible option to support the intricate workings of the body</p>
                <a @click="openVitamin" class="cp-slider__link" href="#" data-section="ivt">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img">
                    <img class="cp-slider__item-img" src="/img/ppat/tablet/scroll_2/img_banner_2.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Immune Boosting</h4>
                <p class="cp-slider__item-text">Seeing too many allergies, rashes, asthma, inflammatory bowel, or autoimmune diseases – thyroid, lupus</p>
                <a @click="openImmune" class="cp-slider__link" href="#" data-section="ib">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img">
                    <img class="cp-slider__item-img" src="/img/ppat/tablet/scroll_2/img_banner_3.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Detox Program</h4>
                <p class="cp-slider__item-text">By the time diabetes is diagnosed, doctors know that abnormal sugars may have been present 5 years</p>
                <a @click="openDetox" class="cp-slider__link" href="#" data-section="dxp">Learn More</a>
              </div>
            </swiper-slide>
            <div id="swiper-pagination1-mobile" class="swiper-pagination" slot="pagination"></div>
          </swiper>
          </no-ssr>
        </div>
      </section>

      <SecGridItems
        :title="'Personal Services:'"
        :items="[
          {
            title: 'Custom Health Programs',
            description: 'Dr. Habib creates tailor-made treatment and health programs based on diagnoses that get to the root of a problem.'
          }, {
            title: 'Weight Loss Programs',
            description: 'Effective weight loss programs, including UltraShape Power to remove stubborn belly fat.'
          }, {
            title: 'Laser Treatment',
            description: 'To remove wrinkles, dark spots and hair. Laser therapy to accelerate healing in soft- tissue injuries.'
          }, {
            title: 'Hormone Balancing',
            description: 'Programs to regularize hormones, including thyroid therapy.'
          }, {
            title: 'IV Vitamin Infusion',
            description: 'For health and immune boosts, fast relief from infection and to reduce allergies and combat chronic fatigue.'
          }, {
            title: 'Nutritional Counseling',
            description: 'Dr. Habib provides diet and supplementation programs, including his own high-quality supplement line.'
          }, {
            title: 'Healthy Meal Preparation',
            description: 'Choice of a raw food chef or traditional chef. Pickup or delivery of healthy meals to complement medical treatment.'
          }, {
            title: 'Urgent Medical Care Services',
            description: 'From allergies, rashes and minor injuries to serious infections such as pneumonia.'
          }, {
            title: 'Anti-Aging Medicine',
            description: 'Slow and even reverse aging!'
          }, {
            title: 'Detoxification Programs',
            description: 'Chelation Therapy and more.'
          }, {
            title: 'Chronic Disease Prevention',
            description: 'Detect and prevent disease.'
          }, {
            title: 'Infrared Sauna',
            description: 'Detoxify and de-stress your body.'
          }, {
            title: 'Complementary Treatment',
            description: 'Next Health works with in-house complementary treatment doctors, including:',
            list: ['Massage', 'Chiropractic', 'Physical Therapy', 'Acupuncture']
          }, {
            title: 'Regenerative Medicine for Athletic Repair & Performance',
            list: ['Peptide Therapy', 'Prolotherapy', 'Stem Cell (PRP) Therapy Prolozone.']
          }, {
            title: 'Ozone & Oxygen Therapy',
            description: 'Ozone therapy oxygenates the body and can reduce inflammation, slow aging and increase energy. High-pressure oxygen therapy for fast infection relief.'
          }, {
            title: 'Colon Hydrotherapy',
            description: 'For detoxification and improved digestion.'
          },
        ]"
        :index="4" />

      <SecGridItems
        :title="'Conditions <br>Dr. Habib Treats:'"
        :items="[
          {
            title: 'Digestive Issues',
            list: ['Leaky Gut', 'Irritable Bowel Syndrome', 'Acid Reflux', 'Ulcerative Colitis', 'Constipation', 'Bloating', 'Liver Toxicity']
          }, {
            title: 'Allergies & Respiratory Problems',
            list: ['Allergies', 'Eczema', 'Rashes', 'Asthma', 'Food Sensitivities', 'Respiratory Issues']
          }, {
            title: 'Energy & Sleep Issues',
            list: ['Energy Sleep Issues', 'Chronic Fatigue &amp; Low Energy', 'Insomnia', 'Sleep Apnea', 'Mental Fog']
          }, {
            title: 'Joints',
            list: ['Rheumatoid Arthritis', 'Osteoarthritis', 'Joint Pain', 'Swelling Stiffness', 'Anti Inflammatory Therapies']
          }, {
            title: 'Sport Injuries',
            list: ['ACL', 'Tendinitis', 'Rotator Cuff']
          }, {
            title: 'Heart Issues',
            list: ['High Blood Pressure', 'High Cholesterol', 'Heart Disease']
          }, {
            title: 'Neuro',
            list: ['Neuropathy', 'Chronic Headaches', 'Migraines']
          }, {
            title: 'Detoxification Program',
            list: ['Liver Detox', 'Chelation Therapy', 'Heavy Metal Toxicity']
          }, {
            title: 'Autoimmune Diseases',
            list: ['Crohn’s Disease', 'Lupus', 'Abdominal Pain', 'Infections']
          }, {
            title: 'Hormonal Problems',
            list: ['Hormonal Imbalances', 'Men’s Hormone Disorders', 'Women’s Hormone Disorders', 'Thyroid Problems']
          }, {
            title: 'Sexual Health',
            list: ['Sexual Dysfunction', 'Erectile Dysfunction', 'Female Stimulation']
          }, {
            title: 'Diabetes',
            list: ['Neuropathy', 'Vascular Problems', 'Kidney Problems']
          }
        ]"
        :itemsInSlideForResponsive="{
          desktop: 8,
          tabled: 6,
          mobile: 4
        }"
        :index="5" />
    </LayoutFullPage>

    <transition name="fade">
      <HeartHealth v-if="isHeartHealthOpen" @closed="isHeartHealthClose" />>
      <CancerPrevention v-if="isCancerPreventionOpen" @closed="isCancerPreventionClose" />
      <DiabetesPrevention v-if="isDiabetesPreventionOpen" @closed="isDiabetesPreventionClose" />
      <Vitamin v-if="isVitaminOpen" @closed="isVitaminClose" />
      <Immune v-if="isImmuneOpen" @closed="isImmuneClose" />
      <Detox v-if="isDetoxOpen" @closed="isDetoxClose" />
    </transition>
    <div class="popUp form-contact-us">
      <form class="animated">
        <div class="popUp__header">
          <h2 class="popUp__title">Contact Us</h2>
          <button class="btn btn__close-popUp" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"
                 viewBox="0 0 24 24">
              <defs>
                <path id="luc4a"
                      d="M4362.49 916.9l-8.49-8.49-8.49 8.49a1 1 0 0 1-1.41-1.41l8.49-8.49-8.49-8.49a1 1 0 1 1 1.41-1.41l8.49 8.49 8.49-8.49a1 1 0 1 1 1.4 1.41l-8.48 8.49 8.49 8.49a1 1 0 1 1-1.41 1.41z"/>
              </defs>
              <g>
                <g opacity="1" transform="translate(-4342 -895)">
                  <use fill="#fff" xlink:href="#luc4a"/>
                </g>
              </g>
            </svg>
          </button>
        </div>
        <div class="popUp__body">
          <div class="form-group">
            <input type="text" placeholder="Your Name" name="name" autocomplete="off" required>
          </div>
          <div class="form-group">
            <input type="email" placeholder="Your Email" name="email" autocomplete="off" required>
          </div>
          <div class="form-group">
            <input type="text" name="subject" autocomplete="off" placeholder="Subject (optional)">
          </div>
          <div class="form-group">
            <textarea placeholder="Your Message" autocomplete="off" name="mess" required></textarea>
          </div>
          <button class="btn btn__send">Send Request</button>
        </div>
      </form>
    </div>
    <div v-if="isSuccsesAlert" class="popUp succsesAlert">
      <div class="popUp__wrapper animated">
        <div class="popUp__header">
          <h2>Thank You</h2>
        </div>
        <div class="popUp__body">
          <p>Thanks for your submission. We will contact you soon.</p>
        </div>
      </div>
    </div>
    <div class="js-md"></div>
    <div class="js-xs"></div>
    <div class="js-lg"></div>
    <div class="js-sm"></div>
    <div class="js-xl"></div>
  </div>
</template>

<script>
  import LayoutFullPage from "@/layouts/MainFullPage";
  import HeartHealth from "@/components/modals/HeartHealth";
  import CancerPrevention from "@/components/modals/CancerPrevention";
  import DiabetesPrevention from "@/components/modals/DiabetesPrevention";
  import Vitamin from "@/components/modals/Vitamin";
  import Immune from "@/components/modals/Immune";
  import Detox from "@/components/modals/Detox";

  import SecGridItems from "@/components/share/sections/GridItems";

  export default {
    name: 'Services',
    components: {
      LayoutFullPage,
      Detox,
      Immune,
      Vitamin,
      DiabetesPrevention,
      CancerPrevention,
      HeartHealth,
      SecGridItems
    },
    head: {
      title: 'Preventative Health Care with Advanced Medical Diagnosis | NextHealth',
      meta: [
        {
          vmid: 'description',
          name: 'description',
          content: 'Learn more about our integrated holistic medicine center. Next Health is home to personalized organic treatments for heart health, cancer prevention, and diabetes prevention.'
        },
        {vmid: 'name', name: 'robots', content: 'index'},
      ],
      link: [
        {rel: 'canonical', href: 'https://www.nexthealthmed.com/personalized-programs-and-treatments'}
      ]
    },
    data: () => ({
      mounted: false,
      fullPageAnchors: ['Personalized Programs and Treatments', 'Customized Programs', 'Personal Services', 'Conditions  Dr. Habib Treats'],
      isSuccsesAlert: false,
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: '#swiper-pagination1',
          clickable: true
        }
      },
      swiperOption6: {
        slidesPerView: 1,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: '#swiper-pagination1-mobile',
          clickable: true
        }
      },
      isHeartHealthOpen: false,
      isCancerPreventionOpen: false,
      isDiabetesPreventionOpen: false,
      isVitaminOpen: false,
      isImmuneOpen: false,
      isDetoxOpen: false,
      isPopUpOpen: false,
      scrolled: false
    }),
    methods: {
      afterLoad(anchorLink, index) {
        this.scrolled = index.isLast;
      },
      openPopUp() {
        this.isPopUpOpen = true;
      },
      closePopUp() {
        this.isPopUpOpen = false;
      },
      openHeartHealth() {
        this.isHeartHealthOpen = !this.isHeartHealthOpen;
        // fullpage_api.setAllowScrolling(false);
      },
      isHeartHealthClose() {
        this.isHeartHealthOpen = false;
      },
      openCancerPrevention() {
        this.isCancerPreventionOpen = !this.isCancerPreventionOpen;
        // fullpage_api.setAllowScrolling(false);
      },
      isCancerPreventionClose() {
        this.isCancerPreventionOpen = false;
      },
      openDiabetesPrevention() {
        this.isDiabetesPreventionOpen = !this.isDiabetesPreventionOpen;
        // fullpage_api.setAllowScrolling(false);
      },
      isDiabetesPreventionClose() {
        this.isDiabetesPreventionOpen = false;
      },
      openVitamin() {
        this.isVitaminOpen = !this.isVitaminOpen;
        // fullpage_api.setAllowScrolling(false);
      },
      isVitaminClose() {
        this.isVitaminOpen = false;
      },
      openImmune() {
        this.isImmuneOpen = !this.isImmuneOpen;
        // fullpage_api.setAllowScrolling(false);
      },
      isImmuneClose() {
        this.isImmuneOpen = false;
      },
      openDetox() {
        this.isDetoxOpen = !this.isDetoxOpen;
        // fullpage_api.setAllowScrolling(false);
      },
      isDetoxClose() {
        this.isDetoxOpen = false;
      },
      toggleNavigation() {
        this.options.navigation = !this.options.navigation
      },
      toggleScrollbar() {
        this.options.scrollBar = !this.options.scrollBar
      }
    },
    mounted() {
      this.mounted = true
    }
  }
</script>
