<template>
  <div>
    <MainHeader @openpopup="openPopUp" /> 
    <div class="landing2">
      <section class="landing-banner">
        <video
          :src="`/video/landing2/PRP_Header${isMobile ? '_Mobile' : ''}.mp4`"
          autoplay
          playsinline
          muted="muted"
          loop="loop"
          preload="true"
          class="Video"
        />
        <h1 class="h1-title">Platelet-Rich Plasma Therapy</h1>
        <span class="landing-banner__description">Regenerate using your own cells</span>
        <a href="#" class="btn-primary" @click.prevent="openPopUp()" title="Book Now">Book Now</a>
      </section>

      <section class="full-page section-odd landing-section__bg-white">
        <div class="container">
          <div>
            <h2 class="h2-title text-center title-mb">What is PRP Therapy ?</h2>
            <div class="flex-jc_sb mobile-col">
              <div
                class="video-block col-half embed-responsive embed-responsive-16by9"
              >
                <iframe
                  src="https://player.vimeo.com/video/381454451?title=0&controls=1&loop=1&byline=0&portrait=0"
                  frameborder="0"
                  allow="autoplay; fullscreen"
                  width="720"
                  height="405"
                  allowfullscreen
                  class="Video embed-responsive-item"
                ></iframe>
              </div>
              <div class="content-block col-half flex-col-end">
                <div class="content-block__text-right">
                  <p
                    class="text-primary text-right"
                  >PRP therapy has shown great promise for treating injured tendons, ligaments, muscles, and joints. Science is catching up to what traditional healers have known for centuries—that the body is adept at healing itself. Platelet-rich plasma treatment uses injections of concentrated platelets from a patient’s own blood to accelerate healing of injured tissues.</p>
                </div>

                <a
                  href="#"
                  class="btn-primary"
                  @click.prevent="openPopUp()"
                  title="Book Now"
                >Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="full-page section-even">
        <div class="container">
          <div>
            <h2 class="h2-title text-center">PRP Therapy Uses</h2>
          </div>
          <div class="prp-therapy-uses__row mobile-col-reverse">
            <div class="prp-therapy-uses__col">
              <ul class="prp-therapy-uses__list">
                <li
                  v-for="(tab,i) in tabs"
                  :key="i"
                  class="prp-therapy-uses__list-item"
                  :class="{'active': selectedTab.index === tab.index}"
                  @click="switchTabs(i)"
                >{{tab.title}}</li>
              </ul>
            </div>
            <div class="prp-therapy-uses__col">
              <div class="video-block col-half">
                <img
                  :src="`/video/landing2/${selectedTab.videoId}`"
                  alt
                  class="Video"
                  v-if="selectedTab && selectedTab.type === 'img'"
                />
                <div v-else class="embed-responsive embed-responsive-16by9">
                  <transition name="fade" mode="in-out">
                    <video
                      class="Video embed-responsive-item"
                      autoplay
                      playsinline
                      muted="muted"
                      loop="loop"
                      preload="true"
                      :poster="`/img/video-preview/${selectedTab.preview}`"
                      :src="`/video/landing2/${selectedTab.videoId}`"
                      type="video/mp4"
                    />
                  </transition>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="full-page section-odd landing-section__bg-white">
        <div class="container">
          <div>
            <h2 class="h2-title text-center title-mb">How Does PRP Therapy Work ?</h2>
            <div class="flex-jc_sb mobile-col-reverse">
              <div class="content-block col-half">
                <div class="content-block__text-left">
                  <p
                    class="text-primary"
                  >To make platelet-rich plasma, a technician takes one to a few vials of a patient’s blood and runs it through a centrifuge to concentrate blood platelets. The platelets are then mixed with blood plasma to make PRP. When PRP is injected into injured or diseased tissue, the platelets release growth factors that stimulate and increase the number of repair cells your body produces. The whole process, from the time your blood is drawn until the doctor administers the injection, typically takes about an hour. Some doctors use ultrasound imaging during the procedure. This technology allows the doctor to “see” inside your body and guide the injection to the precise site of the injured or damaged tissue.</p>
                </div>

                <a
                  href="#"
                  class="btn-primary"
                  @click.prevent="openPopUp()"
                  title="Book Now"
                >Book Now</a>
              </div>
              <div class="col-half">
                <div class="video-block embed-responsive embed-responsive-16by9">
                  <transition name="fade" mode="in-out">
                    <video
                      poster="/img/video-preview/pre5.jpg"
                      class="Video embed-responsive-item"
                      playsinline
                      autoplay
                      loop="loop"
                      muted="muted"
                      :src="`/video/landing2/How_Does_PRP_Works.mp4`"
                      type="video/mp4"
                    />
                  </transition>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="full-page section-even section-more-about-prp">
        <div class="container">
          <div>
            <h2 class="h2-title text-center">More About PRP</h2>
          </div>
          <div class="more-about-prp__row">
            <div class="more-about-prp__col">
              <div class="more-about-prp__image">
                <img src="/img/landing/side-effect.png" alt />
              </div>
              <span class="more-about-prp__col-title">PRP Therapy Side Effects</span>
              <ul class="more-about-prp__list">
                <li class="more-about-prp__list-item">Soreness at the injection site</li>
                <li class="more-about-prp__list-item">Pain and stiffness around the treatment area</li>
              </ul>
            </div>

            <div class="more-about-prp__col">
              <div class="more-about-prp__image">
                <img src="/img/landing/blood.png" alt />
              </div>
              <span class="more-about-prp__col-title">What Are Platelelets and Blood Plasma ?</span>
              <ul class="more-about-prp__list">
                <li
                  class="more-about-prp__list-item"
                >Plasma is the liquid portion of your blood; it circulates red blood cells, white blood cells, platelets, and proteins around the body.</li>
                <li
                  class="more-about-prp__list-item"
                >Platelets are blood cells that help blood to clot and play an important role in healing.</li>
              </ul>
            </div>

            <div class="more-about-prp__col">
              <div class="more-about-prp__image">
                <img src="/img/landing/clock.png" alt />
              </div>
              <span class="more-about-prp__col-title">PRP Therapy Recovery Time</span>
              <p
                class="more-about-prp__col-text text-primary"
              >Most people can continue their daily activities immediately after a PRP injection. In cases where PRP is injected after an injury, it’s best to rest the affected area. You may start to notice improvements in as little as a few days after receiving the injection, but it may take as long as several weeks or months.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="full-page section-odd landing-section__bg-white">
        <div class="container">
          <div>
            <h2 class="h2-title text-center title-mb">Start Healing with PRP Therapy</h2>
            <div class="flex-jc_sb mobile-col">
              <div class="video-block col-half embed-responsive embed-responsive-16by9" >
                <iframe
                  src="https://player.vimeo.com/video/381389164?title=0&controls=1&loop=1&byline=0&portrait=0"
                  frameborder="0"
                  allow="autoplay; fullscreen"
                  width="720"
                  height="405"
                  allowfullscreen
                  class="Video embed-responsive-item"
                ></iframe>
              </div>
              <div class="content-block col-half flex-col-end">
                <div class="content-block__text-right">
                  <p
                    class="text-primary text-right"
                  >We’ve seen promising results using platelet-rich plasma therapy with our patients. PRP treatment can treat a range of conditions, from tendonitis to arthritis pain. We offer PRP therapy for patients throughout Maryland and Virginia.</p>
                </div>

                <a
                  href="#"
                  class="btn-primary"
                  @click.prevent="openPopUp()"
                  title="Book Now"
                >Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="Testimonials full-page p-y_big" id="landing">
        <div class="container">
          <div>
            <h2 class="h2-title text-center title-mb">Testimonials</h2>
            <div>
              <div>
                <swiper :options="swiperOptionTestimonials" class="sw4">
                  <swiper-slide>
                    <div class="Testimonial__slide">
                      <div class="Testimonial">
                        <img
                          class="Testimonial__avatar"
                          src="/img/landing/photo-1.jpg"
                          alt="Lorem I."
                          width="120"
                          height="120"
                        />
                        <div
                          class="Testimonial__description"
                        >I was referred to Doctor Habib by a friend, who told me that Next Health and the treatments they provide had made huge improvements to her lifestyle. I always thought that she was purely a patient for skincare and energy. After checking out the content Dr. Habib shares online, it prompted me to make an appointment. I have high blood pressure, and I honestly had no way of controlling it for myself. Next Health’s tests are amazing, I felt like they did a deep dive into my body’s wants and needs. I learned what foods inflamed my body, as well as many other things. Dr. Habib placed me on a special program designed for me and only me, and I can with 100% confidence tell you that through the treatment and patient care at Next Health, not only has my blood pressure been controlled, but I feel like a new woman.</div>
                        <div class="Testimonial__signature">Jim B.</div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="Testimonial__slide">
                      <div class="Testimonial">
                        <img
                          class="Testimonial__avatar"
                          src="/img/landing/photo-2.jpg"
                          alt="Lorem I."
                          width="120"
                          height="120"
                        />
                        <div
                          class="Testimonial__description"
                        >I never had the best of luck with my health, being diagnosed with diabetes and having a sweet tooth did not go hand in hand. I honestly felt like my illness was controlling me, and not the other way around. When I came across Dr. Habib I was searching for holistic and natural methods to take ownership of my health. I was tired of feeling tired, I had aches throughout my body, and my family was concerned the most about the risk of stroke. I sat down with Dr. Habib, and even before I did their executive physical, he shared so much insight with me regarding my illness, just that conversation alone had helped me tremendously. I can tell you one thing, that Next Health has changed not only my life but have brought peace of mind to my family. For that, I am forever grateful to Dr. Habib and his staff at Next Health.</div>
                        <div class="Testimonial__signature">Jenny C.</div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="Testimonial__slide">
                      <div class="Testimonial">
                        <img
                          class="Testimonial__avatar"
                          src="/img/landing/photo-3.jpg"
                          alt="Lorem I."
                          width="120"
                          height="120"
                        />
                        <div
                          class="Testimonial__description"
                        >As an older gentleman, I began to experience trouble with intimacy between my wife and I. The issue wasn’t just affecting the bedroom, it was also affecting my marriage and other relationships I had at work and socially. I was overly stressed, and in all honesty, my pride was a tad damaged. I came to Dr. Habib after seeing one of his online videos where he was discussing erectile dysfunction. I immediately booked a consult with him, because I was eager to remediate these issues that were causing huge problems in my life. I can happily say that through Next Health’s treatments and supplementation, things have approved. I’m glad I didn’t have to go down the route of using Viagra or any of the other medications they provide over the counter. Dr. Habib was able to treat me naturally, and in a way that was good for my life and body.</div>
                        <div class="Testimonial__signature">Dave K.</div>
                      </div>
                    </div>
                  </swiper-slide>
                </swiper>
              </div>
              <div class="Arrows Tabs__arrows">
                <button @click="prevSlide('.sw4')" class="Arrow Arrow--left js-Tabs__arrow--left">
                  <img src="/svg/arrow--left.svg" alt="Left" width="8" height="14" />
                </button>
                <button @click="nextSlide('.sw4')" class="Arrow Arrow--left js-Tabs__arrow--right">
                  <img src="/svg/arrow--right.svg" alt="Right" width="8" height="14" />
                </button>
              </div>
              <a href="#" class="BookNow" @click.prevent="openPopUp()" title="Book Now">Book Now</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <transition name="fade">
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
    </transition>
    <AppFooter />
  </div>
</template>

<script>
import MainHeader from "@/components/general/Header";
import AppFooter from "@/components/general/Footer";
import ContactUs from "@/components/modals/ContactUs";

export default {
  components: { AppFooter, MainHeader, ContactUs },
  data: () => ({
    windowWidth: 0,
    isPopUpOpen: false,
    selectedTab: {
      index: 1,
      title: "Soft Tissue Damage",
      videoId: "362469486"
    },
    tabs: [
      {
        index: 1,
        title: "Soft Tissue Damage",
        videoId: "Joint_&_Ligament_Injuries_PRP.mp4",
        preview: "pre1.jpg"
      },
      {
        index: 2,
        title: "Tennis Elbow",
        videoId: "Tennis_Elbow_PRP.mp4",
        preview: "pre2.jpg"
      },
      {
        index: 3,
        title: "Osteoarthritis",
        videoId: "Spinal_PRP_2.mp4",
        preview: "pre3.jpg"
      },
      {
        index: 4,
        title: "PRP for Hair",
        videoId: "Hair_PRP.mp4",
        preview: "pre4.jpg"
      },
      {
        index: 5,
        title: "Facial PRP",
        videoId: "Faical_PRP.jpg",
        type: "img"
      }
    ],
    swiperOptionTestimonials: {
      slidesPerView: 3,
      spaceBetween: 20,
      slidesPerGroup: 1,
      initialSlide: 0,
      loop: true,
      loopFillGroupWithBlank: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      opts: {
        start: 0,
        dir: "v",
        loop: false,
        duration: 500
      },
      breakpoints: {
        // when window width is >= 320px
        /* 560: {
              slidesPerView: 1,
              spaceBetween: 15
          },
          768: {
              slidesPerView: 1,
              spaceBetween: 15
          }, */
        1200: {
          slidesPerView: 1,
          spaceBetween: 20
        }
      }
    },
    videoOn: 1
  }),
  head: {
    title: "Platelet-Rich Plasma Therapy",
    meta: [
      { vmid: "name", name: "robots", content: "index" }
      /* {
        vmid: "description",
        name: "description",
        content:
          "Next Health is an alternative medicine provider serving patients throughout Maryland and Virginia. We use integrative medicine techniques and therapeutic approaches from several disciplines, including functional, precision, and natural medicine."
      } */
    ],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/platelet-rich-plasma-prp-therapy'}
    ]
  },
  methods: {
    prevSlide(el) {
      const selEl = "sel_" + el.substr(1);

      if (selEl !== "sel_sw1") {
        var mySwiper = document.querySelector(el).swiper;
        mySwiper.slidePrev();
        return;
      }

      if (this[selEl].value != this[selEl].min) {
        this.switchSlide(--this[selEl].value, el);
        this.videoOn = this.videoOn - 1;
      }
    },
    nextSlide(el) {
      const selEl = "sel_" + el.substr(1);

      if (selEl !== "sel_sw1") {
        var mySwiper = document.querySelector(el).swiper;
        mySwiper.slideNext();
        return;
      }

      if (this[selEl].value != this[selEl].max) {
        this.switchSlide(++this[selEl].value, el);
        this.videoOn = this.videoOn + 1;
      }
    },
    switchTabs(index) {
      this.selectedTab = this.tabs[index];
    },
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    }
  },
  mounted() {
    this.selectedTab = this.tabs[0];
    this.windowWidth = window.innerWidth;
  },
  computed: {
    isMobile() {
      return this.windowWidth <= 560;
    }
  }
};
</script>

<style lang="scss">
#landing .Arrow {
  border: none;
}
@media (max-width: 560px) {
  #landing .Tabs__arrows {
    margin-top: 10px;
  }
  .landing2 {
    .content-block__text-right,
    .content-block__text-left {
      padding: 50px 25px !important;
      .text-right {
        text-align: left;
      }
    }
    .prp-therapy-uses__col {
      padding: 0 25px !important;
    }
  }
}
</style>
