<template>
  <div>
    <LayoutFullPage :anchors="fullPageAnchors" class="preventative-care">
      <section class="section preventative-care preventative-care__main">
        <img class="img-mobile" src="/img/preventative-care/bg_1-mobile.jpg" />
        <img class="img-tablet" src="/img/preventative-care/bg_1-tablet.jpg" />
        <div class="section__info section__info__mobile animated slideInLeft">
          <h1 class="title-section executive-physical__title">Preventative Care</h1>
          <h4 class="subtitle-section">Harness the Power of All the Organ Systems, Interconnected</h4>
          <div class="stepsTop">
            <div>
              01
              <br />
              <span>Proactive</span>
            </div>
            <div>
              02
              <br />
              <span>Optimal Performance</span>
            </div>
            <div>
              03
              <br />
              <span>Longevity</span>
            </div>
          </div>
        </div>
      </section>
      <section class="section preventative-care preventative-care__early-detection">
        <img class="img-mobile" src="/img/preventative-care/bg_2-mobile.jpg" />
        <img class="img-tablet" src="/img/preventative-care/bg_2-tablet.jpg" />
        <div class="section__info section__info__mobile">
          <h2 class="title-section executive-physical__title">Early Detection is not Prevention</h2>
          <p
            class="text-section"
          >Harmful signals, such as inflammation, trigger the expression of most chronic diseases years in advance. The next Heath way is to seek out, halt, and then reverse harmful processes. People are aging prematurely, leading to common diseases that used to be related to people of more advanced age. True PREVENTION is achieved through slowing down the aging process. We have the technology to identify your real DNA and how fast you’re aging. The next health way engages key pathways and processes to rejuvenate your cells and organs.</p>
        </div>
      </section>
      <section class="section preventative-care preventative-care__prevent-disease">
        <div class="section__info section__info__mobile">
          <h2 class="title-section executive-physical__title">Prevent Disease</h2>
          <div class="section-flex-row section-flex-row--50">
            <p class="text-section">
              Once cancer comes in, it is almost impossible to guarantee against its recurrence, even with treatment. The medical definition of a cure is surviving beyond 5 years; not very reassuring. When there is a small opening in your front door and someone has a foot in the crack, it’s hard to push it shut. Look at cancer and disease the same way, it’s easier to keep the door locked. While the door is shut you have time to invest in additional locks and security devices. Next Health can offer that security. Just as importantly, Next Health will conduct a thorough security check and warn of impending breaches before they happen. We will develop a personalized roadmap to achieve optimal health.
              <br />
              <br />By the time disease presents, up to 70% of your normal function has gone. This is when the body tries to warn you through symptoms such as low energy, erectile dysfunction, gastrointestinal symptoms like irritable bowel or acid reflux, aches and pains, and lack of mental clarity. At the symptom stage, almost all the conventional tests are normal. Nobody is checking for nutrient deficiencies, inflammation markers, abnormal cellular signal for cancer or degeneration, genetic/immunological markers, quality of the cholesterol particles, or insulin resistance.
            </p>
            <p class="text-section">
              Therefore, it comes as no surprise that most patients, by the time they are diagnosed, are unable to truly cure their condition even with medication.
              <br />
              <br />Almost all the tools that most doctors use in their annual physical are specifically for disease confirmation. Almost all executive physical centers boast of the latest and greatest of the same tools. Only a few forward thinking centers like Next Health actively pursue technologies that further evaluate that 70% decline as it happens.
              <br />
              <br />As we age, there is a natural decline in normal function, however for most of us aging is accelerated (premature aging) with excessive stress, constant workload, inadequate sleep, poor diet, lack of exercise, nutrient depletion, inflammation, cellular toxicity, etc.
              <br />
              <br />Sometimes even the food you’re eating can cause your immune system to turn on you, not to mention coloring, additives, preservatives, and environmental exposure.
              <br />Next Health can predict disease 5 – 10 years in advance. With more of your reserves available, Next Health can not only delay, but actually prevent disease.
            </p>
          </div>
        </div>
      </section>
      <section class="section preventative-care preventative-care__wisanp">
        <img class="img-mobile" src="/img/preventative-care/bg_4-mobile.jpg" />
        <img class="img-tablet" src="/img/preventative-care/bg_4-tablet.jpg" />
        <div class="section__info section__info__mobile">
          <h2 class="title-section executive-physical__title">What is a Normal Physical?</h2>
          <p class="text-section">
            A normal physical in your 20s is not the same as a normal physical in your 40s or 50s. Next Health will quantify your true biological age. The faster you age, the more likely you are to have age-related diseases such as high blood pressure, high cholesterol, diabetes, decrease mental sharpness, sexual dysfunction, osteoporosis, and arthritis.
            <br />Next Health has revolutionary techniques that will assist your body to function like when were younger. Not only will you feel better, objective lab parameters will be used to track the positive improvements.
          </p>
        </div>
      </section>
    </LayoutFullPage>
    <div class="popUp form-contact-us">
      <form class="animated">
        <div class="popUp__header">
          <h2 class="popUp__title">Contact Us</h2>
          <button class="btn btn__close-popUp" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <defs>
                <path
                  id="luc4a"
                  d="M4362.49 916.9l-8.49-8.49-8.49 8.49a1 1 0 0 1-1.41-1.41l8.49-8.49-8.49-8.49a1 1 0 1 1 1.41-1.41l8.49 8.49 8.49-8.49a1 1 0 1 1 1.4 1.41l-8.48 8.49 8.49 8.49a1 1 0 1 1-1.41 1.41z"
                />
              </defs>
              <g>
                <g opacity="1" transform="translate(-4342 -895)">
                  <use fill="#fff" xlink:href="#luc4a" />
                </g>
              </g>
            </svg>
          </button>
        </div>
        <div class="popUp__body">
          <div class="form-group">
            <input type="text" placeholder="Your Name" name="name" autocomplete="off" required />
          </div>
          <div class="form-group">
            <input type="email" placeholder="Your Email" name="email" autocomplete="off" required />
          </div>
          <div class="form-group">
            <input type="text" name="subject" autocomplete="off" placeholder="Subject (optional)" />
          </div>
          <div class="form-group">
            <textarea placeholder="Your Message" autocomplete="off" name="mess" required></textarea>
          </div>
          <button class="btn btn__send">Send Request</button>
        </div>
      </form>
    </div>
    <div v-if="isSuccsesAlert" class="popUp succsesAlert">
      <div class="popUp__wrapper animated">
        <div class="popUp__header">
          <h2>Thank You</h2>
        </div>
        <div class="popUp__body">
          <p>Thanks for your submission. We will contact you soon.</p>
        </div>
      </div>
    </div>
    <div class="js-md"></div>
    <div class="js-xs"></div>
    <div class="js-lg"></div>
    <div class="js-sm"></div>
    <div class="js-xl"></div>
  </div>
</template>
<script>
import LayoutFullPage from "@/layouts/MainFullPage"

export default {
  name: "PreventativeCare",
  components: {
    LayoutFullPage
  },
  head: {
    title: "Preventive Health Care Services and Early Detection | NextHealth",
    meta: [
      {
        vmid: "description",
        name: "description",
        content:
          "Early detection is not prevention! Get personolized physicals based on telomere scans, and read about Next Health's preventitive care here."
      },
      { vmid: "name", name: "robots", content: "index" }
    ],
    link: [
      {rel: 'canonical', href: 'https://www.nexthealthmed.com/preventative-care'}
    ]
  },
  data: () => ({
    isSuccsesAlert: false,
    fullPageAnchors: ['Preventative Care', 'Early Detection is not Prevention', 'Prevent Disease', 'What is a Normal Physical?']
  }),
  methods: {
    toggleNavigation() {
      this.options.navigation = !this.options.navigation;
    },
    toggleScrollbar() {
      this.options.scrollBar = !this.options.scrollBar;
    }
  }
};
</script>
