<template>
    <LayoutMain>
    <div class="section-sitemap-list">
        <div>
            <h1 class="title-section">Sitemap</h1>
            <ul class="sitemap-list">
                <li><nuxt-link to="/">Home</nuxt-link></li>
                <li><nuxt-link to="/about">About Us</nuxt-link></li>
                <li><nuxt-link to="/executive-physical">Executive Physical</nuxt-link></li>
                <li><nuxt-link to="/preventative-care">Preventative Care</nuxt-link></li>
                <li><nuxt-link to="/services">Services</nuxt-link></li>
                <li><nuxt-link to="/contact">Contact US</nuxt-link></li>
                <li><nuxt-link to="/terms-of-use">Terms Of Use</nuxt-link></li>
            </ul>
        </div>
    </div>
    </LayoutMain>
</template>
<script>
import LayoutMain from "@/layouts/Main"
export default {
    name: 'Sitemap',
    components: {
        LayoutMain
    },
    head: {
      title: 'Sitemap | NextHealth',
      meta: [
        /* {
          vmid: 'description',
          name: 'description',
          content: 'Learn more about our integrated holistic medicine center. Next Health is home to personalized organic treatments for heart health, cancer prevention, and diabetes prevention.'
        }, */
        {vmid: 'name', name: 'robots', content: 'index'},
      ],
      link: [
        {rel: 'canonical', href: 'https://www.nexthealthmed.com/sitemap'}
      ]
    },
}
</script>
<style scoped>
    .section-sitemap-list {
        padding: 50px;
        text-align: center;
        min-height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .sitemap-list{
        background-color: #fff;
        padding: 40px;
        border-radius: 5px;
    }
    .section-sitemap-list .sitemap-list li {
        padding: 5px;
    }
    .section-sitemap-list .sitemap-list li a {
        font-weight: 600;
        font-size: 20px;
        color: #334352;
    }
    .section-sitemap-list .sitemap-list li a:hover {
        /* color: #3e5161; */
        text-decoration: underline;
    }
</style>
