<template>
  <div style="background: #1A242C">
    <MainHeader @openpopup="openPopUp"/>
    <div class="flexScroll home">
      <section class="section home__main">
        <div class="Home__info animated slideInLeft">
          <h1 class="title-section home__title">Speaker Request</h1>
          <p class="home__text">Invite Dr. Habib to speak at your<br> next event.</p>
          <a href="#" @click.prevent="openPopUp()" class="request__button" title="Request Now">Request Now</a>
        </div>
      </section>
      <section class="section request__yt">
        <div class="home__youtube">
          <h3>Youtube Feed</h3>
          <div class="yt__video__row">
              <div class="home__vido__yt">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YupiDsOuOTY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="home__vido__yt">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mT3XtNeol9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="home__vido__yt">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CYRykrjGXPk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
        </div>
      </section>
    </div>
    <AppFooter/>
    <transition name="fade">
    <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
    </transition>
  </div>
</template>

<script>
  import {apiURL} from '@/helpers/config';
  import axios from 'axios';
  
  import MainHeader from "@/components/general/Header";
  import AppFooter from "@/components/general/Footer";
  import ContactUs from "@/components/modals/ContactUs";
  

  export default {
    name: "SpeakerRequest",
    components: {ContactUs, AppFooter, MainHeader},
    head: {
      title: 'Dr. Habib’s Preventative Care & Advanced Executive Physical Exams | NextHealth.org',
      meta: [
          { vmid: 'name', name: 'robots', content: 'index' },
          { vmid: 'description', name: 'description', content: 'Preventative care has never been more important; take an extensive 6-week executive physical examination. Detect early health issues, cancer, and chornic health problems. Dr. Habib, along with advanced medical techology can help you have control of your health.' },
      ],
      link: [
        {rel: 'canonical', href: 'https://www.nexthealthmed.com/speaker-request'}
      ]
    },
    data: () => ({
      isPopUpOpen: false,
      userEmail: '',
      isValid: true,
      isSubscription: false
    }),
    methods: {
      openPopUp() {
        this.isPopUpOpen = true;
      },
      closePopUp() {
        this.isPopUpOpen = false;
      },
      emailValid() {
        this.isValid = this.isEmailValid();
        this.isValid = (this.userEmail.length == 0) ? true : this.isValid
      },
      subscription() {
        this.isValid = this.isEmailValid();

        if (this.isValid) {
          axios.post(apiURL + '/api/public/subscription', {
            email: this.userEmail,
          })
            .then(response => {
              this.isSubscription = true;
            })
            .catch((error) => console.log(error));
        }
      },
      isEmailValid() {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.userEmail);
      }


    }
  }
</script>

<style scoped>
  .flexScroll section:after {
      display: none;
  }
  #app > div > header > div.header__block.header__block--right > p {
      display: none;
  }
  .request__button{
    margin-top: 120px;
    display: inline-block;
    width: 300px;
    height: 48px;
    background: #50bbb7;
    border-radius: 48px;
    border-width: 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    color: #fff;
  }

  .request__yt{
    padding: 81px 275px !important;
    background: #273540;
    height: 520px;
  }
</style>
