<template>
  <div class="modal is-active" style="z-index: 105">
    <div class="modal-content fullpage-container" style="width: 100%; height: 100%">
      <div class="fullpage-wp flexScroll" v-fullpage="opts">
        <section class="detox-program">
          <img class="img-mobile" src="/img/ppat/mobile/program_6-mobile.jpg" />
          <img class="img-tablet" src="/img/ppat/tablet/scroll_2/img_banner_3.jpg" />
          <div class="section__info section__info__mobile">
            <h2 class="title-section">Detox Program</h2>
            <p
              class="text-section"
            >Could toxicity be holding back your mental edge, weight loss, sexual health, or poor digestion? Toxins can interfere with and alter essential signals for normal organand hormonal function. By removing artificial flavors and chemical substances from your diet, you’re helping prepare your body to live a healthier and more natural lifestyles.</p>
          </div>
        </section>
      </div>
    </div>

    <header class="header header-modal">
      <div class="header__block header__block--left">
        <nuxt-link class="header__logo" to="/">
          <img src="/img/header/logo.svg" alt="logo" />
          <img class="dark-logo" src="/img/header/logo-black.svg" alt="dark logo" />
        </nuxt-link>
      </div>

      <button v-on:click="isDetoxClose" class="modal-close is-large" aria-label="close"></button>
    </header>
  </div>
</template>

<script>
export default {
  name: "Detox",
  data() {
    return {
      opts: {
        start: 0,
        dir: "v",
        loop: false,
        duration: 500
      }
    };
  },
  methods: {
    isDetoxClose() {
      this.$emit("closed");
    //   fullpage_api.setAllowScrolling(true);
    }
  }
};
</script>




