<template>
    <div class="modal is-active" style="z-index: 105">

        <div class="modal-content fullpage-container" style="width: 100%; height: 100%" >

            <div class="fullpage-wp flexScroll" v-fullpage="opts">
                <section class="diabetes-prevention"><img class="img-mobile" src="/img/ppat/mobile/program_3-mobile.jpg"/><img class="img-tablet" src="/img/ppat/tablet/scroll_1/img_banner_3.jpg"/>
                    <div class="section__info">
                        <h2 class="title-section section__info__mobile">Diabetes Prevention</h2>
                        <p class="text-section">
                            By the time diabetes is diagnosed, doctors know that abnormal sugars may have been present 5 years in advance. Up to 30% of your insulin could be depleted by then. While controlling diabetes is essential at preventing complications, abnormal sugars or pre diabetes are responsible for signals that turn on inflammation, leading to numerous common diseases. Abnormal signals can lead to poor cognition, heart attack,a compromised immune system, etc. Next Health has the tools to diagnose diabetes 5-10 years in advance, evaluate the amount of insulin reserves, and turn off harmful signals. Specific physician grade nutraceuticals as well as lifestyle programs can be used to prevent and treat diabetes.</p>
                        <p class="text-section"><b>P</b>&nbsp;– Preserve your insulin and prevent diabetes<br><b>T</b>&nbsp;– Turn off your inflammation signal<br><b>R</b>&nbsp;– Rebuild your reserves</p>
                    </div>
                </section>
            </div>
        </div>

        <header class="header header-modal">
            <div class="header__block header__block--left"><a class="header__logo" href="/"><img src="/img/header/logo.svg"/><img class="dark-logo" src="/img/header/logo-black.svg"/></a></div>

            <button v-on:click="isDiabetesPreventionClose" class="modal-close is-large" aria-label="close"></button>
        </header>
    </div>
</template>

<script>
    export default {
        name: "DiabetesPrevention",
        data() {
            return {
                opts: {
                    start: 0,
                    dir: 'v',
                    loop: false,
                    duration: 500,
                }
            }
        },
        methods: {
            isDiabetesPreventionClose() {
                this.$emit('closed')
                // fullpage_api.setAllowScrolling(true);
            }
        }
    }
</script>
