<template>
    <div class="modal is-active" style="z-index: 105">
        <div class="modal-background"></div>
        <div class="modal-content fullpage-container" style="width: 100%;" >

            <div class="fullpage-wp flexScroll" v-fullpage="opts">
             <section class="page package-section executive-physical__physical  gold" ><img class="img-mobile" src="/img/executive-physical/gold/img_bg_1_mobile.jpg"/><img class="img-tablet" src="/img/executive-physical/gold/img_bg_1_tablet.jpg"/>

                <h2  v-animate="{value: 'slideInLeft'}" class="section__info title-section executive-physical__title">Gold Physical</h2>
                <h4 v-animate="{value: 'slideInLeft', delay:500}"  class="section__info executive-physical__subtitle">6 Week Life Changing Program</h4>

        </section>
             <section  class="page package-section executive-physical__collection  gold"><img class="img-mobile" src="/img/executive-physical/gold/img_bg_2_mobile.jpg"/><img class="img-tablet" src="/img/executive-physical/gold/img_bg_2_tablet.jpg"/>
                 <h2 v-animate="{value: 'slideInLeft'}" class="section__info  title-section executive-physical__title animated slideInLeft">Data Collection</h2>
                <h6 v-animate="{value: 'slideInLeft', delay:500}" class="section__info executive-physical__col-step-title">01 Step - 1 Day</h6>
                <h4 v-animate="{value: 'slideInLeft', delay:1000}" class="section__info executive-physical__subtitle">Patient History Research / Total Body Physical</h4>
                <div v-animate="{value: 'fadeIn', delay: 1800}" class="section__info executive-physical__col-info">
                    <p>Following tests are performed:</p>
                    <div class="mobile-slider">
                        <div class="executive-physical__col-info-wrapper">
                            <p>Full History and Physical</p>
                            <p>Predictive Genetic Markers for Cardiac Diseases, Diabetes, Cancerous Blood Clots, and Kidney Disease</p>
                            <p>Inflammation Markers</p>
                        </div>
                        <div class="executive-physical__col-info-wrapper">
                            <p>EKG</p>
                            <p>Red Blood Cell Omega-3 Levels</p>
                            <p>Gut Function</p>
                        </div>
                        <div class="executive-physical__col-info-wrapper">
                            <p>Resting Metabolic Rate</p>
                            <p>Complete Blood Count with Differential</p>
                            <p>Cancer Markers</p>
                        </div>
                        <div class="executive-physical__col-info-wrapper">
                            <p>Arterial Health Profile DPA & Central BP</p>
                            <p>Insulin Resistance Parameters</p>
                            <p>Toxic Burden</p>
                        </div>
                        <div class="executive-physical__col-info-wrapper">
                            <p>Body Mass Index</p>
                            <p>Food Allergy and Sensitivity Testing to Chemical, Coloring and Preservatives</p>
                            <p>Hormonal Status.</p>
                        </div>
                        <div class="executive-physical__col-info-wrapper">
                            <p>Advanced Cardiac Evaluation and Analysis</p>
                            <p>Functional Intracellular Nutrient Testing</p>
                        </div>
                    </div>
                </div>

        </section>
             <section class="page package-section executive-physical__jumpstart  gold"><img class="img-mobile" src="/img/executive-physical/gold/img_bg_3_mobile.jpg"/><img class="img-tablet" src="/img/executive-physical/gold/img_bg_3_tablet.jpg"/>

                        <h2 v-animate="{value: 'slideInLeft'}" class="section__info title-section executive-physical__title">Get Ready to Jumpstart</h2>
                        <h6 v-animate="{value: 'slideInLeft', delay:500}" class="section__info executive-physical__col-step-title">02 Step - Week 2</h6>
                        <h4 v-animate="{value: 'slideInLeft', delay:1000}" class="section__info executive-physical__subtitle">Personalized Plan & Therapeutic Intervention</h4>
                        <div v-animate="{value: 'fadeIn', delay: 1800}" class="section__info executive-physical__col-info">
                            <div class="executive-physical__col-info-wrapper">
                                <ul class="list-circle">
                                    <li><span>Extensive follow up of up to 80% of available data</span></li>
                                    <li><span>IV Vitamin Therapy</span></li>
                                    <li><span>Create a health plan that will Predict, Prevent, Pro-long:</span></li>
                                    <ul>
                                        <li><span>Target problems</span></li>
                                        <li><span>Optimal foods and food sensitivity</span></li>
                                        <li><span>Depletions of your body</span></li>
                                        <li><span>Supplements to optimize your body</span></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>

                </section>
             <section class="page package-section executive-physical__boost  gold"><img class="img-mobile" src="/img/executive-physical/gold/img_bg_4_mobile.jpg"/><img class="img-tablet" src="/img/executive-physical/gold/img_bg_4_tablet.jpg"/>

                        <h2 v-animate="{value: 'slideInLeft'}" class="section__info title-section executive-physical__title">Health Boost</h2>
                        <h6 v-animate="{value: 'slideInLeft', delay:500}" class="section__info executive-physical__col-step-title">03 Step - Week 3, 4 & 5</h6>
                        <h4 v-animate="{value: 'slideInLeft', delay:1000}" class="section__info executive-physical__subtitle">Consolidate 100% of Data - Recap your Total Body Health Plan</h4>
                        <div v-animate="{value: 'fadeIn', delay: 1800}" class="section__info executive-physical__col-info">
                            <div class="executive-physical__col-info-wrapper">
                                <ul class="list-circle">
                                    <li><span>Redirect any issues with health plan</span></li>
                                    <li><span>Administrate IV vitamin therapy</span></li>
                                    <li><span>Reinforce your health plan</span></li>
                                </ul>
                            </div>
                        </div>

                </section>
             <section class="page package-section executive-physical__health  gold"><img class="img-mobile" src="/img/executive-physical/gold/img_bg_5_mobile.jpg"/><img class="img-tablet" src="/img/executive-physical/gold/img_bg_5_tablet.jpg"/>

                        <h2 v-animate="{value: 'slideInLeft'}" class="section__info title-section executive-physical__title">Strategic Health</h2>
                        <h6 v-animate="{value: 'slideInLeft', delay:500}" class="section__info executive-physical__col-step-title">04 Step - Week 5</h6>
                        <h4 v-animate="{value: 'slideInLeft', delay:1000}" class="section__info executive-physical__subtitle">Final Recap</h4>
                        <div v-animate="{value: 'fadeIn', delay: 1800}" class="section__info executive-physical__col-info">
                            <div class="executive-physical__col-info-wrapper">
                                <ul class="list-circle">
                                    <li><span>Redirect any issues with health plan</span></li>
                                    <li><span>Reinforce your health plan</span></li>
                                    <li><span>Administrate IV vitamin therapy</span></li>
                                </ul>
                            </div>
                        </div>

             </section>
                <section class="page package-section executive-physical__benefits  gold">

                    <h2 v-animate="{value: 'slideInLeft'}" class="section__info title-section executive-physical__title">Benefits</h2>
                    <div v-animate="{value: 'fadeIn', delay:800}" class="section__info executive-physical__benefits-wrapper">
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-1.svg"/>
                            <p>H-Club membership Be part of a select group Feel the passion</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-2.svg"/>
                            <p>Direct access to Dr. Habib</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-3.svg"/>
                            <p>Same day consultations and medical attention</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-4.svg"/>
                            <p>All products, services and therapies included</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-5.svg"/>
                            <p>Virtual visits</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-6.svg"/>
                            <p>Call in prescriptions</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-7.svg"/>
                            <p>Follow-up and collaboration with all appropriate healthcare professionals</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-8.svg"/>
                            <p>Peace of mind from total body health</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-9.svg"/>
                            <p>Unmatched executive physicals</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-10.svg"/>
                            <p>Targeted programs (Precision Medicine)</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-11.svg"/>
                            <p>Jumpstart into Next Health’s trademark Ultra Program</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-12.svg"/>
                            <p>Access to comprehensive medical care for the entire family</p>
                        </div>
                        <div class="executive-physical__benefits-item animated bounceIn"><img src="/img/executive-physical/icon-13.svg"/>
                            <p>Best of traditional and alternative/ holistic/ comprehensive medicine</p>
                        </div>
                    </div>
                    <div class="mobile-slider">
                        <div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-1.svg"/>
                                <p>H-Club membership Be part of a select group Feel the passion</p>
                            </div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-2.svg"/>
                                <p>Direct access to Dr. Habib</p>
                            </div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-3.svg"/>
                                <p>Same day consultations and medical attention</p>
                            </div>
                        </div>
                        <div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-4.svg"/>
                                <p>All products, services and therapies included</p>
                            </div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-5.svg"/>
                                <p>Virtual visits</p>
                            </div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-6.svg"/>
                                <p>Call in prescriptions</p>
                            </div>
                        </div>
                        <div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-7.svg"/>
                                <p>Follow-up and collaboration with all appropriate healthcare professionals</p>
                            </div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-8.svg"/>
                                <p>Peace of mind from total body health</p>
                            </div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-9.svg"/>
                                <p>Unmatched executive physicals</p>
                            </div>
                        </div>
                        <div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-10.svg"/>
                                <p>Targeted programs (Precision Medicine)</p>
                            </div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-11.svg"/>
                                <p>Jumpstart into Next Health’s trademark Ultra Program</p>
                            </div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-12.svg"/>
                                <p>Access to comprehensive medical care for the entire family</p>
                            </div>
                        </div>
                        <div>
                            <div class="executive-physical__benefits-item"><img src="/img/executive-physical/icon-13.svg">
                                <p>Best of traditional and alternative/ holistic/ comprehensive medicine</p>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
          </div>

      <header class="header header-modal">
        <div class="header__block header__block--left"><a class="header__logo" href="/"><img src="/img/header/logo.svg"/><img class="dark-logo" src="/img/header/logo-black.svg"/></a></div>

        <button v-on:click="isGoldClose" class="modal-close is-large" aria-label="close"></button>
      </header>
    </div>
</template>

<script>
    export default {
        name: "gold",
        data() {
            return {
                opts: {
                    start: 0,
                    dir: 'v',
                    loop: false,
                    duration: 500,
                    }
            }
        },
        methods: {
            isGoldClose() {
                this.$emit('closed')
            }
        }
    }
</script>

