<template>
  <div class="modal is-active" style="z-index: 105">
    <div class="modal-content fullpage-container" style="width: 100%;">
      <div class="fullpage-wp flexScroll" v-fullpage="opts">
        <section class="heart-health">
          <img class="img-mobile" src="/img/ppat/mobile/program_1-mobile.jpg" />
          <img class="img-tablet" src="/img/ppat/tablet/scroll_1/img_banner_1.jpg" />
          <div class="section__info section__info__mobile">
            <h2 class="title-section">Heart Health</h2>
            <p class="text-section">The #1 Killer.</p>
            <p class="text-section">Two-thirds of heart attack patients have normal cholesterol.</p>
            <p
              class="text-section"
            >Establishes quality over quantity of cholesterol. Analyses the molecular size of the risky cholesterol. Identifies inflammation in the coronary arteries. Programs to change lifestyle, medical foods, reduce weight, implement science based natural therapies.</p>
            <p
              class="text-section"
            >Next Health’s goal is to improve bad outcome. Medication alone can only improve outcome by 25%. It’s no wonder the CDC recommends lifestyle changes as the #1 way to control cholesterol and heart disease.</p>
            <p
              class="text-section"
            >Medicine is extremely successful at lowering the quantity of cholesterol; however, only lifestyle has proven to alter the quality of cholesterol. Let Next Health help you implement a plan to negotiate your way around the 75% where medicine alone cannot help.</p>
          </div>
        </section>
      </div>
    </div>

    <header class="header header-modal">
      <div class="header__block header__block--left">
        <a class="header__logo" href="/">
          <img src="/img/header/logo.svg" />
          <img class="dark-logo" src="/img/header/logo-black.svg" />
        </a>
      </div>

      <button v-on:click="isHeartHealthClose" class="modal-close is-large" aria-label="close"></button>
    </header>
  </div>
</template>

<script>
export default {
  name: "HeartHealth",
  data() {
    return {
      opts: {
        start: 0,
        dir: "v",
        loop: false,
        duration: 500
      }
    };
  },
  methods: {
    isHeartHealthClose() {
      this.$emit("closed");
    //   fullpage_api.setAllowScrolling(true);
    }
  }
};
</script>
