<template>
    <div class="modal is-active" style="z-index: 105">
        <div class="modal-content fullpage-container" style="width: 100%; height: 100%" >
            <div class="fullpage-wp flexScroll" v-fullpage="opts">
                <section class="immune-boosting"><img class="img-mobile" src="/img/ppat/mobile/program_5-mobile.jpg"/><img class="img-tablet" src="/img/ppat/tablet/scroll_2/img_banner_2.jpg"/>
                    <div class="section__info section__info__mobile">
                        <h2 class="title-section">Immune Boosting</h2>
                        <p class="text-section">
                            Seeing too many infections – sinuses, ears, lungs, throat, skin? Seeing too many allergies, rashes, asthma, inflammatory bowel, or autoimmune diseases – thyroid, lupus, rheumatoid? Hoping not to see cancer? Whether you see the immune system at work or not, it’s operating 24/7. At Next Health, we’ll identify immune challenges, establish your toxic load score, identify inflammatory triggers and implement strategiesto improve overall symptoms. The ultimate goal is to maintain a robust immune system so as to never see cancer, infection, inflammation, or autoimmune diseases.</p>
                        <p class="text-section"><b>B</b>&nbsp;– Balance the immune system, measure the toxic load, evaluate the immune reserves<br><b>N</b>&nbsp;– Neutralize the immune stressor<br><b>R</b>&nbsp;– Repair and Rejuvenate the immune system</p>
                    </div>
                </section>
            </div>
        </div>

        <header class="header header-modal">
            <div class="header__block header__block--left">
                <a class="header__logo" href="/">
                    <img src="/img/header/logo.svg"/>
                    <img class="dark-logo" src="/img/header/logo-black.svg"/>
                </a>
            </div>
            <button v-on:click="isImmuneClose" class="modal-close is-large" aria-label="close"></button>
        </header>
    </div>
</template>

<script>
    export default {
        name: "Immune",
        data() {
            return {
                opts: {
                    start: 0,
                    dir: 'v',
                    loop: false,
                    duration: 500,
                }
            }
        },
        methods: {
            isImmuneClose() {
                this.$emit('closed')
            }
        }
    }
</script>


