<template>
    <div>
      <div class="container">
          <div class="google-map" :id="name"></div>
      </div>
      <!-- Add google map -->
      <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2MmAXGowN3w0DieMLX3FIVZNiNq4IBF0&language=en&libraries=places"></script>
      <script async src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    </div>
</template>

<script>
export default {
  name: 'google-map',
  props: ['name'],
  data: () => ({
    map: '',
    markers: [
      {
        position: {
          latitude: 39.066733,
          longitude: -77.474776
        }
      },
      {
        position: {
          latitude: 38.964035,
          longitude: -77.101360
        }
      }
    ]
  }),
  mounted() {
    setTimeout(() => {
      const element = document.getElementById(this.name)
      const options = {
          zoom: 10,
          styles: [{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#d3d3d3"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ebebeb"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#efefef"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}],
          center: new google.maps.LatLng(38.899170, -77.059552)
      }
      this.map = new google.maps.Map(element, options)
      this.markers.forEach((marker) => {
        const position = new google.maps.LatLng(marker.position.latitude, marker.position.longitude)
        marker.map = this.map
        marker.position = position
        new google.maps.Marker(marker)
      })
    }, 500)
  },
}
</script>

