<template>
  <div>
    <section class="header_top__block">
      <div class="header_top__number">
        <a href="tel:(703) 724-4000">Call Us (703) 724-4000</a>
      </div>
      <div class="header_top_contact">
        <button @click="openPopUp()">Message Us</button>
      </div>
    </section>

    <header class="header">
      <div class="header__block header__block--left">
        <nuxt-link to="/" class="header__logo">
          <img src="/img/header/logo.svg" alt="logo"/>
          <img class="dark-logo" src="/img/header/logo-black.svg" alt="dark logo"/>
        </nuxt-link>

        <a href="http://nexthealthshop.com" target="_blank" rel="noopener noreferrer" class="header__link">
          Shop
        </a>

        <nuxt-link to="/about" class="header__link">
          About
        </nuxt-link>

        <nuxt-link to="/executive-physical" class="header__link">
          Executive Physical
        </nuxt-link>

        <nuxt-link to="/preventative-care" class="header__link">
          Preventative care
        </nuxt-link>

        <nuxt-link to="/services" class="header__link">
          Services
        </nuxt-link>

        <nuxt-link to="/contact" class="header__link">
          Locations
        </nuxt-link>
      </div>
      <div class="header__block header__block--right">
        <a href="tel:(703) 724-4000" class="header__btn btn-phone">(703) 724-4000</a>
        <button @click="openPopUp()" class="header__btn btn-contact">Message Us</button>

        <button @click="openMenu" class="btn btn__menu">
          <img src="/img/header/header-menu.svg" alt="menu"/>
          <img class="dark-menu" src="/img/header/header-menu-black.svg" alt="dark menu"/>
        </button>
      </div>
    </header>
    <LeftMenu v-if="isMenuOpen" @closed="closeMenu"/>
  </div>
</template>

<script>
  import LeftMenu from "@/components/general/Menu";
  export default {
    components: {
      LeftMenu
    },
    name: 'MainHeader',
    data: () => ({
      isMenuOpen: false,
      accountLink: ''
    }),
    methods: {
      openMenu() {
        this.isMenuOpen = true;
      },
      closeMenu() {
        this.isMenuOpen = false;
      },
      openPopUp() {
        this.$emit('openpopup', {});
      }
    },
  };
</script>
