<template>
  <div class="menu active">
    <button @click="closeMenu" class="btn btn--close-menu">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="luc4a" d="M4362.49 916.9l-8.49-8.49-8.49 8.49a1 1 0 0 1-1.41-1.41l8.49-8.49-8.49-8.49a1 1 0 1 1 1.41-1.41l8.49 8.49 8.49-8.49a1 1 0 1 1 1.4 1.41l-8.48 8.49 8.49 8.49a1 1 0 1 1-1.41 1.41z"/></defs><g><g opacity="1" transform="translate(-4342 -895)"><use fill="#fff" xlink:href="#luc4a"/></g></g></svg>
    </button>
    <nav>
      <nuxt-link class="menu__item" to="/">Home</nuxt-link>
      <div class="menu__item has-subMenu" v-on:click="isActiveCompany = !isActiveCompany" v-bind:class="{'active': isActiveCompany}">
        <span>Company</span>
        <div class="subMenu">
          <nuxt-link class="menu__item" to="/about">About Us</nuxt-link>
          <nuxt-link class="menu__item" to="/preventative-care">Preventative Care</nuxt-link>
        </div>
      </div>
      <nuxt-link class="menu__item" to="/executive-physical">Executive physical</nuxt-link>
      <nuxt-link class="menu__item" to="/services">Services</nuxt-link>
      <a class="menu__item" href="http://nexthealthshop.com/" target="_blank">Shop</a>
      <nuxt-link class="menu__item" to="/terms-of-use">Terms of Use</nuxt-link>
      <nuxt-link class="menu__item" to="/contact">Locations<!-- Contact Us --></nuxt-link>
    </nav>
    <p class="copyrigth">© 2019 NextHealth. All rights reserved.</p>
  </div>
</template>

<script>

export default {
  data: () => ({
    isActiveCompany: false,
    isActiveTerms: false,
    isActivePeptides: false
  }),
  name: 'left-menu',
  methods: {
    closeMenu: function () {
      this.$emit('closed',{});
    }
  }
};
</script>


