<template>
    <div class="preloader">
        <div class="sk-chasing-dots">
            <div class="sk-child sk-dot-1"></div>
            <div class="sk-child sk-dot-2"></div>
        </div>
    </div>
</template>