<template>
    <button :type="type" class="btn-black" v-text="value"></button>
</template>
<script>
export default {
  name: 'btn-primary',
  props: {
    type: {
      type: String,
      default: 'buttton'
    },
    value: {
        type: String,
        required: true
    }
  }
};
</script>