<template>
    <div class="disposable-tag">
        {{label}}
        <div @click.prevent.stop="$emit('close')" class="img-close"></div>
    </div>
</template>
<script>
export default {
  name: 'mutual-btn',
  props: {
    label: {
      type: String
    }
  }
};
</script>